[2012-05-30 14:43] binarybottle opened #4 "mapnode trouble"
pipeline.py lines 189-190:

flo1.connect([(atlas_reg, majority_vote,
               [('output_file', 'annot_files')])])

atlas_reg's register_atlas() function and majority_vote's multilabel() function aren't connecting properly here.  multilabel() is printing the annot_files list as ['U','U'] instead of the annot file names.

(commit 4fbef6e676110243523907c798abb42ac2e30665)

[2012-06-05 17:28] #4 closed, assigned to satra

[2012-08-21 12:29] binarybottle opened #6 "consolidate cloned nodes into a single node?"
the following part of the workflow is growing out of control:

https://github.com/binarybottle/mindboggle/blob/master/mindboggle/pipeline.py#L519

i have cloned one node many times and simply change its name and connections.  i was hoping to turn it into a mapnode, but the inputs are from other parts of the workflow and wouldn't go into a list.  is there a way?

[2012-08-22 04:28] #6 closed, assigned to satra

[2013-05-12 14:01] binarybottle opened #7 "Data and doc string Examples"
Throughout the Mindboggle code base, I've included Examples in the documentation with lines like the following:

[code]

where MINDBOGGLE_DATA is an environment variable set according to the instructions in http://mindboggle.info/users/installation.html.

​Is this reasonable, or is there a better way for users to try out functions?

I also created these examples with the goal of testing code withi

[2013-05-12 14:08] binarybottle opened #8 "Feature-based labeling"
there are three ways i've been thinking about labeling brains with mindboggle:
1. surface-based registration with freesurfer using the dkt40 or dkt100.
   this is already implemented in mindboggle's nipype.  as satra pointed out, given the DKT-40 atlas inclusion in the new freesurfer, this doesn't add anything new -- we might as well inherit freesurfer's labels, and reduce the 31 cortical labels t

[2013-05-12 14:10] binarybottle opened #9 "Standard space for data and measures"
i have a question for all of you regarding the space in which our mindboggle data are analyzed in and shape measures are generated from.

thanks to oliver, we are now able to move our mindboggle vtk surface meshes from the original space the brains were acquired in to a "standard space" where the size and orientation of brains are taken into account for an easier comparison across individuals.  an

[2013-05-12 16:03] binarybottle opened #10 "Eigensolver stability for Laplace-Beltrami measures"
Arno Klein (5/5/2013):

 i asked satra what he thought about smoothing the surface before measuring lb spectra, and he reminded us that we have to be careful because the spectra will be affected by changes in curvature, and that we should first check to see if our errors are arising from eigensolver.

satra also provided the following links for a relevant section from scikit-learn:

https://github

[2013-05-13 02:20] binarybottle opened #11 "Curvature methods"
Joachim Giard (3/4/2013):

CurvatureMain default is 0.

-m 2 is not slower but it is less exact and does not correspond exactly to the definition of curvature, but it's a good approximation.
The 3 methods take more or less the same time but it would be a lot slower to consider a larger neighborhood for -m 0 (I can't tell exactly how slower).
So, I would recommend -m 0 if you have a low resolution

[2013-05-13 12:03] binarybottle opened #12 "Fundus extraction by skeletonizing and smoothing"
Arno Klein and Yrjo Hame (5/1/2013):

Arno:
i revised the skeletonize() function to try to extract fundi from your likelihood values, and it looks like it's doing a pretty good job.  at each iteration it now removes all (non-region-boundary) endpoints, then removes only a fraction of threshold edge vertices, which ensures that high-value vertices are retained.

Yrjo:
Looks good, it seems to me tha

[2013-05-13 14:32] #11 closed, assigned to nobody

[2013-05-15 04:41] binarybottle opened #13 "Transform VTK coordinates to voxel index coordinates"
The new function transform_to_volume() in io_vtk.py is intended to transform vtk coordinates to a target (RAS) volume.  I tried applying an affine transform based on the pixel dimensions and qform offsets as per:
http://nifti.nimh.nih.gov/nifti-1/documentation/nifti1fields/nifti1fields_pages/qsform.html

However the surface and volume are not aligned.  If you run the Example, you will be able to v

[2013-05-15 16:45] #13 closed, assigned to ohinds

[2013-05-15 20:14] #9 closed, assigned to nobody

[2013-05-17 00:01] binarybottle opened #14 "Travel vs. geodesic depth"
Here is a medial view of the left hemisphere of one subject with red indicating high travel depth (top) and high geodesic depth (bottom).  They are very similar, but given the red band in the middle of the largest fold, I believe that travel depth is more suitable for extracting the deepest features such as fundi:

![travel_vs_geodesic_depth_20130515](https://f.cloud.github.com/assets/236532/51577

[2013-05-20 20:11] binarybottle opened #15 "ants Registration parameters"
I would like to obtain an affine (as well as nonlinear) transform from each image volume to a template (yet to be supplied; currently set to the MNI152 template).  For this I have included nipype's antsRegistration wrapper:
http://www.mit.edu/~satra/nipype-nightly/interfaces/generated/nipype.interfaces.ants.registration.html#examples,

but am having trouble setting the parameters according to:
htt

[2013-05-27 03:14] #14 closed, assigned to nobody

[2013-06-09 03:06] binarybottle opened #16 "Laplace-Beltrami spectra of fragments?"
Arno Klein, Forrest Bao, and Martin Reuter

Arno (5/31/2013):
can you run the lbo code on disconnected patched? if not, let's simply choose the largest patch.

Forrest (5/31/2013):
Yes, I run LBO code on disconnected patches (if it is not connected), as long as all vertices of them share the same label. If there are n disconnected patches, the LBS will have n near-zero eigenvalues.
I was wondering

[2013-06-11 20:34] ohinds opened #17 "mindboggle.labels.labels.extract_boundaries() ignores vertices adjacent to more than 2 labels."
The condition that

[code]

when building boundary_indices ensures that vertices on the boundary of more than 2 labels will not be labelled as on a boundary. This doesn't seem like desired behavior, and contradicts the documentation for the function, which says: "Label boundaries are the set of all vertices whose neighbors do not share the same label.".

One way to fix this would be to change the

[2013-06-14 18:29] #17 closed, assigned to nobody

[2013-06-14 18:51] binarybottle opened #18 "Defining surface patch boundaries"
Martin Reuter (6/12/2013):

I think you can define a boudnary vertex as one where any of its edges is on the boundary. A boundary edge is one that only is in a single triangle.

The other way does not work: and edge with both vertices on the boundary is not necessarily a boundary edge!

[2013-06-18 17:10] brianthelion opened #19 "Unit and regression testing"
All,

I am now at a point in my efforts where I need to build unit tests. It would seem, though, that the mindboggle package does not implement a comprehensive testing framework. In issue #7 there is some peripheral discussion of this topic but I thought we should consolidate it in a new thread. How would we like to proceed w.r.t testing?

Questions:
Q1) Which testing framework should we use?
Q2)

[2013-06-22 00:56] #18 closed, assigned to nobody

[2013-07-03 16:37] binarybottle opened #20 "Terms"
i put mindboggle turtle terms in a wiki, but all of the indentation disappeared, so i am including mbterms.ttl here.  in addition to some basic terms at the beginning, i include all of the (cortical) features and shape measures at the bottom.  the rdfs label for each term is used in mindboggle's current output shape tables, but the tables include extra words. for example, one column of label_shape

[2013-07-04 20:19] #15 closed, assigned to satra

[2013-07-07 01:15] #20 closed, assigned to satra

[2013-07-07 02:07] #16 closed, assigned to nobody

[2013-07-07 02:08] #10 closed, assigned to forrestbao

[2013-07-09 04:45] binarybottle opened #21 "Python 3.0?"
Question:  should we gear our first release for Python 3.x vs. 2.7?  I believe all the dependencies are supported by Python 3 and Raja had trouble importing vtk with Python 2.6 but not by 2.7.  I'm concerned about supporting two versions of Mindboggle, even with conversion utilities such as 2to3...

[2013-07-10 05:17] binarybottle opened #22 "Clean up fundus/pits extraction"
General
-----------

- many of your functions don’t list and adequately explain all of your Parameters.
- name consistently and according to PEP8 naming conventions!
- replace all xrange with range (for forward compatibility with python3,
      and no need for the “0,” in range(0, blah)

libbasin.py
--------------

you can replace this with mesh.py’s new find_adjacent_faces()

you can replace this

[2013-07-10 15:10] #21 closed, assigned to nobody

[2013-07-10 15:15] binarybottle opened #23 "OASIS-TRT-20 noncortical labels in different space"
Email exchange between Arno Klein and Andrew Worth of Neuromorphometrics (7/8-10/2013):

Arno:
the subcortex-labeled oasis-trt-20 brains have much bigger dimensions than the original oasis brains (e.g., 256x256x287 vs. 256x256x160) and are oriented differently.  can you recommend a way to put the labels in the original space of the oasis scans?

Andy:
We don't specifically pad.  We do it the same

[2013-07-10 15:15] #23 closed, assigned to nobody

[2013-07-13 02:44] binarybottle opened #24 "Decimating surface mesh patches"
To speed up the Zernike moments (and perhaps other) calculations, we need simpler surface mesh patches than the thousands of nodes in our label and sulcus meshes.  One way is to decimate the meshes (without resorting to random deletion of vertices).  Smoothing seems like a reasonable option.  Is there Apache, BSD, or MIT-licensed code we could use, or how might we best implement this?

[2013-07-21 21:37] #24 closed, assigned to nobody

[2013-07-21 22:06] #19 closed, assigned to nobody

[2013-07-21 22:11] #7 closed, assigned to nobody

[2013-07-25 03:52] #12 closed, assigned to nobody

[2013-08-09 14:38] binarybottle opened #25 "Zernike descriptors are HUGE"
Email exchange between Brian Rossa, Arthur Mikhno, and Arno Klein (8/5-7/2013):

Brian Rossa (8/5/2013):
    The Python results agree completely with the Octave results on my side, but my results do not agree with your results. The problem is that the function D_CV_orig expects "faces" to be 1-indexed -- think MATLAB -- rather than 0-indexed. We can add an "assert" to the code to check for this er

[2013-08-09 20:15] binarybottle opened #26 "Installation and dependencies"
Oliver Hinds (8/9/2013):

I'm installing mindboggle in a virtualenv on the cluster, which is desirable for my dev testing. Seems like the installation instructions in INSTALL are a little stale.

In addition to nibabel, mayavi, and nipype, i had to pip install numpy and networkx.

However, even after this I get:
Traceback (most recent call last):
  File "setup.py", line 27, in <module>
    from ni

[2013-08-23 05:43] binarybottle opened #27 "antsApplyTransforms inputs"
I have added antsRegistration to the pipeline, but am having trouble with antsApplyTransforms:

https://github.com/binarybottle/mindboggle/blob/master/mindboggle/mindboggler.py#L1767

The crash file ends with:

Node inputs:

args = <undefined>
default_value = 0.0
dimension = 3
environ = {}
ignore_exception = False
input_image = <undefined>
input_image_type = <undefined>
interpolation = NearestNeig

[2013-08-26 06:01] binarybottle opened #28 ""Segmentation fault: 11" when trying to view VTK file created by write_vtk()"
i am able to write_vtk() for a toy example:

[code]

but for some reason i am now getting a "Segmentation fault: 11" when i try to view real files, such as the following:

[code]

[2013-08-26 14:06] binarybottle opened #29 "Colormap in vtkviewer?"
Hal Canary and Arno Klein (8/25/2013):

Arno:  vtkviewer.py works great.    is there a way to change the colormap?

Hal:  Look at the line:
colorMap = vtk.vtkColorTransferFunction()
You can change those next few lines to anything you like.

Hal:
Check out the most recent version of vtkviewer.py from github/master. I've modified the VTKViewer.AddPolyData() method to accept an optional colorMap argu

[2013-08-26 19:57] #29 closed, assigned to nobody

[2013-08-26 22:33] #28 closed, assigned to forrestbao

[2013-08-28 06:33] binarybottle opened #31 "spectrum_per_label() results are not consistent with other laplace_beltrami.py functions"
for label 22, rather than getting:

[code]

as in the other functions, i'm getting:

eigsh() failed. Now try lobpcg.
Warning: lobpcg can produce different results from Reuter (2006) shapeDNA-tria software.
Compute linear FEM Laplace-Beltrami spectrum
Out[4]:
([[9.9512415855027014e-06,
   0.037430186764067855,
   0.040538097886371673,
   0.044689929817993072,
   0.051117433202677504,
   0.060568241

[2013-09-11 05:22] #27 closed, assigned to satra

[2013-09-11 14:49] #31 closed, assigned to forrestbao

[2013-09-11 15:38] ohinds opened #32 "Fundus vertices sometimes have more than two neighbors that are also fundus line vertices"
Seen at b46ffe3757f421c45c81672e3552e700991bd418, which I know is a couple weeks old. Let me know if there have been relevant changes since then and I'll try again.

I ran the mindboggle pipeline on Afterthought-1 (in /mnt/nfs-share/Mindboggle/subjects). The resulting left hemisphere fundi.vtk file indicates that the following vertices are all value '4':
75171, 75181, 75182

These vertices are als

[2013-09-12 21:55] #32 closed, assigned to nobody

[2013-10-01 15:43] binarybottle opened #33 "antsCorticalThickness.sh as input?"
My colleague Mohammad and I found that we get a better segmentation (and thickness measure) by combining FreeSurfer (FS) and ANTs (Atropos) outputs (see below and the new functions combine_whites_over_grays() and thickinthehead()).  Given that segmentation will affect mindboggle labeling, I am considering scrapping the nipype antsRegistration call in mindboggle and simply requiring recon-all & ant

[2013-10-10 15:06] #33 closed, assigned to nobody

[2013-10-10 15:16] binarybottle opened #34 "How to combine surfaces?"
I need to propagate surface labels through cortical volumes, but because mindboggle now combines ants and freesurfer segmentations and will soon accept modifications to surface labels, I don't have separate left/right cortical volume masks to fill with ants label propagation and can't use fs's label propagation.  Should I create a separate workflow for each hemisphere, and combine the altered, lab

[2013-10-17 02:09] #34 closed, assigned to satra

[2013-10-24 10:02] binarybottle opened #35 "--atlases only resulting in one DataSink output"
i have updated the mindboggle software, the mindboggle outputs in dropbox, and the mindboggle.info/users/README.html website with the new outputs.  i am happy with the output naming except for one thing: when i run mindboggle with --atlases, where the list of atlases is appended to mindboggle's default atlas, this should result in an iterable and corresponding folders distinguishing outputs from e

[2013-10-24 14:37] #35 closed, assigned to satra

[2013-10-25 01:09] binarybottle opened #36 "how to swap folder order with regexp_substitutions in nipype?"
The following did not switch the order of folder names "left_surface" and the subject name folder:

Sink.inputs.regexp_substitutions = [(r'/left_surface/(.*)/', r'/\1/left_surface/')]

[2013-10-25 05:57] #36 closed, assigned to satra

[2013-11-25 03:00] binarybottle opened #37 "Content hashing for renamed working directory"
When I rename the working directory from "/Users/arno/Desktop/working" to "/Users/arno/Desktop/working2" and try to rerun the command:

mindboggle OASIS-TRT-20-1 --ants_data ~/Data/antsCorticalThickness tmp -n 6 --freesurfer_data /desk/subjects --working /desk/working2 --out /desk/output2 --no_surfaces --thickness

I get an error:

"No such file or directory: '/Users/arno/Desktop/working/Mindboggl

[2014-02-01 04:39] #37 closed, assigned to satra

[2014-02-01 04:42] binarybottle opened #38 "nipype pipeline repeats steps when re-running mindboggle"
Arno Klein:
after running the mindboggle nipype pipeline on the 101 brains, i found that when i try to re-run the nipype pipeline, it takes a long time.  it skips a lot of steps, as it should, but then it gets to labeling and table-generating steps and then slows down as it repeats steps it already ran earlier.

Satrajit Ghosh:
set:   workflow.config['execution']['stop_on_first_rerun'] = True
and

[2014-02-14 01:33] #38 closed, assigned to nobody

[2014-02-14 01:36] #26 closed, assigned to nobody

[2014-02-16 08:17] binarybottle opened #39 "Affine transformed data way off"
The apply_affine_transform() is incorrect or is applied incorrectly, since the resulting mean positions of labels/features in standard space have values in the 200s.

https://github.com/binarybottle/mindboggle/blob/master/mindboggle/utils/io_table.py#L405

The transform itself is created by ANTs ComposeMultiTransform:

https://github.com/binarybottle/mindboggle/blob/master/mindboggle/mindboggle#L4

[2014-02-16 08:25] binarybottle opened #40 "Mean curvature values very different from FreeSurfer's"
Mindboggle mean curvature values are all negative while FreeSurfer values are all positive, and with very different absolute values (ex: subject OASIS-TRT-20-1).  Travel depth values are above 1 but all geodesic depth values are between 0 and 1.  I'll need help figuring these things out.

curvature() is run here:
https://github.com/binarybottle/mindboggle/blob/master/mindboggle/mindboggle#L776
whi

[2014-02-28 19:43] binarybottle opened #41 "provenance crashing"
If I don't comment out the following line, mindboggle crashes:

config.enable_provenance()

[2014-02-28 19:46] #41 closed, assigned to satra

[2014-03-19 20:21] #25 closed, assigned to brianthelion

[2014-03-19 20:31] brianthelion opened #42 "Zernike refactor"
1) Legacy code should be moved into the test suite.
2) Test suite should be updated.
3) File proliferation should be reduced or eliminated.
4) Code should be PEP8 compliant.
5) Remaining MATLAB idioms should be replaced with Numpy idioms.

Anything else?

[2014-04-22 14:49] njhunsak opened #43 "404 Error when installing Mindboggle"
I receive a 404 error when trying to install Mindboggle. The 404 error is associated with:

[code]

[2014-04-24 02:07] binarybottle opened #44 "Zernike KeyError"
Brian -- I don't remember this happening before, but most of the zernike_moments_per_label() calls are failing for labeled regions, and some are failing for sulcus regions.  For example, when I try to run the function on the following vtk file, I get a "KeyError":

[code]

[2014-04-26 03:39] #44 closed, assigned to brianthelion

[2014-06-01 17:08] #40 closed, assigned to joachimgiard

[2014-06-02 15:06] brianthelion opened #45 "Implementation of Koehl's method for calculating geometric moments"
The current method for calculating Zernike moments depends on first calculating the geometric moments for the mesh. This is the slowest step in the algorithm, by far.

The current implementation depends on a method due to Pozo that is O(N^6). Koehl proposes a recursive method that is O(N^3).

[2014-06-11 20:51] #45 closed, assigned to brianthelion

[2014-07-23 13:16] khamael opened #46 "TraitError: Cannot set the undefined 'invert_transform_flags'"
Traceback (most recent call last):
  File "/usr/local/bin/mindboggle", line 1850, in <module>
    xfm.inputs.invert_transform_flags = warp_inverse_Booleans
traits.trait_errors.TraitError: Cannot set the undefined 'invert_transform_flags' attribute of a 'ApplyTransformsInputSpec' object.

This happens on my very first run with: mindboggle template --ants_segments template/outputSegmentation.nii.gz

[2014-07-23 22:15] binarybottle opened #47 "Missing sulci in the Mindboggle-101 brains"
I used mindboggle to extract folds from the (manually labeled) Mindboggle-101 brains. A label boundary defined as a sulcus in the DKT labeling protocol must be in a mindboggle-extracted fold to be detected as a sulcus.  When Elias Chaibub Neto analyzed shape measures in these brains, he found that all callosal sulci were missing from all hemispheres, and that the following four sulci were also mis

[2014-07-23 22:18] #47 closed, assigned to nobody

[2014-09-29 03:51] #39 closed, assigned to nobody

[2014-09-29 03:53] #46 closed, assigned to nobody

[2014-09-29 11:20] binarybottle opened #48 "Joint fusion atlas construction bug"
There was misalignment between the subcortical and cortical labels in the individual OASIS-TRT-20 brains (http://mindboggle.info/data.html).  It seems that s​ome of the brain images corresponding to the subcortical label files were assigned to the wrong cortical files, leading to misalignment.  This may affect the accuracy of the joint fusion atlas constructed from these combined label volumes.

[2014-09-29 11:22] #48 closed, assigned to nobody

[2014-10-30 16:08] binarybottle opened #49 "How many surface labels?"
I left the following message on NeuroStars (http://neurostars.org/p/2680/):

"I am preparing to release a new version of the Mindboggle software (http://mindboggle.info) and need to make a decision about output labels and am requesting feedback from the community.

As is described in Mindboggle's labeling FAQ, the volume outputs (labels, volumes, thicknesses) use the 31 cortical labels per hemisph

[2014-11-09 18:13] binarybottle opened #50 "Mindboggle installation file"
The setup_mindboggle.sh bash script sometimes works and sometimes does not because one or another thing would not install unless I rerun those particular lines of the script.

[2014-11-10 07:48] #50 closed, assigned to nobody

[2014-11-10 07:49] #49 closed, assigned to nobody

[2014-12-08 18:28] #43 closed, assigned to nobody

[2015-02-15 22:21] binarybottle opened #52 "Zernike memory issue"
Mindboggle is crashing on many subjects with a memory limit set to 2G:

Satrajit Ghosh (2/15/2015):
150215-15:17:45,874 workflow INFO:
         Executing node Zernike_sulci.a1 in dir: /om/scratch/Tue/ps/MB_work/734db8e05f6be469df79c1419f253ad7/Mindboggle/Surface_feature_shapes/_hemi_rh/Zernike_sulci
Load "sulci" scalars from sulci.vtk
  8329 vertices for label 1
Reduced 160076 to 15921 triangular

[2015-02-18 21:28] brianthelion commented on #52
What kind of behavior would we expect or prefer here? I'll take a look while I'm on cleanup duty.

[2015-02-18 21:38] brianthelion commented on #42
@binarybottle: I finally have some time to put on this cleanup task. Unfortunately I haven't tracked our priorities w.r.t tasks 1-5 listed above. Is documentation the only thing that remains to be done at this time? Cheers!

[2015-02-19 23:03] binarybottle commented on #42
I believe documentation was the only thing left to do, but after Satra found that a 2GB memory limit was exceeded by computing Zernike moments, this strikes me as extremely important to address!

From Satra:
150215-15:17:45,874 workflow INFO:
Executing node Zernike_sulci.a1 in dir: /om/scratch/Tue/ps/MB_work/734db8e05f6be469df79c1419f253ad7/Mindboggle/Surface_feature_shapes/_hemi_rh/Zernike_sulci

[2015-02-20 18:56] brianthelion commented on #42
Ok, see me comments on #52.

[2015-02-20 18:59] satra commented on #52
the basic question is what are the memory requirements of that function.

[2015-02-20 19:53] brianthelion commented on #52
Sorry to get pedantic here, but @satra can you just give a few bullets or a shell script describing the workflow that produces the issue? For example, srun accepts several different memory-bounding arguments and I want to make sure that I know what's what.

If I understand correctly, the "ask" here is for a new feature in the Zernike code that returns a "required memory" estimate for a particular

[2015-02-20 20:36] brianthelion commented on #42
@binarybottle Is there a particular documentation standard that you're sticking with on Mindboggle?

[2015-02-20 20:48] binarybottle commented on #42
If you take a look at any of the other scripts, you'll see that I use restructured text.  I use Sphinx to create docs from the code.  Does that answer your question?

[2015-02-20 20:50] brianthelion commented on #42
@binarybottle Yep! Thanks.

[2015-02-23 13:26] satra commented on #52
@brianthelion - actually we just want to know what the memory requirements are. for example for a standard brain mesh size of about 2 hemi x (100k vertices + 100k faces), i'm seeing memory spikes upto 22 GB when running mindboggle. so we need to know/describe to users what are the memory requirements for the different steps. if i don't run the zernicke step of mindboggle, the rest of mindboggle ap

[2015-02-24 04:42] brianthelion commented on #52
My first-pass reading of the [code](https://github.com/binarybottle/mindboggle/blob/master/mindboggle/shapes/zernike/pipelines.py#L323) is that the memory usage *should* only be a function of the moment order, `N`, and the number of worker threads. The size of the mesh is not a factor AFAICT.

More specifically, the thread pool iterates over the faces in the mesh, calculating the contribution of e

[2015-02-25 18:58] brianthelion commented on #52
@binarybottle Are you able to reproduce this issue? My time to deliver a potential fix is pretty limited, so the sooner we can get it through triage the better.

[2015-02-25 19:48] binarybottle commented on #52
Satra ran thousands of images on Amazon and on the MIT cluster, and found this spike on many cases, so I would defer to Satra's having adequately reproduced this problem.

[2015-02-25 20:23] brianthelion commented on #52
I have absolute faith that @satra  is seeing a real issue. I need a greater level of specificity, though, to determine whether or not there's an actual bug. @binarybottle if you can provide some basic debug output under the failure mode, that would get me a long way down the road.

[2015-02-25 20:46] satra commented on #52
@brianthelion - i'll try to get more specifics this weekend.

[2015-02-25 21:44] brianthelion commented on #52
Thanks, @satra!

[2015-02-25 21:47] binarybottle commented on #52
Thank you, Satra!

[2015-03-04 18:08] satra opened #53 "mindboggle table output issues"
0. ants thickinthehead has no output (just the header row).
1. frontomarginal sulcus is 0 for everybody
2. the csv files are all strings (i.e. requires me to look and figure out what's a number, a label, and a list). if you are going to store numbers and lists, this should be json
3. some of the csv files are not formatted consistently or properly, they have spaces with numbers

[2015-03-05 07:11] binarybottle commented on #53
Thank you, Satra!

First let's tackle the thickinthehead:

I just ran thickinthehead from within iPython and it worked just fine, outputting to the command line and to a table reasonable values.  i also ran the following command:

mindboggle Twins-2-2 --ants /Users/arno/antsCorticalThickness/Twins-2-2/antsBrainSegmentation.nii.gz --thickness --no_surfaces -p 3

This command also completed without

[2015-03-05 10:44] binarybottle commented on #53
Just to be sure, have you tried running the most recent version of mindboggle?

[2015-03-05 13:52] brianthelion commented on #52
Any updates here? Thanks!

[2015-03-05 14:07] satra commented on #52
yes and no. i can replicate the error when i run it on it's own, but not when i'm memory profiling it.

i have limited it to the zernicke function. i had to step away from this - but i'll look at it again soon.

[2015-03-05 23:41] binarybottle commented on #52
I will disable Zernike moments from the --all option until this is resolved...

[2015-03-06 04:22] satra commented on #53
i'm using this version:

7cecab8d1ea5c9ed2975728a67e38320be166fa0
Date:   Sun Feb 8 21:29:43 2015 -0800

also it looks like some of the volumes do not contain the full assortment of labels.

[code]

[2015-03-06 04:25] binarybottle commented on #53
I believe that was an ephemeral bug that you happened to catch in your net!
You need a more recent version to squash it!!!

[2015-03-07 02:47] satra commented on #53
current master fails to run:

[code]

[2015-03-07 03:10] binarybottle commented on #53
I am sorry, Satra -- it should work now.

[2015-03-07 05:23] satra commented on #53
[code]

[2015-03-07 05:28] binarybottle commented on #53
Yeesh -- I removed this second reference to hemi as well.

Please try again!

[2015-03-07 08:50] satra commented on #53
more errors!

[code]
the error above is raised with these inputs below

[code]

[2015-03-07 12:08] binarybottle commented on #53
Great catch, Satra -- thank you!  I have been using this function with an equal number of old and new labels, so I didn't catch the silly error in the conditional statement that checks if they're the same size -- this of course doesn't make sense if you don't specify new labels.  Anyway, I am sorry to ask you to try again, but please try again!

[2015-03-07 14:40] satra commented on #53
### Issue 1

this output is not getting any input: `'features.@fundus_per_sulcus': None,`

### Issue 2

and this file is still empty:

[code]

#### and this is the empty chain

[code]

so the antsApplyTransforms step is taking the right set of inputs and then generating empty labels.

here are the transforms i see, and that doesn't make sense:
[code]

the template being used in antsct is nick's ad

[2015-03-07 23:17] binarybottle commented on #53
Satra --

Issue 1:  The --all option doesn't result in fundus extraction, so unless you've explicitly called --fundi, they won't be generated.  Did you call --fundi?

Issue 2:  Thank you so much for this detailed account!  I will try to think clearly after an hour's sleep (app launch imminent).  As you rightly point out when referring to the chain of commands, antsApplyTransforms is the step to fo

[2015-03-07 23:45] satra commented on #53
@binarybottle - in the ants command above why are there two paths for templates? it looks like the -f option uses OASIS_atropos template? should i just use the OASIS atropos template for everything?

how do i download the OASIS atropos template? i see one one synapse, but i don't want to download a file at a time. is there a zip file somewhere?

also is it different from this oasis template?

http

[2015-03-08 00:28] binarybottle commented on #53
Can you give me a call right now?
On Mar 7, 2015 3:45 PM, "Satrajit Ghosh" <notifications@github.com> wrote:

[2015-03-08 04:38] binarybottle commented on #53
As you confirmed, the OASIS Atropos templates on mindboggle's site and on figshare.com are the same.  I just added a clear section at the top of the Mindboggle-101 webpage:

http://www.mindboggle.info/data.html#software-data

[2015-03-08 09:36] binarybottle commented on #53
Satra -- regarding your original message:
"- the csv files are all strings (i.e. requires me to look and figure out what's a number, a label, and a list). if you are going to store numbers and lists, this should be json
- some of the csv files are not formatted consistently or properly, they have spaces with numbers"

I understand why json is a good fit for specifying the data types, but I don't k

[2015-03-08 13:36] satra commented on #53
[code]

[2015-03-08 13:39] satra commented on #53
`do_fundi` should be False rather than commented out.

[2015-03-08 15:26] satra commented on #53
now these files have all zeros: tables/left_surface/[sulcus|label]_shapes.csv

[2015-03-08 21:18] binarybottle commented on #53
Clearly I should never quickly debug after an hour's sleep.
I just set do_fundi = False by default.

[2015-03-08 22:35] satra commented on #53
@binarybottle -- any thoughts on why these are all zero?

[2015-03-08 22:55] binarybottle commented on #53
I assumed that the bug I introduced (commenting out do_fundi) threw a monkey wrench into the works, so just to be sure I am starting clean, I am reinstalling everything from scratch right now and will run a test once ANTs is finished installing...

[2015-03-08 23:02] satra commented on #53
thanks!

[2015-03-09 04:52] binarybottle commented on #53
As I wrote to you outside of GIthub, I realized that when I recently moved the mindboggle.info website to Github pages, I also moved the files that are accessed and cached by mindboggle.  Fixing now...

[2015-03-09 09:54] binarybottle commented on #53
You're going to get a laugh out of this, Satra.  Remember those references to 'hemi' above?  We needed them after all!  I put them back in and now we have volume and surface labels restored.

[2015-03-09 13:53] satra commented on #53
still 0s in the surface tables.

i deleted my work directory, cache directory and output directory and reran mindboggle based on current master. i don't think you pushed your changes.

[2015-03-09 16:13] binarybottle commented on #53
After all that, I didn't push?  I need to be more pushy!

(pushed and bushed)

[2015-03-09 16:13] #53 closed

[2015-03-19 19:48] brianthelion commented on #52
@satra Any progress on this issue? Thanks!

[2015-04-21 17:26] brianthelion commented on #52
Ping!

[2015-04-23 00:55] satra commented on #52
pong! sorry i have had no time to test this issue. unfortunately this will require me to carve out an hour or two and those have been a little scarce! i do need to run a bunch of mindboggle output next month, so i will try to test it then.

[2015-05-09 02:38] satra commented on #52
ok - so here is the issue:

https://github.com/binarybottle/mindboggle/blob/master/mindboggle/shapes/zernike/pipelines.py#L232

multiprocessing doesn't use shared memory and makes copies of every data bit that's passed through `map_async` which is used in the line above and in a few other places.

the `Pool` is initialized without any arguments, which would in my case generate 40 or 64 processes,

[2015-05-11 20:38] brianthelion commented on #52
Satra, Thanks for the follow-up! Do you actually mean [line 352](https://github.com/binarybottle/mindboggle/blob/master/mindboggle/shapes/zernike/pipelines.py#L352)? The default pipeline is now KoehlMultiproc. See [line 367](https://github.com/binarybottle/mindboggle/blob/master/mindboggle/shapes/zernike/pipelines.py#L367).

[2015-05-12 00:06] satra commented on #52
@brianthelion - it's actually the same pattern that's used throughout that file. i just used one example to highlight it.

[2015-07-10 18:23] cMadan opened #54 "Example output"
It would be great if there example output provided (e.g., from FreeSurfer's "Bert"), so I can see what the output would look like, before setting up MindBoggle.

[2015-07-10 18:26] binarybottle commented on #54
Great suggestion!  I will include example output for the forthcoming official launch...

[2015-07-12 08:03] #54 closed

[2015-07-12 15:33] cMadan opened #55 "Regions used in mindboggle"
In the FAQ (http://www.mindboggle.info/faq/labels.html), there is some rationale outlined for combining some of the regions that are delineated in the DKT atlas, e.g., combining the three inferior frontal regions into a single region. However, in the example mindboggle output, it appears that the three regions are not combined (e.g., thickinthehead_per_freesurfer_cortex_label.csv). I can see that

[2015-07-13 08:04] binarybottle commented on #55
Thank you very much!  I have confirmed in Neurostars that Mindboggle's default is 31 cortical surface labels per hemisphere, and I have revised the http://mindboggle.info/faq/labels.html and mindboggle/mio/labels.py documentation so that they all clearly state this.

I used to have an argument where one could set the labeling protocol to either 31 or 25 labels to conduct experiments just like the

[2015-07-13 08:04] #55 closed

[2015-10-05 17:28] bcipolli opened #58 "argument ordering of read_vtk and write_vtk differ"
I would hope/expect that the order of values output by `read_vtk` allows them to be fed back to `write_vtk`. Instead,

I would suggest changing one to match the other, so I can do:
[code]

[2015-10-06 22:27] binarybottle commented on #58
Done -- please give it a try!

[2015-10-06 22:27] #58 closed

[2015-10-07 14:06] bcipolli opened #60 "Decimate does not work well with three.js"
If I `decimate` the individual ROI surfaces, parse using `VTKLoader.js` and try to display via `three.js`, I get about 33% of the surfaces having invalid vertex indices that cause a javascript error (see below):

(note: If I `decimate` the label vtk before `exploding` into ROIs, I don't have the problem, but the result doesn't look great):
![image](https://cloud.githubusercontent.com/assets/407245

[2015-10-07 14:15] bcipolli commented on #60
My current workaround: if, after decimating, I call `explode_scalars` to simply read/rewrite the file, it works:
![image](https://cloud.githubusercontent.com/assets/4072455/10340058/1bdbdf1c-6cc3-11e5-92ac-11a8442b9294.png)

I'm not sure if the file format is not compatible with three.js, or if the vtk loading code is simply more robust to errors.

[2015-10-07 14:33] bcipolli commented on #58
tested, works :+1: thanks!

[2015-10-08 21:37] bcipolli opened #61 "Control verbosity level"
Currently, functions like `explode_scalars` print to the console without any ability to control it. Most packages take a `verbose` flag (or something similar), allowing users to control the amount of output (importantly, silencing it when needed).

I recommend something similar

[2015-10-08 21:39] bcipolli opened #62 "Python 3 compatibility"
I don't think there are many packages being released with only Python 2.7 support these days; most have dual 2.7/3.x compatibility, others just have 3.x compat.

Current codebase doesn't support Python 3.x

[2015-10-08 21:41] bcipolli opened #63 "Basic continuous integration"
Highly recommend to have some very basic unit tests and use `travis.ci` to validate that a merge doesn't break the build. Matters less now before release, but post-release it could help a lot, and it doesn't take too much to do...

[2015-10-08 21:41] binarybottle commented on #62
Great point.  Do you know where this codebase does not support 3.x?

[2015-10-08 21:53] bcipolli commented on #62
I do not. I know that some of the print statements don't (that's what caused errors when I tried to run with 3.x), but I haven't really looked.

[2015-10-08 23:19] satra commented on #62
nipype doesn't have 3.x support yet (in the pipeline), but won't happen till early next year or unless i get a free week sometime.

[2015-10-09 18:21] bcipolli commented on #62
Trying to push those things forward. Lemme see what I can do this weekend with @alexsavio !

[2015-10-13 02:06] bcipolli commented on #63
Chatted with @binarybottle , and decided this is a priority. I'm working on this here:
https://travis-ci.org/bcipolli/mindboggle

[2015-10-13 14:42] bcipolli opened #64 "Compute actual desired cache location in `fetch_data.py`"
in `mindboggle/mio/fetch_data.py`, both a cache environment variable and a cache location are returned:
[code]
It seems simpler to return a cache location like this:
`cache = os.environ.get('MINDBOGGLE_CACHE', os.path.join(os.environ['HOME'], 'mindboggle_cache'))`

It should also make downstream code much simpler.

[2015-10-13 23:34] njhunsak opened #65 "could not run node: Mindboggle.Volume_labels.FreeSurfer_cerebellum_ANTs_cerebrum"
Have you encountered this error before? Any help would be greatly appreciated. I'm so close and would really love to have this program run sans errors! Thanks. Naomi

[code]

[2015-10-14 02:29] binarybottle commented on #65
I'm afraid I haven't run into this error before.  If the two image volumes are not the same shape, it makes me wonder whether the function called the correct volumes.  Did you use the standard inputs with antscorticalthickness.sh and mindboggle?  When I run into a nipype error, I either type "nipype_display_crash [crash file]" to see what the inputs and outputs were, or I go to the function's corr

[2015-10-14 03:27] binarybottle commented on #64
I replaced the cache line but kept the cache_env line because I need to return it:

    cache_env = 'MINDBOGGLE_CACHE'
    cache = os.environ.get(cache_env, os.path.join(os.environ['HOME'],
                                                   'mindboggle_cache'))

[2015-10-14 03:27] #64 closed

[2015-10-14 21:20] njhunsak commented on #65
Hum. Wasn't able to figure much out from the pklz files. But looking at the input images, the ants_labels.nii.gz_to_ants_labels.nii.gz_through_combined_segmentations.nii.gz file in the Combine_ANTs_cortex_noncortex_labels directory is totally blank where the wmparc.mgz.nii.gz file in the Extract_FreeSurfer_cerebella shows the right and left cerebellum. I'm guessing then something is going wrong wh

[2015-10-14 21:37] binarybottle commented on #65
Good sleuthing.  As long as your PREFIX results in a segmented file whose full path you can call as SEGMENTS in the mindboggle command (e.g., "mindboggle SUBJECT --ants SEGMENTS"), then you should be okay.  I don't recommend using a different template, because the labels of the OASIS label fusion atlas won't coincide with the anatomy of another template.  Are you using the NKI10andUnder template i

[2015-10-15 19:24] njhunsak commented on #65
I am using the NKI10andUnder template instead of the OASIS-30 Atropos template in the antsCroticalThickness.sh command. However, I reran antsCorticalThickness.sh with the OASIS-30 template and I still get the same problem. The `ants_labels.nii.gz_to_ants_labels.nii.gz_through_combined_segmentations.nii.gz` file is blank. Hence, this is the crash output I get. At what point in the pipeline is the `

[2015-10-15 22:41] binarybottle commented on #65
The working subdirectory where you are running into a problem, FreeSurfer_cerebellum_ANTs_cerebrum, is the penultimate step of the volume portion of the mindboggle pipeline where FS and ANTs images are combined, just prior to volume feature extraction.  You can generate a flow diagram like the one below by adding "-g hier" to your mindboggle command.  If you backtrack upstream through the flow dia

[2015-10-15 23:24] njhunsak commented on #65
Oh thanks for the info on getting the hierarchy generated. I was a little overwhelmed at the thought of doing that manually!

[2015-10-23 05:17] binarybottle commented on #65
Were you able to resolve your problem?

[2015-10-23 05:30] binarybottle commented on #63
Thank you for recommending travis-ci -- what an incredible resource!

I have been using Continuum's miniconda's python and to install some python libraries, including vtk:

conda install --yes numpy scipy matplotlib pandas nose networkx traits vtk ipython
VTK_DIR=${INSTALL_PREFIX}/lib/vtk-5.10

I see with travis, you are specifying a python version and trying to install vtk independently after wge

[2015-10-23 05:31] binarybottle commented on #62
How did this effort go?

[2015-10-23 05:34] bcipolli commented on #63
Sure; I had no idea how to best install VTK, so I found a sample travis script and copied that. Your way sounds more reliable!

[2015-10-23 05:35] bcipolli commented on #62
We got travis tests passing, but a few failures on circleci (another CI engine) that were odd and hard to debug. So... it should be good enough for you to proceed, but possible you might hit an issue for us to fix with nipype.

[2015-10-23 06:03] binarybottle commented on #63
travis supports testing on quite a few different versions of python, but miniconda's downloads include only 2.7 and 3.4 (http://conda.pydata.org/miniconda.html).  Should I simply copy mindboggle/setup_mindboggle.sh and replace the miniconda download version when I wish to test 2.7 vs. 3.4?

[2015-10-23 06:04] bcipolli commented on #63
Yep. You can also call the setup script from .travis.yml; they will have cloned your repo by that point.

[2015-10-23 06:06] binarybottle commented on #63
How do you call the setup script from within .travis.yml?

Cheers,
@rno

Arno Klein <http://binarybottle.com>
brain imaging, visualization
mobile health, open science
Sage Bionetworks <http://sagebase.org>

On Fri, Oct 23, 2015 at 2:04 AM, Ben Cipollini <notifications@github.com>
wrote:

[2015-10-23 06:09] bcipolli commented on #63
I do everything by finding examples. Try calling the script in the `before-install` block:
https://github.com/nipy/nibabel/blob/master/.travis.yml#L47

[2015-10-23 10:58] njhunsak commented on #65
Nope. But I haven't had the time to focus on it either.

[2015-10-23 11:29] satra commented on #63
also see: https://github.com/Theano/Theano/blob/master/.travis.yml

then you can also do: conda install vtk

[2015-11-19 13:08] pog87 opened #68 "could not install mindboggle (with Vagrant)"
I tried to install mindboggle in my environment (Mac osX) without success.
This is what I did
[code]

that generated Vagrantfile
when I tried
[code]
I got the following error

[code]

what could be the problem?

thanks for helping :smiley:

[2015-12-08 07:02] binarybottle opened #69 "C++ compilation issue on MacOSX with the new VTK (6 or 7)"
When make is run within mindboggle/surface_cpp_tools/bin after running cmake, I get an odd error, where it is trying to access an old (10.7 vs. 10.11) SDK:

Lutchi:bin arno$ make
[  7%] Built target FsSurfaceReader
[ 15%] Built target GradientComputer
[ 23%] Built target MeshAnalyser
[ 30%] Built target PointAreaComputer
[ 38%] Built target Overlap
[ 46%] Built target TravelDepth
[ 53%] Built targ

[2015-12-08 21:32] binarybottle opened #70 "Linux install: libGLU.so error during C++ compilation"
When trying to compile the C++ code on linux:

"No rule to make target `/usr/lib/x86_64-linux-gnu/libGLU.so'"

[2015-12-08 21:33] binarybottle commented on #70
To avoid the error, I followed the advice on http://techtidings.blogspot.com/2012/01/problem-with-libglso-on-64-bit-ubuntu.html and added the following to the setup_mindboggle_vm script:

if [ $OS = "linux" ]; then
    mkdir /usr/lib64
    ln -s /usr/lib/x86_64-linux-gnu/libGLU.so.1 /usr/lib64/libGLU.so
fi

[2015-12-08 21:33] #70 closed

[2015-12-08 23:17] binarybottle commented on #69
I was able to circumvent this by adding the following above the project() line in the top CMakeLists.txt file:

# https://cmake.org/Bug/view.php?id=14695
SET(MACOSX_DEPLOYMENT_TARGET ${DARWIN_MAJOR_SDK_VERSION}.${DARWIN_MINOR_SDK_VERSION})
SET(CMAKE_CXX_FLAGS "--sysroot ${CMAKE_OSX_SYSROOT} ${CMAKE_CXX_FLAGS}")
MESSAGE("Setting MACOSX_DEPLOYMENT_TARGET to '${MACOSX_DEPLOYMENT_TARGET}'.")
#SET(CMAK

[2015-12-10 10:33] binarybottle commented on #68
There have been a number of changes that demanded the creation of a new mindboggle setup script, vagrant configuration file, and resulting virtual machine (most notably migration from VTK 5 to version 6).  After following the instructions at the top of setup_mindboggle_vm to build and configure a box, when I run "vagrant ssh mindboggle" and type "mindboggle -h" I get the following error, even thou

[2015-12-10 13:34] satra commented on #68
have you tried uninstalling mindboggle within vagrant and checking?

[2015-12-10 19:33] binarybottle commented on #68
Yes -- it does remove the file:

[2015-12-10 19:47] satra commented on #68
is it possible that the main `mindboggle` script is not being updated:

`/home/vagrant/anaconda/bin/mindboggle`

[2015-12-10 19:49] binarybottle commented on #68
I don't think so, because I download Miniconda and install both miniconda and mindboggle within virtualbox.

[2015-12-10 19:50] satra commented on #68
if you look at the error message you posted, the mindboggle script is calling the LABELS module.

[2015-12-10 20:10] binarybottle commented on #68
That's the thing -- LABELS.py used to be in the mindboggle repo, but isn't any longer.  See https://github.com/nipy/mindboggle/blob/master/setup.py

[2015-12-10 20:50] satra commented on #68
what i mean is that there is an actual line of code (47 in mindboggle) that is calling LABELS.py. if that line is there, then the mindboggle script has not been updated, if it's not there, then i'm at a loss.

so check line 47 in this file:

`/home/vagrant/anaconda/bin/mindboggle`

[2015-12-11 02:22] binarybottle commented on #68
The mindboggle script is indeed an old version, but when I install mindboggle on a new VM with a new installation of miniconda, etc., there it is.  So where is it coming from?

[2015-12-11 02:28] binarybottle commented on #69
I get a new error now on MacOSX that I can't figure out:

Scanning dependencies of target FsSurfaceReader
[  3%] Building CXX object CMakeFiles/FsSurfaceReader.dir/FsSurfaceReader.cpp.o
In file included from /software/mindboggle/surface_cpp_tools/FsSurfaceReader.cpp:13:
In file included from /software/mindboggle/surface_cpp_tools/FsSurfaceReader.h:16:
In file included from /usr/local/include/vtk-6

[2015-12-11 02:34] satra commented on #68
@binarybottle - can you point to the installation docs or steps to use with the vm?

[2015-12-11 02:40] binarybottle commented on #68
Yes -- all you need is:
https://github.com/nipy/mindboggle/blob/master/setup_mindboggle_vm
and
https://github.com/nipy/mindboggle/blob/master/setup_mindboggle.sh

The docstring of the former gives instructions for building a box:

    # Run this file in your setup directory, and build the box:
    python setup_mindboggle_vm --build --install
    vagrant up build
    VBoxManage list vms  # to find

[2015-12-11 02:51] satra commented on #68
the script installs to miniconda, whereas the above error points to anaconda.

[2015-12-11 08:08] binarybottle commented on #68
Perhaps because the miniconda.sh file starts with the following (check the last line)?:

#!/bin/bash
# Copyright (c) 2012-2013 Continuum Analytics, Inc.
# All rights reserved.
#
# NAME:  Miniconda
# VER:   2.2.2
# PLAT:  linux-64
# DESCR: 1.8.0-148-g6d709c8
# BYTES:  19855284
# LINES: 321
# MD5:   77c5900df2c991b29f0ce031c957a7c7

unset LD_LIBRARY_PATH
echo "$0" | grep '\.sh$' >/dev/null
if (( $?

[2015-12-11 13:19] satra commented on #68
this is what miniconda latest looks like:

[code]

(from: https://repo.continuum.io/miniconda/)

[2015-12-11 15:26] bcipolli commented on #69
Do you have Xcode installed? This answer says one issue is if it is not installed:
https://stackoverflow.com/questions/29357618/clang-fatal-error-unistd-h-file-not-found

Another finds finds the issue with XCode installed (but reports things work with gcc):
https://stackoverflow.com/questions/33793281/unistd-h-file-not-found-clang-and-os-x

[2015-12-11 17:37] binarybottle commented on #69
Thank you, Ben.  I just got an answer on the vtkusers mailing list:

David Gobbi wrote:

...

Now the error I get seems to have nothing to do with the C++ code, but with a library path:

    [ 57%] Building CXX object travel_depth/CMakeFiles/TravelDepthMain.dir/TravelDepthMain.cpp.o
    make[2]: *** No rule to make target `/software/anaconda/lib/libpython2.7.dylib', needed by `travel_depth/TravelD

[2015-12-11 23:42] binarybottle commented on #69
David Thompson wrote to the vtkusers mailing list:

[2015-12-12 06:53] binarybottle commented on #69
David Gobby wrote to the vtkusers mailing list:

[2016-02-22 13:15] binarybottle commented on #69
Exchange on vtkusers@vtk.org mailing list with David Gobbi and others (Jan. 6-8, 2016):

me to David, vtkusers@vtk.org
Jan 6
Thank you all so much for your kind help.  Unfortunately, I am still unable to compile the C++ code in my project on MacOSX, even after setting the following in my top-level CMakeLists.txt file:
SET(CMAKE_OSX_DEPLOYMENT_TARGET "10.7")

When I type:
$ export VERBOSE=1
$ make

[2016-02-25 18:24] binarybottle commented on #69
I am not able to install Mindboggle on MacOSX 10.11 with VTK 6 yet, and I don't wish to revert to the deprecated VTK 5, so for now I will work on the Linux installation, which doesn't have the same problems.

[2016-02-29 06:43] binarybottle commented on #52
@satra and @brianthelion -- Do Zernike moments still require 2GB RAM, or were you able to find a resolution to this issue?

[2016-02-29 06:45] binarybottle commented on #42
@brianthelion -- If you are unable to devote any more time to documentation of the code, shall I close this issue?

[2016-02-29 06:46] binarybottle commented on #22
I will close this issue, as the line-based fundus extraction is not currently being used by Mindboggle.

[2016-02-29 06:46] #22 closed

[2016-02-29 06:51] binarybottle commented on #60
@bcipolli -- So that I'm clear, do you believe that the decimation function is saving the files in a format not compatible with three.js, and that reading/rewriting (with explode_scalars() or with read_vtk()/write_vtk()) results in a three.js-amenable format?

[2016-02-29 06:54] binarybottle commented on #61
I have included a verbose flag in most of mindboggle's functions, so that when I run py.test, outputs do not include print statements.

[2016-02-29 06:54] #61 closed

[2016-02-29 06:59] binarybottle commented on #62
@bcipolli and @satra -- I have fixed all print statements, but don't know where mindboggle is not 3.x-compliant.  I also don't know which dependencies might cause an issue (numpy scipy matplotlib pandas networkx vtk ipython nibabel nipype).  Shall I make a break and work toward 3.x compatibility?  If so, how would you recommend I best do this?

[2016-02-29 07:21] binarybottle commented on #63
I have written high-level doctests for almost all of mindboggle's functions.  Functions pull test data from http://media.mindboggle.info/data/ where necessary:

Travis worked great for all but a couple functions in the features directory, because they take more than 10 minutes to complete.  On @satra's recommendation, I would like to move over to circleci so that it will enable continuous integrat

[2016-02-29 07:27] binarybottle commented on #65
I have revised these functions and added doctests to pull sample data and run the functions on those data.  They pass the tests, so you might wish to give it another try.  You would need to reinstall Mindboggle on linux using the install script (https://github.com/nipy/mindboggle/blob/master/install/install_mindboggle.sh).  I am also finishing up work on a virtual machine that you will be able to

[2016-02-29 07:27] #65 closed

[2016-02-29 14:12] bcipolli commented on #60
@binarybottle Yes, that's my belief.

[2016-02-29 16:02] bcipolli commented on #62
I usually start running the tests in Python 3.x locally, then debug the failures. I do search/replace to find and correct failures, rather than edit per-file.

The automated tools to do conversion are awful, IMHO, so I avoid them. I make great use of `[six](https://pythonhosted.org/six/#module-six.moves)`, which I prefer over `past` and `future`. I also use the following website to help manage bet

[2016-02-29 18:48] binarybottle commented on #68
@pog87 --

There have been a number of changes that demanded the creation of a new mindboggle linux installation script, vagrant configuration file, and resulting virtual machine (most notably migration from VTK 5 to version 6).  You can install mindboggle (which is nearing completion and official release, to coincide with the release of FreeSurfer 6) with the new vagrant configuration script:

ht

[2016-02-29 18:48] #68 closed

[2016-03-02 03:18] binarybottle commented on #60
Perhaps writing out the vtk file using vtk.vtkPolyDataWriter() in the decimate() function might not be the way to go.  I'm not sure what to replace it with, but given that you found a workaround, would you mind submitting a pull request to include the read/rewrite so that the output of the function will behave well for future roygbiv/three.js work?  Were you able to do so for files with multiple l

[2016-03-09 20:26] binarybottle commented on #69
I updated Mindboggle to run on Python 3 with VTK 7, hoping that these changes would overcome the VTK 5/6 issues we're getting on MacOSX, but alas I get the following error:

Standard error:
dyld: Library not loaded: @rpath/./libvtkDomainsChemistryOpenGL2-7.0.1.dylib
  Referenced from: /software/mindboggle/vtk_cpp_tools/bin/travel_depth/TravelDepthMain
  Reason: image not found
Return code: -5
Inte

[2016-03-10 08:06] binarybottle opened #72 "ReadTheDocs not generating API docs"
I would like to use readthedocs.org to provide continuous documentation for the mindboggle Github repo.  I am currently able to build all the API docs locally without any errors, but when I push to the Github repo, the mindboggle.readthedocs.org Builds website tells me that the latest build has passed, but nothing shows up for py-modindex.html.  (I should mention that all of my docstrings use the

[2016-03-10 08:27] binarybottle commented on #62
According to Chris Bare:
"The strategy people seem to use is to write Python 2/3 compatible code, which mainly involves using the Python 3 idioms and importing back-ports from future."  He recommended the same site as @bcipolli and said "You should also learn to love these lines:
# -*- coding: utf-8 -*-
from __future__ import absolute_import
from __future__ import division
from __future__ import p

[2016-03-10 08:31] #42 closed

[2016-03-10 09:14] binarybottle commented on #63
Circleci.com error for build #331 (python 3):

conda install cmake pip numpy scipy matplotlib pandas networkx vtk ipython
Fetching package metadata: ....
Solving package specifications: ....

The following specifications were found to be in conflict:
  - cmake
  - conda -> conda-env
  - conda -> pycosat
  - conda -> python 2.7*
  - conda -> pyyaml
  - conda -> requests
  - conda-env (target=conda-

[2016-03-10 09:22] bcipolli commented on #62
I actually hate the `future` package. I hate the old `print` syntax and absolute imports (less portable), and the hidden magic around unicode (that usually works, but can also lead to confusing errors when interfacing with code that needs explicit encodings)

Rather than pretend things are Python 2-ish (like all the imports listed above are), I prefer to migrate to python 3-ish, and use `six` to b

[2016-03-10 09:27] binarybottle commented on #62
If possible, I would like to forego py2 and just embrace py3 and avoid all these workarounds.  Unfortunately, I am running into installation conflicts with conda (which is in turn messing up circleci).

[2016-03-10 12:59] satra commented on #62
why would you do that?

@bcipolli - as you know we used this for nipype. i did find it much cleaner than the six approach which is more about making py 2 code py 3 usable, while future is about making py 3 code, py2 usable.

[2016-03-10 13:00] satra commented on #42
@binarybottle - was this fixed?

[2016-03-10 13:01] satra commented on #63
vtk7 is not available on conda yet - that's what is causing your issues.

[2016-03-10 18:44] binarybottle commented on #42
Since the only lingering part of the discussion was the question of documentation, I didn't think it helpful to keep this issue open.

[2016-03-10 18:47] binarybottle commented on #63
And no version of vtk comes up for "conda list" for miniconda3, for linux or macosx.  Should I try to install vtk from scratch?  If so, I wonder why I even bother with miniconda, since vtk is the most unreasonable of dependencies?

[2016-03-10 18:54] binarybottle commented on #62
Sorry for being unclear.  I followed http://python-future.org/compatible_idioms.html to treat dict keys, values, and items as a lists:

keylist = heights.keys() -> keylist = list(heights)
valuelist = heights.values() -> valuelist = list(heights.values())
itemlist = heights.items() -> itemlist = list(heights.items())

No need to import anything, and it works for py2 or py3.

[2016-03-10 19:41] satra commented on #63
because vtk7 was just released and the issue as to it's packaging is still open.

[2016-03-10 19:49] satra commented on #62
@binarybottle - ah that's fine.

[2016-03-16 19:04] grlee77 commented on #69
Hi @satra
I installed the Python 3.5 package from your conda channel and the `vtk_cpp_tools` also compiled fine with that one.  I have VTK_DIR set to the corresponding path in my py35 environment:
/Users/lee8rx/anaconda/envs/py35/lib/cmake/vtk-7.0

p.s.
I did not try using the mindboggle install scripts.  I just manually navigated to vtk_cpp_tools/bin and then ran cmake-gui where I changed VTK_DIR

[2016-03-16 19:05] satra commented on #69
thanks @grlee77 - @binarybottle does this solve your issue?

[2016-03-16 20:32] brianthelion commented on #52
@binarybottle What's needed here is support for allocating ndarrays in shared memory. On other projects I'd used [this](https://github.com/sturlamolden/sharedmem-numpy), but it seems that its currently un-maintained. I don't see other good implementations out there that support the standard numpy array interface, but maybe @satra  can point at something.

Without shared memory support, the options

[2016-03-17 03:21] binarybottle commented on #69
Thank you for checking, @grlee77 -- I am also able to compile Mindboggle's vtk_cpp_tools:

[code]
but when I try to run mindboggle I get the following error:

[2016-03-17 16:10] binarybottle commented on #69
I tried to follow this advice to set the rpath for MacOSX's GLUT, with no luck:

http://stackoverflow.com/questions/9263256/can-you-please-help-me-understand-how-mach-o-libraries-work-in-mac-os-x
https://github.com/realm/SwiftLint/issues/169

I wasn't able to find the following vtk*OpenGL libraries when compiling with cmake by adding the following to the root directory's CMakeLists.txt file:

find

[2016-03-17 20:51] grlee77 commented on #69
I will take a quick look, but I am afraid I don't know much about .dyld files and rpath on OS X.  I spend most of my development time on linux.

[2016-03-17 21:03] grlee77 commented on #69
I can see where the executable is looking for the libraries by calling:

`otool -L TravelDepthMain`
[code]
I can also verify that those .dylib files do exist in ~/anaconda/lib.

So it seems like rpath would need to be the lib subfolder of the anaconda environment where those .dylib files reside.  I read about a tool called `install_name_tool` that is probably what is needed to fix this.  Are you f

[2016-03-17 21:06] grlee77 commented on #69
sorry, I see the link you posted above was about the install_name_tool.  should have read that first :)

[2016-03-17 21:12] grlee77 commented on #69
@binarybottle  is your most recent comment for VTK 7.0?  You have 6.0 listed in the final lines there.
I think the reason you can't find various OpenGL libraries is that VTK 7 uses a newer "OpenGL2" backend, so the library names contain OpenGL2 instead of OpenGL:

I find the .dyld files for the following ones in ~/anaconda/lib
libvtkInteractionStyle
libvtkRenderingFreeType   (I don't see a version

[2016-03-17 22:27] binarybottle commented on #69
Thank you for finding these libraries!  If I add the following to the root ITK CMakeLists.txt file:

[code]
then it compiles fine once again, but when I run mindboggle, I once again get the error:

In the subdirectories (such as vtk_cpp_tools/area), do I need to make similar changes to the CMakeLists.txt files?  Currently they have at top:

[code]

and at the bottom:

[code]

[2016-03-17 23:59] grlee77 commented on #69
I am primarily a Python developer and don't have much CMAKE experience, so I can't answer the question.  I found the following related to setting RPATH in CMAKE, though:
http://www.vtk.org/pipermail/vtkusers/2013-June/079988.html
https://cmake.org/Wiki/CMake_RPATH_handling
http://public.kitware.com/pipermail/vtkusers/2007-March/040475.html

It sounds like by default usr/lib/ and /usr/local/lib wou

[2016-03-18 01:22] satra commented on #69
@grlee77 - i'm going to bring this back to the conda-recipes - this really has to do with how conda packages things on OSX. they have had issues with VTK in the past as well.

[2016-03-18 04:42] binarybottle commented on #69
Thank you, @grlee77, for the relevant links!  The second one looks like it contains some promising settings, but now I am too confused to know which settings I should try.  I think I will concentrate on the linux installation of VTK for now and hope that @satra's strategy of bringing this issue back to the conda-recipes bears fruit, unless either of you has a suggestion.

[2016-04-06 08:09] binarybottle opened #73 ""No module named 'vtk'" error after installing VTK 7 and running Python 3"
After running most of the install_mindboggle.sh script, which installs Miniconda with Python 3, VTK 7, etc., I get the error "No module named 'vtk'" when trying to import vtk in iPython.  I couldn't find any options when I cmake'd VTK related to Python.  What am I missing?

[2016-04-06 13:20] satra commented on #73
you are building VTK but not ensuring that it's built with python support and installed into a python environment.

i would still suggest installing it directly using conda, instead of building it:

https://anaconda.org/search?q=platform%3Alinux-64+vtk

and if you are going to build it, build with the conda recipe.

[2016-04-06 20:14] binarybottle commented on #73
Thank you!  When I copy and paste the lines from install_mindboggle.sh into an ubuntu vm, I am able to import vtk in ipython.  However, if I call install_mindboggle.sh from within build_mindboggle.sh, which builds a vm, then vagrant up and vagrant ssh, and finally run mindboggle, I get:

"ImportError: No module named 'vtk'"

[2016-04-06 20:17] satra commented on #73
it's because your environment is likely not using the same python in both cases. you have to study vagrant to understand when things are persistent.

[2016-04-06 20:35] binarybottle commented on #73
So even if I install Python 3 (Miniconda3-latest-$OS-x86_64.sh) and add it to .bash_profile (export PATH=$CONDA_PATH/bin:\$PATH" >> $ENV), it still won't know which Python?  Do I need to set PYTHONPATH or something in .bash_profile?

[2016-04-06 20:51] satra commented on #73
for this line:

https://github.com/nipy/mindboggle/blob/master/install/install_mindboggle.sh#L121

you could simply do:

export PATH=$CONDA_PATH/bin:$PATH

it's possible that the source command isn't doing the right thing.

you can also check your python path, right before you do make.

[2016-04-07 02:31] binarybottle commented on #73
I tried this to no avail, but I am not surprised that it didn't help, considering I am able to run mindboggle, conda, and within a python console I am able to import mindboggle, nipype, and nibabel, just not vtk.  I will try again to see what I get when I type "python" before I do make, but right now it is Continuum's Python 3.5.1.

[2016-04-07 10:27] binarybottle commented on #73
Working (with the original echo export line), with a few changes.
Thank you!!!

[2016-04-07 10:27] #73 closed

[2016-04-07 20:52] binarybottle commented on #62
Rewrote to Python 3, which is running fine...

[2016-04-07 20:52] #62 closed

[2016-04-07 20:58] binarybottle opened #74 "Which is the best way to install nipype for Mindboggle/Python 3?"
Should I run?:

    - conda install lxml
    - pip install prov traits future simplejson # nose
    - git clone https://github.com/nipy/nipype.git $HOME/nipype
    - cd $HOME/nipype
    - python setup.py install

Or?:
    - conda install lxml
    - pip install prov traits future simplejson # nose
    - pip install nipype
    - pip install --upgrade https://github.com/nipy/nipype/archive/master.zip

[2016-04-07 21:18] nicholsn commented on #74
@satra will have the real answer, but this is what I use for a minimal install w/conda:
[code]

[2016-04-07 21:36] satra commented on #74
the simplest thing that should work is:

[code]

this is what i often do to drill into my head all the dependencies, and to leverage conda's scipy and lxml - we hope to simplify a lot of this after the upcoming release. the situation has become a little unfortunate with both lxml (in general) and traits (on python 3.x)

[code]

[2016-04-07 22:00] binarybottle commented on #69
The new conda install for VTK 7 worked on linux:
`conda install -c https://conda.anaconda.org/clinicalgraphics vtk`

So I tried another for macosx:
`https://anaconda.org/menpo/vtk`

Unfortunately, I got the @rpath errors again...

[2016-04-11 04:16] binarybottle commented on #74
Thank you!  Only thing that's missing is I am unable to generate graphs with this setup.  Do I need to install graphvis as well?

[2016-04-11 04:37] binarybottle commented on #63
Now that I am able to run the python 3 version of mindboggle on linux with vtk 7, why am I still getting the error on circleci.com:

[code]

[2016-04-11 12:55] satra commented on #74
@binarybottle - yes, you will have to do that separately, since graph generation is optional.

[2016-04-11 12:56] satra commented on #63
@binarybottle - i don't know - this would be a good thing to debug with their ssh debugging.

[2016-04-11 17:53] binarybottle commented on #74
Thanks -- I'll add it, because I love graphs!

[2016-04-11 17:53] #74 closed

[2016-04-11 18:12] binarybottle commented on #63
When I ssh in, I can import vtk just fine.  What's going on?!

[2016-04-12 04:07] binarybottle commented on #63
Well, I am able to install Mindboggle just fine on a VM, or with the install_mindboggle.sh script, and I get no error when I run "python -c 'import vtk'", but when I SSH into circleci.com, I continue to get the above error, even when I try to set the PATH, PYTHONPATH, or LD_LIBRARY_PATH to /home/ubuntu/miniconda3/lib/cmake/vtk-7.0.  Any suggestions?

[2016-04-12 12:32] satra commented on #63
on circleci where is vtk getting installed? i'm assuming that's happening without an error. it is possible that vtk is not getting installed in the same python as the python you are using to run the tests. so when you ssh, find out which python you are calling and check it's site-packages. also check the site-packages of the other python binaries on the system.

[2016-04-13 13:13] binarybottle commented on #63
You are absolutely correct about the discrepancy in pythons.  I have been in communication with the folks at Clinical Graphics about their conda vtk installation (https://anaconda.org/clinicalgraphics/vtk).

Korijn Van Golen:

Ivo Flipse:

[2016-04-16 07:10] binarybottle commented on #63
Finally -- All paths are finally working on build #498!:
https://circleci.com/gh/nipy/mindboggle/498

Thank you for your help!  I have updated the circle.yml file after following the excellent advice on http://stiglerdiet.com/blog/2015/Nov/24/my-python-environment-workflow-with-conda/

The https://github.com/ilastik/ilastik/blob/master/circle.yml and https://circleci.com/docs/config-sample/ links

[2016-04-21 00:37] akeshavan opened #75 "antsCorticalThickness version?"
I ran antsCorticalThickness but the names of my outputs are slightly different than what mindboggle wants. For example, in https://github.com/stnava/ANTs/blob/master/Scripts/antsCorticalThickness.sh#L104 the output is TemplateToSubject**0**GenericAffine.mat but mindboggle looks for TemplateToSubject**1**GenericAffine.mat. Is there a particular version of ANTs that I should be using? It seems like

[2016-04-22 03:05] binarybottle commented on #63
As of build 541, all tests for the python 3 version of mindboggle are passing (when the circleci service doesn't time out)!

[2016-04-22 03:05] #63 closed

[2016-04-22 03:09] binarybottle commented on #75
If your antscorticalthickness.sh outputs don't match those here:
http://media.mindboggle.info/data/cache/ants/arno/
(or in the reduced example.tar.gz link on http://mindboggle.readthedocs.org/en/latest/),
then you are using an old version of ANTs.

By the way -- I just translated mindboggle from py2 to py3.  All tests pass on circleci.com's continuous integration, but I would wait till I have a ch

[2016-04-22 17:55] akeshavan commented on #75
Ok I figured out my version problem, thanks!

[2016-04-22 17:55] #75 closed

[2016-04-22 19:05] binarybottle commented on #75
If you think the resolution to your issue might help others, please consider including what you found.

[2016-04-22 22:59] akeshavan commented on #75
It was silly, I just had 2 versions of antsCorticalThickness floating around and I was using the wrong one :)

[2016-04-26 01:41] binarybottle commented on #72
conf.py now runs 'bash api_build.sh' to automate API doc generation.

[2016-07-02 04:49] binarybottle opened #77 "Colormap (XML format) generated by group_colors() doesn't work on vtkviewer.py or Paraview"
The colormap generated by [colors.py](https://github.com/nipy/mindboggle/blob/master/mindboggle/mio/colors.py#L798-L812) doesn't work on vtkviewer.py and the color order is incorrect in Paraview.

I tried to follow the matplotlib colormap format example generated by Matlab code provided in Paraview's documentation -- http://www.paraview.org/Wiki/Colormaps -- perhaps the x= and o= values are incorr

[2016-11-07 19:07] njhunsak opened #82 "undefined reference to `memcpy@GLIBC_2.14'"
Unfortunately I will not be able to  use the Docker option on the computing cluster I have access to so I have to compile it myself. However, I continue to get the following issue (see attached image). The compute cluster runs Red Hat Enterprise Linux Server release 6.6 (Santiago), so different from running this on Ubuntu 14.04. I also tried to compile mindboggle on a local computer running Ubuntu

[2016-11-07 22:27] binarybottle commented on #82
Dear Naomi,

Did you try to install this from the install_mindboggle.sh script?  That
script uses miniconda, which is supposed to make it easier to access
dependencies such as VTK.  It would be really easy for people to install a
non-container version of Mindboggle with a conda-forge entry for
mindboggle, but I don't know how to go about building that.  Alternatively,
if your cluster allows access

[2016-11-08 17:06] njhunsak commented on #82
I am trying to install from the install_mindboggle.sh script and got the error even though I am using miniconda. I'll look into the singularity option as well. Thanks. Naomi

[2016-11-08 17:18] binarybottle commented on #82
I'm sorry you are having difficulty.  Please do tell me how your
Singularity attempt goes!

On Mon, Nov 7, 2016 at 2:07 PM Naomi H. <notifications@github.com> wrote:

[2016-11-09 15:35] njhunsak commented on #82
Singularity is a no go on my cluster, but it seems like I can't get mindboggle to run on any system I have access to using the install script or Docker. When I run the `docker build -t bids/mindboggle .;` command, it fails (here's the full output of that process: [build.txt](https://github.com/nipy/mindboggle/files/581118/build.txt)). Interestingly though, I'm able to run `docker run --rm -ti -v $

[2016-11-10 21:33] njhunsak commented on #82
I was able to get docker to build once I made these edits to the Dockerfile:

[code]

After I ran `docker build -t bids/mindboggle .;` successfully, I was able to run `docker run --rm -ti -v $PATH_ON_HOST:/root/data --entrypoint /bin/bash bids/mindboggle;`. Right now I'm using the "mindboggle_input_example" data set to see if it runs and so far so good.

Naomi

[2016-11-10 21:50] binarybottle commented on #82
This is great news!  Thank you for helping to find a fix to the build!

[2016-11-25 14:53] jnecus opened #83 "Installation issues"
I am attempting to setup mindboggle on Ubuntu 14.04.

I have tried both installation methods (install_script.sh and 'docker'). Here is why neither seems to be working:

**install_script.sh:**

Installation seems to have processed fine, however when I attempt to run 'mindboggle -h' from a terminal I get the error 'cannot import nipype, module not recognised'.

I have installed nipype and neccessary

[2016-11-25 15:56] satra commented on #83
@jnecus: this command should be with back quotes:

[code]

regarding docker the `-v` flag takes a mapping of an external directory to an internal directory,

so you may want to do something like:

`-v /home/joe/Desktop/data/ADNI/:/ADNI` this will make the data available inside the corner at that location.

[2016-11-25 16:14] jnecus commented on #83
Hi Satra,

Thank you for for help, really looking forward to getting this working. I have attached a shot of my terminal output following your instructions.

![image](https://cloud.githubusercontent.com/assets/18306309/20630645/20fa72e8-b32a-11e6-83a3-a96619795dbe.png)

[2016-11-28 15:39] binarybottle commented on #83
@jnecus -- In the installation instructions (http://mindboggle.readthedocs.io/en/latest/), I specify a mount directory in Docker as follows:

PATH_ON_HOST=/;
docker run --rm -ti -v $PATH_ON_HOST:/root/data \
    --entrypoint /bin/bash bids/mindboggle;

Please try to set yours to /root/data as well to access your ADNI data.

@satra -- any idea why @jnecus cannot import nipype when doing a non-docke

[2016-11-28 15:57] jnecus commented on #83
**Regarding Docker install**

The following command (and all manipulations of it appear to lead me to the same position whereby I see the empty folders data/ and mindboggle/ as per the screenshot.

`docker` run -ti -v /home/joe/Desktop/data/ADNI/:/root/data --entrypoint /bin/bash bids/mindboggle

**Regarding the non-docker install:**
When I change the shebang line at the top of the usr/local/bin/m

[2016-11-30 05:54] binarybottle commented on #83
**Re: Docker install**

I am having success after first removing all docker containers and images (https://techoverflow.net/blog/2013/10/22/docker-remove-all-images-and-containers/), then following the build instructions above.  Perhaps if you try mounting the root directory (PATH_ON_HOST=/) as in the example you will be able to see your file tree?

**Re: non-Docker install**

If a different sheba

[2016-11-30 11:47] jnecus commented on #83
**Docker install**

I successfully removed all docker containers and images as you suggested the entered the following command:
PATH_ON_HOST=/;
`docker run --rm -ti -v $PATH_ON_HOST:/root/data --entrypoint /bin/bash bids/mindboggle;`

Whatever I do I seem to reach the same position whereby I can only see empty data/ and mindboggle/ folders and cannot access my local filesystem.

**Non-docker insta

[2016-11-30 21:25] binarybottle commented on #82
@akeshavan fixed the Dockerfile after you pointed out the change that needed to be made, and the new one on github (https://github.com/BIDS-Apps/mindboggle/blob/master/Dockerfile) has been working for me.  Shall I close this issue?

[2016-11-30 22:10] binarybottle commented on #83
**Re: docker installation**
To make sure that you are using Docker correctly, and to determine whether the problem has anything to do with Mindboggle, please try to mount a directory according to the instructions on this site:
https://linuxconfig.org/how-to-share-data-between-a-docker-container-and-host-system-using-volumes

**Re: non-docker installation**
I have run into this problem before, wher

[2016-12-01 00:30] jnecus commented on #83
**Docker install**

I managed to successfully create and mount a directory to docker following the provided tutorial

**Non-docker**

My default python distribution is the following

`which python`

For example, this is what happens  if I type into the terminal the following:

[code]

Do you have a suggested way of completely removing my manual mindboggle install?

[2016-12-01 16:20] iamjoostjanssen opened #84 "mindboggle for gyral crown lines"
Hi,

This is a request. Perhaps the fundi script can somehow be tweaked to achieve this. If anybody has pointers let me know.

Thnx

[2016-12-01 19:40] binarybottle commented on #83
I am happy to hear that you are able to mount a directory to docker now.  What was the problem?

You should be able to completely remove your mindboggle installation by removing the install/mindboggle directory that the install_mindboggle.sh script creates.  If you installed mindboggle using "python setup.py install" inside the mindboggle repository, then you can list and remove all files as per t

[2016-12-01 19:47] binarybottle commented on #83
I have also updated the install_mindboggle.sh script so that it doesn't assume a Vagrant installation by default: https://github.com/nipy/mindboggle/blob/master/install_mindboggle.sh

[2016-12-02 18:57] jnecus commented on #83
**Docker install**

Sorry if I wasn't clear in my last post. What I meant was that I was successfully able to  remove all docker containers and images, and also successfully able to create a file and then mount it via the tutorial which you posted. **However,** when I attempt to mount to docker using the following code `docker run --rm -ti -v path/to/my/files:/root/data --entrypoint /bin/bash bids

[2016-12-02 22:20] akeshavan commented on #83
Is your issue similar to this: https://github.com/docker/docker/issues/22981 ?

What does the error say? Usually, a crash file is created and you can view it using `nipype_display_crash /path/to/crashfile`

[2016-12-02 22:51] jnecus commented on #83
The docker issue is similar, however, I am using a linux machine with Ubuntu 14.04, not Windows 10.

nipype_display_crash doesnt seem to work for me. Errors are as posted above:
could not run node: Mindboggle.Fetch_Mindboggle_atlas  &
could not run node: Mindboggle.MRI_mgh_format

[2016-12-02 22:55] satra commented on #83
@jnecus - could you try mounting the external drive at a different location (e.g., /xyz) and then check.

[code]

regarding `nipype_display_crash` can you instead check if you have `nipypecli` using `which nipypecli`. if so the new command is call `nipypecli crash`.

[2016-12-02 23:15] jnecus commented on #83
When I enter the code that you suggested:
[code]
I am able to see my file structure under the folder /xyz

I have attached the mindboggle crash file output:

[crash1.txt](https://github.com/nipy/mindboggle/files/628502/crash1.txt)

[2016-12-03 01:29] akeshavan commented on #83
I remember this bug, I thought I fixed it! It looks good here: https://github.com/binarybottle/mindboggle/blob/master/mindboggle/mindboggle#L452 but not good here: https://github.com/nipy/mindboggle/blob/master/mindboggle/mindboggle#L452

@binarybottle it seems like the nipy/mindboggle and binarybottle/mindboggle aren't in sync?

[2016-12-03 01:56] binarybottle commented on #83
@akeshavan --

This is very odd -- you did make this fix (https://github.com/nipy/mindboggle/commit/0d6804c98a01f1b9f6453f72909b96ed63302e64), so  I just updated the nipy mindboggle repo accordingly.  But why then would my docker runs be working without error while the manual installs ran into this error?  Both should be installing the nipy mindboggle repo.

[2016-12-03 10:23] jnecus commented on #83
@binarybottle relating to Docker:

After reinstalling docker (took a while) I can not access my filestructure within the mindboggle container. The question is: after setting mindboggle running using 'nohup', if I unmount and then re-mount, my 'mindboggled' files are no longer there. How am I supposed to find the outputs and then download them onto my host machine?

[2016-12-03 22:05] jnecus commented on #83
@binarybottle  After removing and re-installing Docker, I am now able to successfully mount to docker, see my files, and run mindboggle.

The issue that I now face is that if I exit docker while running mindboggle then the processes fail. This is still the case when I use the command `nohup &` . Do you know of a way to ensure that background processes continue to run?

[2016-12-03 23:18] binarybottle commented on #83
@jnecus -- The docker and non-docker installs were cloning two different mindboggle repositories, but @akeshavan fixed this so that they now both clone the nipy/mindboggle repository.  I just tested out the docker and non-docker (in a Virtualbox Ubuntu 14.04 virtual machine) installations on my MacOS laptop, and Mindboggle ran to completion for both setups.  Could you please give it another try, @

[2016-12-03 23:23] binarybottle commented on #82
@njhunsak -- As logged in https://github.com/nipy/mindboggle/issues/83, I just tested out both the Docker and non-Docker (in a Virtualbox Ubuntu 14.04 virtual machine) installations on my MacOS laptop, and Mindboggle ran to completion for both setups.  I am closing this issue, but please feel free to reopen it if you run into trouble.  Thank you again for your help!

[2016-12-03 23:23] #82 closed

[2016-12-04 10:12] jnecus commented on #83
I am now running in Docker. I have used to command ctrl-p, ctrl-q to cause the Docker to continue to run in the background (assuming this will work with mindboggle?).

If it runs through to completion I will try the non-docker install and let you know and hopefully this issue can then be closed.

[2016-12-04 13:39] binarybottle commented on #83
Thank you!  Please tell me how it goes.

[2016-12-04 14:15] jnecus commented on #83
Update:

Docker:

Docker failed with crash relating to mgh format:   [MRI_mgh_format_crash.txt](https://github.com/nipy/mindboggle/files/629569/MRI_mgh_format_crash.txt) .

I think that this is due to my freesurfer output missing an mri/orig/001.mgz file - would you expect this to be the case? I am now re-running with a freesurfer subject which contains this file.

Non-Docker:

Failure with the fo

[2016-12-04 15:02] binarybottle commented on #83
**Docker**

I'm not sure why you got the error in your crash file ("The trait 'base_directory' of a DataGrabberInputSpec instance is an existing directory name, but the path  '/root/data/Mindboggle_test241116/ADNI' does not exist." @satra -- any idea?), but Mindboggle does use the 001.mgz and orig.mgz files.  Why is your FreeSurfer output missing these files?  Didn't you run recon-all?

**Non-Dock

[2016-12-05 15:02] jnecus commented on #83
Update:

Both docker and non-docker installs have run to completion without generating crash files :+1:

Thanks for your support. Now to take a look at the outputs..

[2016-12-05 15:37] binarybottle commented on #83
Great!  So happy to hear.  Thank you for your help and for your patience.  I will close this issue, but I encourage you to open new issues for any new problems you run into!

[2016-12-05 15:37] #83 closed

[2016-12-10 00:43] dbkeator opened #85 "Install error: "list of sources could not be read""
Hi,
Trying to install on MAC-OSx ver. 10.11.6.  Following command "docker build -t bids/mindboggle .;" I get the following error:

Executing: gpg --ignore-time-conflict --no-options --no-default-keyring --homedir /tmp/tmp.13TFyRT0pF --no-auto-check-trustdb --trust-model always --keyring /etc/apt/trusted.gpg --primary-keyring /etc/apt/trusted.gpg --recv-keys --keyserver hkp://pgp.mit.edu:80 0xA5D32

[2017-01-08 14:48] sunhuaiqiang opened #86 "The neurodebian repository seems to have been removed for ubuntu 15.04"
Hi Arno,
I encounter an error when I build the image, the problem located at line 40 of the dockerfile. The neurodebian repository seems been removed for ubuntu 15.04.

[2017-01-09 14:13] iamjoostjanssen opened #87 "Running GeodesicDepthMain"
Hi,

Our goal: to run the geodesic depth binary (GeodesicDepthMain).

Within our docker container we can run the mindboggle command (from command line) and use it to generate e.g. traveldepth AND geodesic depth.
we can also run the TravelDepthMain binary:
TravelDepthMain:

but when we run the GeodesicDepthMain binary we get:
ERROR: In /home/maxcg/miniconda3/conda-bld/work/VTK-7.0.0/IO/Legacy/vtkDa

[2017-01-11 15:46] binarybottle commented on #86
@mih writes of Neurodebian:

"Ubuntu vivid has reached "end-of-life" almost a year ago. We do not support things beyond the vendor's supported life span (hard to keep up without this anyways). You can find information on the life spans of ubuntu releases here:  https://wiki.ubuntu.com/Releases
-- I suggest you either base on an Ubuntu LTS, or on Debian stable to max out the lifetime."

[2017-01-12 08:33] iamjoostjanssen commented on #87
Solved.

[2017-01-12 13:26] binarybottle commented on #87
@iamjoostjanssen -- How did you resolve this issue?

[2017-01-12 14:40] iamjoostjanssen commented on #87
If you provide GeodesicDepthMain with the required inputs it runs. It thus appears that in our docker mindboggle distribution when running TravelDepthMain as a standalone without any input will give the Usage options whereas GeodesicDepthMain does not.

[2017-01-12 18:57] binarybottle commented on #87
Thank you!

[2017-01-12 18:57] #87 closed

[2017-01-20 11:44] diegombeltran opened #88 "Can't compile TravelDepthMain"
`Scanning dependencies of target TravelDepthMain
[ 57%] Building CXX object travel_depth/CMakeFiles/TravelDepthMain.dir/TravelDepthMain.cpp.o
make[2]: *** No rule to make target '/usr/lib/x86_64-linux-gnu/libSM.so', needed by 'travel_depth/TravelDepthMain'.  Stop.
make[1]: *** [travel_depth/CMakeFiles/TravelDepthMain.dir/all] Error 2
CMakeFiles/Makefile2:345: recipe for target 'travel_depth/CMakeF

[2017-01-21 01:15] akeshavan commented on #88
Hi @diegombeltran - I'm working on this now, but in the meantime, you don't need to build the Docker image to use it. An already built version lives on docker-hub: `docker pull bids/mindboggle`

[2017-01-21 01:16] akeshavan commented on #86
hi @sunhuaiqiang - I'm working on this, but in the meantime, you don't need to build the docker image to use it. It already exists on docker-hub, you can pull it by running `docker pull bids/mindboggle`

[2017-01-27 20:17] mfleisch5 commented on #85
I'm receiving the same error, it says the same thing except I either get a non-zero code: 100 or a non-zero code: 2. Very interesting.

[2017-01-27 20:32] akeshavan commented on #85
You should be able to use the already-built image on[ DockerHub](https://hub.docker.com/r/bids/mindboggle/)! `docker pull bids/mindboggle` followed by the docker run command: ` docker run -ti -v /Users/keshavan/Downloads/mindboggle_input_example/bids:/root/data --entrypoint /bin/bash bids/mindboggle`

[2017-01-27 21:41] binarybottle commented on #85
The installation page (http://mindboggle.readthedocs.io/en/latest/#installing-mindboggle) accidentally had "build" rather than "pull" in the docker command -- I apologize for the confusion!

[2017-01-27 21:41] #85 closed

[2017-01-27 21:42] binarybottle commented on #86
The installation page (http://mindboggle.readthedocs.io/en/latest/#installing-mindboggle) accidentally had "build" rather than "pull" in the docker command -- I apologize for the confusion -- please use the updated command!

[2017-01-27 21:42] #86 closed

[2017-01-27 21:43] binarybottle commented on #88
The installation page (http://mindboggle.readthedocs.io/en/latest/#installing-mindboggle) accidentally had "build" rather than "pull" in the docker command -- I apologize for the confusion!

[2017-01-27 21:43] #88 closed

[2017-01-27 21:54] satra opened #90 "create a mindboggle option that starts with a T1"
@binarybottle - shall we create a version of mindboggle that starts with a T1, and optional T2 for freesurfer, and runs through everything. it will take a while, but may be easier for users. it would create the outputs as:

participant_id
- freesurfer
- ants
- mindboggle

[2017-01-27 22:33] binarybottle commented on #90
@akeshavan has built the docker image that supports bids/freesurfer, so we could create a new docker image with freesurfer installed and simply update the documentation.  What do you think, Anisha?

[2017-01-30 21:54] akeshavan commented on #90
@satra @binarybottle I started working on it, but then I hit that weird error when compiling travel_depth! This branch has the freesurfer dockerfile https://github.com/BIDS-Apps/mindboggle/blob/freesurfer/Dockerfile#L1 -- I'll take another stab at it later this week!

[2017-01-31 15:56] iamjoostjanssen opened #91 "Release Date"
Hi,

I see Release date changes (v1.0.0 is now 27th Jan 2017). What has changed with respect to previous Release date (early December 2016 I believe)?

Thanks!

[2017-02-01 16:52] binarybottle opened #92 "circleci tests and vtk"
circleci tests are failing in the master branch because of the vtk error we have seen in different linux installations:  https://circleci.com/gh/nipy/mindboggle/844

Do we need to specify the version of ubuntu that circleci is running?
- https://github.com/nipy/mindboggle/blob/master/circle.yml
- https://github.com/nipy/mindboggle/blob/master/environment.yml

[2017-02-02 01:00] binarybottle commented on #91
No worries -- Only the documentation has been updated.  I will tag this release.

[2017-02-03 05:58] binarybottle commented on #91
I created a tag for this release to coincide with the publication of the Mindboggle article in PLoS Computational Biology:
https://github.com/nipy/mindboggle/releases/tag/v1.0.0

[2017-02-03 05:58] #91 closed

[2017-02-03 06:00] binarybottle commented on #92
Solved:  I changed circleci's default ubuntu to 14.04 (it was 12.04) and added the following to the circleci.yml file:

    pre:
        - sudo apt-get update; sudo apt-get install libllvm-3.3

[2017-02-03 06:00] #92 closed

[2017-02-03 14:55] binarybottle commented on #90
Will the solution to issue #92 help resolve this?

[2017-02-04 16:14] satra opened #93 "mindboggle docker"
@akeshavan - we should add the Dockerfile to mindboggle itself so that mindboggle maintains the docker container building.

and then the bids app can be as simple as FROM nipy/mindboggle

[2017-02-24 18:23] geowk opened #94 "Problems with installer_script.sh"
Helllo,

I'm ran into some issues with the installer_script.sh for mindboggle.

We are currently using linux, ubuntu 14.04.

We've run each command in the installer script line by line.

For line 159:

pip install nibabel prov xvfbwrapper traits

Everything works except for the following:

Collecting trait
  Could not find a version that satisfies the requirement trait (from versions: )
No matchin

[2017-02-26 20:40] neuropil opened #96 "Unable to run example data using Docker on Windows"
I am using an installation of mindboggle on Windows 10.

No matter how I set my PATHS in Docker, I am unable to run MindBoggle on the example data.

I have attempted to run mindboggle by directly indicating the location of the example data:
:~# mindboggle C:\Users\DrJTHome\mindboggle_input_example\freesurfer\subjects\arno

I get the same error: ‘Please provide correct path to DATA’

Any help would

[2017-02-28 10:00] knutj commented on #94
I have the same problem on Fedora 25

[2017-03-01 23:32] Shuo-Han opened #97 "run mindboggle/mio/colors.py in python3"
to run using python 3:
line 507 should be changed to something like
` if len(IDs) == 0: `
instead of
`if not IDs:`

[2017-03-02 16:29] Shuo-Han opened #99 "CIELch colormap"
Is there any code "uniformly sampled hues from the CIELch cylinder" according to the poster "An interactive tool for constructing optimal brain colormaps"?

[2017-03-03 03:17] binarybottle commented on #99
Sure is!  Please see:
https://github.com/nipy/mindboggle/blob/master/mindboggle/mio/colors.py

[2017-03-03 03:17] #99 closed

[2017-03-03 04:11] binarybottle commented on #97
Resolved, along with the other two lines you modified in your pull request:

 +    if len(IDs) == 0:
 +    if len(names) == 0:
 +    if len(groups) == 0:

[2017-03-03 04:11] #97 closed

[2017-03-20 15:57] chrisfilo commented on #96
Are you using:

[code]

To run mindboggle?

[2017-03-20 23:08] neuropil commented on #96
I am. But now I'm getting a different error.

At line:2 char:24
+ docker run --rm -ti -v $PATH_ON_HOST:/root/data \
+                        ~~~~~~~~~~~~~~
Variable reference is not valid. ':' was not followed by a valid variable name character. Consider using ${} to
delimit the name.
At line:3 char:7
+     --entrypoint /bin/bash bids/mindboggle;
+       ~
Missing expression after unary operator '

[2017-03-21 00:07] chrisfilo commented on #96
Is this powershell? Try doing it in a single line and without variables
(replace $PATH_ON_HOST with its value).

On Mon, Mar 20, 2017 at 4:08 PM, John <notifications@github.com> wrote:

[2017-03-23 20:54] birdcw opened #100 "negative area values"
Hi All,

I've been trying out mindboggle on ADNI subjects. 1/5 of the subjects so far have had negative area measures for some of the labels. I can investigate further. I'm curious if there's any existing possible explanation for this?

[2017-03-24 23:59] binarybottle commented on #100
Thank you for alerting us to this.  I can't say that I've ever seen mindboggle generate negative area values, and I've processed a lot of ADNI brain images!  Could you please send me the output table in question, label_shapes.csv, as well as vertices.csv, if you generated that as well?

Please send them to arno@mindboggle.info, or share them via dropbox, google drive, etc.

[2017-04-03 03:13] neuropil commented on #96
Hello Chrisfilo,

Thank you for your help! I am using powershell. Should I use something else?

When I run the entire line (see below), I still get a 'variable' error. Which variables should I leave out? Also, do I need to run the lines '--entrypoint /bin/bash bids/mindboggle'? What is this referring to?

docker run --rm -ti -v $C:\Users\John :\root\data --entrypoint /bin/bash bids/mindboggle

[2017-04-03 04:09] chrisfilo commented on #96
Ty this instead

`docker run --rm -ti -v C:\Users\John:\root\data --entrypoint /bin/bash bids/mindboggle`

[2017-04-06 13:35] iamjoostjanssen opened #108 "request: whole brain measurements"
Hi,

FreeSurfer stats output includes whole brain/hemispheric averages or total, depending the measurement. Could this be added to mindboggle output tables as well?

Thanks,
-joost

[2017-04-06 16:08] binarybottle commented on #100
Sorry for the delay -- I returned from a programming workshop at MIT, which was all-consuming!

I took a look at the tables you sent me, and it seems that while the vertices.csv tables all have positive per-vertex area values, somehow the area sums computed for certain labels became negative.  How strange.  Would you please send me the FreeSurfer output directory for the subject ADNI_011_S_2274_MR

[2017-04-06 16:10] binarybottle commented on #93
I have placed Dockerfile.mindboggle.complete in the mindboggle/install directory.

[2017-04-06 16:10] #93 closed

[2017-04-06 17:49] binarybottle commented on #100
I looked back at our mindboggle-processed [ADNI data](https://osf.io/8x2n7/) that we summarized in an [article](http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005350) and in a poster:

I couldn't find any examples of negative area values for labeled regions in the ADNI brains:

[area.pdf](https://github.com/nipy/mindboggle/files/903502/area.pdf)

Which is all to say that I'

[2017-04-06 18:31] birdcw commented on #100
Hello,

Thanks for looking into this. I've sent my freesurfer and ants input to you. I used docker, included the optional ants input, and specified 8/8 cpus. I've started a new batch today, which includes alternate/repeat scans for 3 subjects who had negative areas. I'll let you know if I see negative values again.

[2017-04-06 18:38] birdcw commented on #100
I hope to have 80 subjects processed by Monday, so it would be interesting and re-assuring to confirm how closely my tables match yours, at least for the all positive area subjects.

[2017-04-11 10:00] binarybottle commented on #100
The nipype crash file indicates that there are missing values (two nans) in the area vtk file, rh.pial.area.vtk, but not in the original file rh.pial.vtk converted from FreeSurfer's rh.pial:
--------------------------------------------------------------
Executing node Shape_tables.a1 in dir: /home/jovyan/work/mindboggling/ADNI_011_S_2274_MR_MPRAGE_GRAPPA2_br_raw_20110505140334725_58_S108103_I23344

[2017-04-13 09:52] binarybottle commented on #100
I added some conditional statements to PointAreaComputer.cpp to avoid NaN values.  Specifically, when any of the three angles about a vertex in the triangular mesh is a NaN value, the corresponding 1/3 area that would be added to the area of the vertex is set to zero.  This avoided NaN values in the ADNI data you provided, so I am closing this issue.  Please reopen this issue if this ever arises a

[2017-04-27 17:08] ntraut opened #109 "Compilation of vtk module in centos 6.7"
Hello,

I am trying to compile vtk module in CentOS 6.7 but when I run the `make` command I get the following error:
[code]

The installer does not find the right emplacement for `libSM.so`. This is what I get when I run `ldconfig`:
[code]

[2017-04-29 18:50] binarybottle commented on #109
Are you running the installation script (https://github.com/nipy/mindboggle/blob/master/install/install_mindboggle.sh)?  There are lines in that script to fix paths to Linux libraries using symbolic links (from http://techtidings.blogspot.com/2012/01/problem-with-libglso-on-64-bit-ubuntu.html).  Maybe this will help.  But why not just use the mindboggle docker rather than install everything from s

[2017-04-29 19:01] binarybottle commented on #94
Just curious -- Why not just use the mindboggle docker rather than install everything from scratch?

I believe when you tried to copy line 159, "pip install nibabel prov xvfbwrapper traits" you missed the final letter "s" because your error is related to "trait" instead of "traits".

As for the "No rule to make target /usr/lib/x86_64-linux-gnu/libtbb.so.2" error, the installation script (https://g

[2017-04-29 19:10] binarybottle commented on #108
The reason Mindboggle breaks brain images down into structures such as labeled regions is to compute structure-based shape measures such as curvature, depth, and thickness, rather than across an entire hemisphere.  Which measurements were you hoping to aggregate across labeled regions for each hemisphere?

[2017-04-29 19:11] binarybottle commented on #96
@neuropil -- Did @chrisfilo help to resolve this issue for you?

[2017-04-29 19:13] iamjoostjanssen commented on #108
Depth and sulcal/fundi surface area (of un- and labeled structures) and
corrected as per compute.py.

Op 29 apr. 2017 21:10 schreef "Arno Klein" <notifications@github.com>:

[2017-04-29 19:43] binarybottle commented on #108
1. Statistical summaries of depth and surface area measured across all folds/sulci/fundi?
2. Corrected in what way -- depth normalized by surface area?

[2017-04-30 16:52] binarybottle commented on #100
From Joachim Giard, who wrote the original program computing surface area:

"It's almost never a good idea to replace a Nan by zero. The best is to find why Nan can happen and try to find the origin. Here, we would like to know why some angles may have a Nan value. It's almost always a division by zero, so for the angle, it could be a limit case like twice the same edge or something similar... It

[2017-05-02 08:46] ntraut commented on #109
I need to do this because I am using a cluster without docker and singularity, and the administrator says it is not planned to install them in short term.
The trick of just fixing library links was not sufficient for me, I was failing in deeper errors by doing this.
The problem was coming from the `vtk` package from `clinicalgraphics` which was compiled for Ubuntu and not CentOS. I finally managed

[2017-05-02 11:02] ntraut opened #110 "Data files are downloaded even if they are already in the cache"
I am trying to run mindboggle offline, but I cannot since mindboggle does not look for cached files correctly.
For example the file `OASIS-30_Atropos_template_to_MNI152_affine.txt` is saved under the name `OASIS-30_Atropos_template_to_MNI152_affine.txt.txt` so mindboggle does not find it.

[2017-05-02 17:23] binarybottle commented on #109
Thank you for your effort, feedback, and for sharing a link to a solution!

[2017-05-02 17:23] #109 closed

[2017-05-04 00:31] GlobalTraveler commented on #73
Could you enlighten me on what these minor changes are? I used the conda line you mentioned to get vtk installed but when I import it states 'No module named 'vtkCommonCorePython''

[2017-05-04 00:53] binarybottle commented on #100
I will be building a new docker container with these changes very soon, and will alert you when it's ready, @birdcw.

[2017-05-04 15:44] ntraut commented on #110
Thanks. In fact a simple solution is just to manually remove the extra extension, but I just wanted to warn you about this issue.

[2017-05-05 15:39] binarybottle commented on #73
@GlobalTraveler -- I looked back at the commits on and just prior to April 7th, and the only relevant changes (now that we've moved away from Vagrant + VirtualBox) were made to the install_mindboggle.sh file.  We've gotten reports from others that they've used this script to successfully install mindboggle when they couldn't use Docker, but I don't know what the difference might be in their setup.

[2017-05-05 15:49] binarybottle commented on #110
I really appreciate the alert.  I was expecting to include more files for download and use by mindboggle, but currently am only doing so for docstring tests, so making mindboggle totally offline would be a good thing anyway.  I have updated mindboggle and will alert you when the docker image is ready for download...

[2017-05-05 15:50] GlobalTraveler commented on #73
I think the issue is with with the vtk setup. I can't seem to be able to build vtk from source forcing it to use python > 3. It complains about something related to tcl not being found (even when I point it to the respective directory). Do you perhaps know if there is a change in tcltk in newer linux kernels ? [I am using ubuntu 17.04]

[2017-05-05 15:55] binarybottle commented on #73
I'm afraid I don't know about tcltk changes, but maybe the following issue's solution may be relevant for your vtk installation problem?:

https://github.com/nipy/mindboggle/issues/109#issuecomment-298560093
containing the link:
https://github.com/menpo/conda-vtk

[2017-05-05 17:33] GlobalTraveler commented on #73
Solved it! For some odd reason the vtk install through clinical graphics does not work properly for me.  Downgrading python to 3.5.3 and installing it from the menpo source solved the issue. The link provided above also raised an odd. Regardless, thanks!

[2017-05-06 23:19] binarybottle commented on #94
@geowk and @knutj -- did the above resolve your problem?

[2017-05-07 02:15] binarybottle commented on #108
@iamjoostjanssen --

**Total surface area across all sulci**
To compute the total surface area for all labels, sulci, or fundi for either hemisphere, all you need to do is compute the sum of the values in the "area" column of the corresponding [label, sulcus, fundus]_shapes.csv table.

**Average the mean depth per sulcus across all sulci**
Mindboggle generates statistics for each (vertex-wise) sha

[2017-05-07 02:22] binarybottle commented on #108
If you have processed many brains through mindboggle and want to do a computation on a shape measure for each of the brains, you can create a table concatenating the desired column across all the brains, using the select_column_from_mindboggle_tables() function in tables.py:

[2017-05-08 02:53] binarybottle commented on #90
@satra --
 Have I properly included your minimized FreeSurfer from https://github.com/freesurfer/freesurfer/issues/70 in the Dockerfile?: https://github.com/nipy/mindboggle/blob/master/install/Dockerfile.mindboggle.complete#L109

Would you please replace the setup steps above that line with the steps you used?

[2017-05-09 22:46] satra commented on #90
sth like this should work.

[code]

[2017-05-10 00:05] binarybottle commented on #90
Great -- thanks, @satra!  Running now...
Are the installation instructions (commented out) above this correct?:
https://github.com/nipy/mindboggle/blob/master/install/Dockerfile.mindboggle.complete#L64

And is there anything you would change in the install_mindboggle.sh script, for those who don't wish to use Docker?:
https://github.com/nipy/mindboggle/blob/master/install/install_mindboggle.sh

[2017-05-10 01:17] satra commented on #90
@binarybottle - the commented out bits should change. this new approach tar ball reflects the approach with reprozip in the freesurfer issue and is simply a minimized tar-ball for recon-all (nothing else). also in neither circumstance were we compiling freesurfer.

[2017-05-10 03:49] binarybottle commented on #90
Error running recon-all in the Docker container:

...
Iteration 1 Wed May 10 02:25:45 UTC 2017
nu_correct -clobber ./tmp.mri_nu_correct.mni.228/nu0.mnc ./tmp.mri_nu_correct.mni.228/nu1.mnc -t\
mpdir ./tmp.mri_nu_correct.mni.228/0/ -iterations 1000 -distance 50
Can't locate MNI/Startup.pm in @INC (you may need to install the MNI::Startup module) (@INC cont\
ains: /opt/freesurfer/mni/lib/perl5/5.8.5

[2017-05-10 04:33] satra commented on #90
use these variables. seems like the same as before, but this works for me.

[code]

[2017-05-10 04:38] satra commented on #90
the perl5 locations are different for freesurfer 6

[2017-05-10 13:40] binarybottle commented on #90
Great!  FreeSurfer is running now.  If the Dockerfile is downloading a reprozipped version of FreeSurfer and of ANTs, then I shouldn't have to reprozip my docker container, should I?  It doesn't sound like there will be any savings.

[2017-05-10 13:52] satra commented on #90
ants is not reprozipped for mindboggle. you shouldn't reprozip the recon process, but you should reprozip both ants and mindboggle processes. again this is for the minimal container, not the dev container.

btw, your commented ants instructions do not conform to the download you are pointing to. the git checkout tag is incorrect.

[2017-05-10 14:00] binarybottle commented on #90
1. Does the commented section reflect the installation steps you used for FS?

2. Is the only incorrect portion of the ANTs installation the git tag?  If so, what version did you use?

3. How would I selectively reprozip just ANTs and Mindboggle but not FS?  FS would not be included in a reprozip pack, correct?

[2017-05-10 14:12] satra commented on #90
it doesn't. what i used for freesurfer is in this discussion: https://github.com/freesurfer/freesurfer/issues/70

the commented section that's in the nipype workshop: https://github.com/nipy/workshops/blob/master/170327-nipype/docker/Dockerfile.all#L43

you would process the config.yml to extract only the files from your miniconda directory and ants directory. this would be similar to the process

[2017-05-10 14:49] binarybottle commented on #90
Thank you --

1. & 2. I removed my commented out installation instructions for FS and ANTs and simply point to your links:
#-----------------------------------------------------------------------------
# Install minimized (reprozip) version of FreeSurfer v6.0:
# https://github.com/freesurfer/freesurfer/issues/70
#-----------------------------------------------------------------------------
# Insta

[2017-05-10 15:00] satra commented on #90
@binarybottle - ants should be updated to reflect the latest release then.

regarding reprozip - you can keep it if you want, especially given that you are not doing brainstem segmentation or hippocampal subfields but still installing the version of recon-all that includes support for them.

[2017-05-10 15:08] binarybottle commented on #90
Would you like to compile the latest version of ANTs?  Why don't we store the FS and ANTs tar-balls on osf.io instead of dropbox?  How about here?: https://osf.io/xtzv3/

Re: reprozip and config.yml, I am confused.  If I want to allow users of the container to do brainstem and hippo segmentation, what do I do?  Would I remove the recon-all line from my reprozip command and have FS sit next to the

[2017-05-10 15:22] satra commented on #90
actually the reprozip trace command in the shell script will not work properly, it will only trace recon-all (see the freesurfer issue on how to setup multiple traces).

for ants at this point, and more generally, i would use the following project to build it: https://github.com/kaczmarj/neurodocker

i've just asked jakub to look into minimizing container builds as well.

regarding downloads, yes

[2017-05-11 01:25] binarybottle commented on #90
@satra -- neurodocker is not finding the newest tar-balled ANTs version 2.2.0 (https://github.com/stnava/ANTs/releases):

arno@Lutchi:/software$ docker run --rm kaczmarj/neurodocker -b ubuntu:17.04 -p apt --ants version=2.2.0
Traceback (most recent call last):
  File "/usr/lib/python3.5/site-packages/neurodocker/interfaces/ants.py", line 76, in install_binaries
    url = ANTs.VERSION_TARBALLS[self

[2017-05-12 15:29] binarybottle commented on #110
I have created a new Docker container that will run FreeSurfer, ANTs, and the revised Mindboggle.  Please see the new docker pull and run instructions (http://mindboggle.readthedocs.io/en/latest/#installing-mindboggle).

[2017-05-12 15:29] #110 closed

[2017-05-12 15:30] binarybottle commented on #100
I have created a new Docker container that will run FreeSurfer, ANTs, and the revised Mindboggle. Please see the new docker pull and run instructions (http://mindboggle.readthedocs.io/en/latest/#installing-mindboggle).

[2017-05-12 15:30] #100 closed

[2017-05-12 15:31] binarybottle commented on #96
Have you had any success running Mindboggle on your Windows system yet?
I have created a new Docker container that will run FreeSurfer, ANTs, and a revised Mindboggle. Please see the new docker pull and run instructions (http://mindboggle.readthedocs.io/en/latest/#installing-mindboggle).

[2017-05-12 15:31] binarybottle commented on #90
I have created a new Docker container that will run FreeSurfer, ANTs, and the revised Mindboggle. Please see the new docker pull and run instructions (http://mindboggle.readthedocs.io/en/latest/#installing-mindboggle).

[2017-05-12 15:31] #90 closed

[2017-05-13 21:15] binarybottle opened #111 "Create a script that runs FreeSurfer, ANTs, and mindboggle."
I have created a draft for a simple nipype pipeline that will -- with the single command "mindboggle123" -- run recon-all, antsCorticalThickness.sh, and mindboggle.
However, I don't know how to connect nipype's ReconAll and antsCorticalThickness nodes to a function node I created for mindboggle.  See:

https://github.com/nipy/mindboggle/blob/master/mindboggle/mindboggle123#L197-L201

[2017-05-14 13:05] binarybottle commented on #111
I wrote a function that concatenates strings (outputs of nipype's recon-all or antsCorticalThickness.sh functions) to construct paths for the mindboggle123 nipype pipeline, which is now working.

Now I need to figure out how to use ENTRYPOINT in the Dockerfile.mindboggle.complete so that I can 'docker run mindboggle' with arguments properly.

[2017-05-14 13:15] satra commented on #111
outputs of nodes are not available this way.
[code]

the outputs function simply lists the output names rather than the values.

you would connect the outputs from recon-all and ants segmentation to your mindboggle function. you don't need the concatenate function in the normal nipype connect way. and then you can do whatever you want inside that function to create the mindboggle call.

[2017-05-14 13:19] binarybottle commented on #111
I removed the extraneous lines from mindboggle123, which connects the joined path strings to the Mindboggle node:

[2017-05-14 13:33] satra commented on #111
i don't see the need for `JoinStringsX` at all. why couldn't you do that in the mindboggle function?

which can take as input (fsdir, subjectid, antsseg) and do the things joinstrings is doing.

[2017-05-14 14:41] binarybottle commented on #111
Of course!  Thank you -- fixed.

The Docker container can now be run as an executable with:

with the following in the Dockerfile.mindboggle.complete:

[2017-05-14 14:41] #111 closed

[2017-05-15 15:11] binarybottle opened #112 "Docker executable works on macOS but generates traits error on ubuntu."
The following command works on macOS:

docker run --rm -ti -v $HOST:/home/jovyan/work nipy/mindboggle $IMAGE --id $ID

but generates an error on ubuntu:

Traceback (most recent call last):
  File "/opt/conda/bin/mindboggle123", line 117, in <module>
    reconall.inputs.T1_files = IMAGE
  File "/opt/conda/lib/python3.5/site-packages/nipype/interfaces/base.py", line 1976, in validate
    value = sup

[2017-05-15 15:30] satra commented on #112
sounds like an incorrect file was specified: `'/home/arnoklein/Data/example_mri_data/T1.nii.gz' `

whatever path is specified has to involve `/home/jovyan/work` as that is the only thing that's being mounted to from outside.

[2017-05-15 16:40] binarybottle commented on #112
You are absolutely correct.  I followed the example on mindboggle's updated website, which I need to correct right now -- Thanks, @satra!

[2017-05-15 16:40] #112 closed

[2017-05-15 18:06] binarybottle commented on #96
@neuropil -- I have created a new Docker container that can be used to execute (FreeSurfer, ANTs, and) Mindboggle from the command line, without having to enter the bash shell inside the container.  It now takes a single command to install and a single command to run (see http://mindboggle.readthedocs.io/en/latest/#installation).  Please tell me if this resolves your issue.

[2017-05-17 16:14] binarybottle opened #113 ""cannot connect to X server :1" error when running mindboggle outside of Docker container"
I get an error when running the docker container as an executable (and `scipy.ndimage.affine_transform()` generates a warning) in the new version of mindboggle:

[2017-05-17 16:55] binarybottle commented on #113
I can run the offending function, mindboggle.mio.convert_volumes.convert2nii(), in an ipython console in the mindboggle docker container, and only get a deprecation warning:

[2017-05-17 17:09] satra commented on #113
@binarybottle - can you point me to where you define the node?

[2017-05-17 17:10] satra commented on #113
and the function itself that it calls.

[2017-05-17 17:25] binarybottle commented on #113
Here is the line in convert2nii() that calls scipy.ndimage.affine_transform():
https://github.com/nipy/mindboggle/blob/master/mindboggle/mio/convert_volumes.py#L104

But the error seems to occur in a different place:

refers to the following node: https://github.com/nipy/mindboggle/blob/master/mindboggle/mindboggle#L1260

which calls the function write_vertex_measures():
https://github.com/nipy/mi

[2017-05-17 17:37] satra commented on #113
ah - i forgot about your vtk requirement. so in that case you need to have xvfbwrapper and xvfb as part of the container.

[2017-05-17 17:40] satra commented on #113
can you check if those exist in the container already? if so, then the Node definition (or anything that uses vtk functions may need: `node_variable.interface._redirect_x = True`

also the nipype you are installing is still the older version. we are hoping to get conda-forge release fixed in the next day or two.

[2017-05-17 18:54] binarybottle commented on #113
mindboggle-base installs xvfb but not xvfbwrapper -- That's probably why mindboggle runs successfully when you're inside the Docker container but not when you're outside the container!  I will update this now, but why do you think all of the other vtk-related functions were able to run successfully?

[2017-05-17 18:59] satra commented on #113
@binarybottle - isn't the original post (of the error) inside the container?

[2017-05-17 21:13] binarybottle commented on #113
Updated nipy/mindboggle-base and nipy/mindboggle on docker hub, and am re-running mindboggle now...

So even though I installed conda's nipype, I should do so again in a day or two?

[2017-05-18 13:58] binarybottle commented on #113
Even after rebuilding the container with xvfb and xvfbwrapper I got the same error.

Should I put `Transform_surface_points.interface._redirect_x = True` here?:
https://github.com/nipy/mindboggle/blob/master/mindboggle/mindboggle#L1331

(or would it be `TransformPoints`?)

[2017-05-18 16:11] satra commented on #113
it should be the node variable not node name. you can try this first to see if it helps.

[2017-05-18 16:14] binarybottle commented on #113
I will try this now.  Just confirmed that mindboggle123 runs fine within the docker container, just not from the outside...

[2017-05-18 16:18] satra commented on #113
what do you mean by "just not from outside"?

[2017-05-18 16:54] binarybottle commented on #113
It fails when I run the Docker container as an executable:
`sudo docker run --rm -ti -v $HOST:$DOCK nipy/mindboggle $IMAGE --id $ID`
but not when I run mindboggle within the container:
`sudo docker run --rm -ti -v $HOST:$DOCK --entrypoint /bin/bash nipy/mindboggle`

[2017-05-18 19:00] satra commented on #113
@binarybottle - that's very weird. don't know why that would happen.

[2017-05-20 17:45] neuropil commented on #96
@binarybottle Thank you for updating the container and documentation. This issue can be closed, as it does not pertain to Mindboggle, but my lack of understanding on how to use Docker.

[2017-05-20 17:45] #96 closed

[2017-05-26 20:45] binarybottle commented on #113
Fixed by pull request #115.

[2017-05-26 20:45] #113 closed

[2017-05-27 19:56] binarybottle opened #116 "nbpapaya not working in jupyter notebook tutorial"
@akeshavan --

nbpapaya's Overlay is giving an error in our jupyter notebook tutorial.
Here is the code:
[code]
And here is the resulting error:

Could it be due to the difference in installations below?:

In the Dockerfile.mindboggle.complete file, nbpapaya is installed here:

[code]
whereas in our original MIT nipype workshop tutorial, you installed nbpapaya as follows:

`RUN git clone https://g

[2017-05-28 00:29] binarybottle commented on #116
Fixed -- Just needed to add the line ``git submodule update --init --recursive`` after git checkout.

[2017-05-28 00:29] #116 closed

[2017-06-15 15:47] AkiNikolaidis opened #119 "Mindboggle Docker image install space issue"
Good morning,

I'm attempting a docker install of Mindboggle, and have been struggling with this space error for the past couple days:

failed to register layer: Error processing tar file(exit status 1): write /opt/ants/WarpTensorImageMultiTransform: no space left on device

I’ve followed some recommendations here: [(https://github.com/moby/moby/issues/10613)] that it may be the issue that docker

[2017-06-15 15:57] satra commented on #119
@AkiNikolaidis - if you can i would suggest hitting the reset button on docker (it will wipe out everything). and then you will have to redownload any images. if it still doesn't work, at least on osx you may have to manually extend the qemu cow image, which serves to hold the docker layers. and also i would recommend updating to the latest docker client.

- update to latest client
- reset and re-

[2017-06-15 16:08] yarikoptic commented on #119
how could I help @binarybottle ? ;)  may be you would like to use ants out of neurodebian instead of manual install?  may be you would like to minimize number of steps/layers? (then move installation steps into a single dedicated script)

[2017-06-15 16:11] AkiNikolaidis commented on #119
Thanks @satra ! Giving that a go and will keep posted

[2017-06-16 14:02] satra opened #120 "use ants from neurodebian to minimize ants footprint"

[2017-06-17 12:12] binarybottle commented on #120
@satra -- What version of ANTs does Neurodebian use?

[2017-06-17 13:26] satra commented on #120
they have the current release.

[2017-06-19 16:01] binarybottle commented on #120
So in Dockerfile.mindboggle.base, I would just replace the ANTs v2.2.0 github repo installation commands with the following?:

docker USER root
RUN apt-get update -qq && apt-get install -yq --no-install-recommends \
       build-essential && \
   apt-get clean && \
   rm -rf /var/lib/apt/lists/* /tmp/* /var/tmp/*
USER $NB_USER
WORKDIR /opt
RUN sudo apt-get install ants
ENV ANTSPATH=/opt/ants/ \

[2017-06-20 11:22] satra commented on #120
[code]

this assumes you have neurodebian setup prior to apt-get. you can check this code out: https://github.com/nipy/nipype/blob/master/docker/base.Dockerfile#L68 but make sure your version matches the mindboggle OS (the nipype container uses ubuntu xenial).

[2017-06-20 19:35] binarybottle commented on #120
From the link you shared, I read the following:

But where do I get the neurodebian.gpg file from?

[2017-06-21 12:27] satra commented on #120
you can copy neurodebian.gpg from the nipype repo.

you could run that, but we have run into issues at times with the key server not responding. this was earlier this year. it's possible it has resolved. also you only need sudo if you were not running as root.

[2017-06-21 21:57] binarybottle commented on #120
I ran the following:

and got an error:

[2017-08-05 17:53] binarybottle commented on #120
I'm going to go ahead and create a new minor release with the --fs_flags argument and deal with this ants footprint issue later...

[2017-08-05 18:06] satra commented on #120
@binarybottle - you should perhaps use neurodocker to build the dockerfile for mindboggle now. at present i think it supports all pieces that you will need. here is a close enough example:

[code]

[2017-08-05 18:08] satra commented on #120
there are a few tweaks that this will require, but it is a much simpler way of generating the Dockerfile environment. @kaczmarj or i can help you with those tweaks.

[2017-08-05 18:21] binarybottle commented on #120
I'm happy to use neurodocker if it makes the process easier, but at least I have a handle on building the Docker containers now (except for the neurodebian ants piece).  I'm not sure how I would use neurodocker to inherit from Dockerfile.mindboggle.base to create Dockerfile.mindboggle.complete.

[2017-08-05 19:17] satra commented on #120
@binarybottle - you wouldn't use base or complete. just augment the command to install all the necessary dependencies.

[2017-08-05 20:21] kaczmarj commented on #120
@binarybottle - here's a neurodocker command that should replicate mindboggle's base dockerfile. i set some things as shell variables to try to improve readability, but they could have been included directly in the neurodocker command. notice that the command to download the oasis template data has to be written in manually.

the complete dockerfile will be tricker. you could write out the command

[2017-08-05 20:27] satra commented on #120
@kaczmarj - this will require one more step to compile the cpp routines and export the appropriate path through an environment variable.

[2017-08-05 20:28] satra commented on #120
@kaczmarj - sorry i didn't read your second paragraph. if the installation can be done through setup.py and pip that would be interesting, but compiling things is always interesting in python land.

[2017-08-14 15:20] jlhanson5 opened #122 "Preemptive question re: ANTS custom template use?"
Hello mindboggle friends,

I had a bit of a preemptive/planning question for the group...

I was just getting mindboggle setup in my group, and was thinking of using a study-specific template (derived through Nick Tustison's ANTs cook priors script: [https://github.com/stnava/ANTs/blob/master/Scripts/antsCookTemplatePriors.sh](url)).

Would use of "custom" priors cause any issues with mindboggle (

[2017-08-14 22:33] jlhanson5 opened #123 "Crash w/ "The behaviour of affine_transform with a one-dimensional "?"
I was just test-driving mindboggle and ran into some errors w/ how the affine transforms were being read (I think). I've included 2 crash.plz files (as a zip here; [crash_archive.zip](https://github.com/nipy/mindboggle/files/1223630/crash_archive.zip))

The first major error I'm seeing is " Executing node Convert_MRI_to_nifti_format in dir: /home/jamielh/Volumes/Hanson/Duke_PAC/proc/140313_18263/a

[2017-08-18 14:06] jlhanson5 commented on #123
(bump) ... any thoughts?

[2017-08-20 21:47] binarybottle commented on #123
That is a warning, and shouldn't be causing your crash.  Instead, you seem to be missing a dependency.  Both of your crash files say "The 'configparser' distribution was not found and is required by nipype".  Please see the nipype issue: https://github.com/nipy/nipype/issues/1699

[2017-08-20 22:07] binarybottle commented on #122
Hello!  To be clear, you wish to use the same OASIS-20 joint fusion atlas labels but not the corresponding OASIS-20 Atropos template (on http://www.mindboggle.info/data.html), but wish to create your own template?  Creating your own template is a great idea, as it will better represent your population.  It would be even better if you were to construct a new atlas to match your own template, but I

[2017-08-23 14:12] jlhanson5 commented on #123
Ah perfect! I think pip-ing configparser & nipype[all] fixed things. Thanks much!

[2017-08-23 14:38] jlhanson5 opened #124 "Volume label differences between FS and ANTS (thoughts re: analysis?)."
Hello Mindboggle List,

I got MB started and was just looking at some volumetric data. Examining a few subjects, I noticed a fair bit of discrepancy between FS and ANTS volumetric labels (from the volume_per_ants_label.csv and volume_per_freesurfer_label.csv in tables). The bivariate correlation between all the labels was r= ~ .6. For a few regions, the percent difference was quite high (20-30% di

[2017-08-23 14:39] binarybottle commented on #123
You're welcome.  All the best!  I'll close this issue.

[2017-08-23 14:39] #123 closed

[2017-09-02 03:32] binarybottle commented on #124
Thank you for making this comparison.  Yes, there will be differences in the volumes of labeled regions assigned by FreeSurfer and ANTs due to the differences in the way FreeSurfer and ANTs perform atlas-based registration.  Some regions will have greater discrepancies between assigned labels than others depending on the their shapes, locations, and sizes.

[2017-09-05 11:27] NickFausto opened #126 "ANTs cortical thickness failed to run on example MRI dataset"
Dear all,

while testing your software the above mentioned error occured.
I am not really sure wether this is my fault as I am running mindboogle (including the preprocessing steps with FreeSurfer and ANT) the first time.
Please find eclosed the according crash-file.

Cheers!

[crash-20170905-110458-jovyan-antsCorticalThickness-381c3ace-31cb-484c-9509-4d5ee8e93628.pklz.zip](https://github.com/nipy

[2017-09-05 17:28] binarybottle commented on #126
Hello.  Are you running this in the Docker container, are you running the Docker as an executable?
  If you are doing the former, then I don't think you have the Atropos template in the right place: "...mindboggle123_output/working/Mindboggle123/antsCorticalThickness/T_template0_BrainCerebellumProbabilityMask.nii.gz' does not exist."

Please see the instructions on http://mindboggle.readthedocs.io

[2017-09-06 13:36] NickFausto commented on #126
Thank you for the swift reply!

I am running this as a container (with the command docker run --rm -ti -v
$HOST:$DOCK nipy/mindboggle $IMAGE --id $ID). However, the pipeline
proceeded to the end, even though the mind boggle directory remained empty.

Von:  Arno Klein <notifications@github.com>
Antworten an:  nipy/mindboggle
<reply+017d476c01edeb28d0d21b76e71b64fc856b4107017bc4e992cf0000000115c6a0c

[2017-09-06 18:44] binarybottle commented on #126
Ah -- You are running the docker container as an executable (http://mindboggle.readthedocs.io/en/latest/#run-one-command).  Since you seem to be having some kind of path issue, perhaps it would be better for you to try and run the FreeSurfer and ANTs commands separately before running mindboggle (http://mindboggle.readthedocs.io/en/latest/#run-separate-commands).

[2017-09-07 14:19] NickFausto commented on #126
Thanks again!
Did not really make a difference.

When running ANTS-Preprocessing solely (as mentioned above) I do get the exact same error message. Im running the image on Docker CE (Version 17.06.2-ce-mac27 (19124) Channel: stable, 428bd6ceae) on macOS Sierra Version 10.12.6 (16G29).

Any other ideas?

[2017-09-07 15:11] binarybottle commented on #126
When you are in the Docker container, can you see the template files (e.g., ...mindboggle123_output/working/Mindboggle123/antsCorticalThickness/T_template0_BrainCerebellumProbabilityMask.nii.gz)?

[2017-09-08 06:44] NickFausto commented on #126
Please find the the whole content of the aforementioned directory below:

command.txt
_inputs.pklz
nipype_priors
 _node.pklz  _report
result_antsCorticalThickness.pklz
T_template0_BrainCerebellumProbabilityMask.nii.gz

[2017-09-08 18:57] binarybottle commented on #126
I'm sorry -- let's back up for a second.  If you are running ANTs separately, then you should not be running mindboggle123 or getting the same error.  Could you please send me the antscorticalthickness.sh command you are running?

[2017-09-08 20:21] araikes commented on #126
I too am having an issue with ANTs for the example data. I'm running Mindboggle inside the docker container on Windows 10. I've started the docker machine and used the --entrypoint method described in the documentation.

At the point of SyN registration, it runs through 50 iterations of 1Diagnostic and then hits an error. Please see the attached picture.
![picture1](https://user-images.githubuserc

[2017-09-08 21:05] binarybottle commented on #126
@araikes -- I believe the problem you are having is different.  If ANTs suddenly aborts, that strikes me as either an issue with ANTs or possibly with the amount of RAM/storage allocated to the Docker container.

[2017-09-08 21:10] araikes commented on #126
@binarybottle I can try to increase the RAM and see if that helps.  I do see that the commands with errors have a double slash (e.g., "/opt/ants//antsRegistration") and I'm not sure if that might be the issue.

Thanks

[2017-09-11 06:41] NickFausto commented on #126
Thanks for your help. I am running now everything on Ubuntu 16.04 Xenial LTS and it seems to run perfectly. It doesnt matter wether I run the single command or everything separately. Might be some odd OS-related bug or my inabaility to install it properly on Mac OS.

[2017-09-12 17:03] binarybottle commented on #126
Hmm...  @satra and @akeshavan -- what do you think might be the problem here?

[2017-09-12 18:25] satra commented on #126
@NickFausto - given that you can run in a different environment, this really looks like, as @binarybottle notes, a memory issue on OSX. the default docker setting is often around 2G and this version of mindboggle, specifically the ants call, can take upto 12G of ram.

in some situations, the virtual memory manager will handle things, but in some cases it won't. on our cluster, which is unforgiving

[2017-09-21 15:24] wuhanglian opened #129 "Typical Workflow for Laplace-Baltrami Spectra/ Zernicke Moments mindboggle"
Dear All,
I am relatively new to the field and psychologist by training.

Not sure wether this is the right place to ask questions... However:

I was just wondering what the typical workflow of the mindboggle ouput for Laplace Beltrami spectra or Zernicke Moments would be? How would you proceed with the output to get emaningful results (by means of group comparisons or regression analyses)?

Thank

[2017-09-21 23:31] binarybottle commented on #129
Please use Neurostars to ask questions about the use Mindboggle and GitHub for issues/bugs/requests.  I have responded to your question in Neurostars here: https://neurostars.org/t/typical-workflow-for-laplace-baltrami-spectra-zernicke-moments/805

[2017-09-21 23:31] #129 closed

[2017-09-26 18:54] Heiditje opened #130 "How do I set the $IMAGE path? (originally "Mindboggle will not run on Mac")"
Hi, I have installed python, nipype, docker and mindboggle and wanted to get mindboggle all-in-one command running, but it is not working and I am not sure what to try next:

IMAGE=/Users/heidi/Desktop/Mindboggle/S_1OR6QC_T1.nii
DOCK=/home/jovyan/work
HOST=/Users/heidi/Desktop/Mindboggle/
ID=S_1OR6QC

This is what I get:
ocker run --rm -ti -v $HOST:$DOCK nipy/mindboggle $IMAGE --id $ID
Traceback (

[2017-09-26 19:26] binarybottle commented on #126
@NickFausto -- Were you able to fix the problem by increasing the Docker's RAM?

[2017-09-26 19:29] binarybottle commented on #130
In the example on Mindboggle's website (http://mindboggle.readthedocs.io/en/latest/#run-one-command), you'll see that $IMAGE is in $DOCK, not in $HOST:

HOST=/Users/binarybottle  # path on host to access input/output
DOCK=/home/jovyan/work  # path to HOST from Docker container
IMAGE=$DOCK/example_mri_data/T1.nii.gz  # input image on HOST
ID=arno  # ID for brain image

[2017-09-26 21:08] Heiditje commented on #130
I know, but I do not get it, my image is in my directory?
So should I put:
IMAGE=$DOCK/Users/heidi/Desktop/Mindboggle/S_1OR6QC_T1.nii

on trying out: this doesn't work either?

[2017-09-26 21:19] binarybottle commented on #130
If HOST=/Users/heidi/Desktop/Mindboggle, I believe you should try IMAGE=$DOCK/S_1OR6QC_T1.nii

[2017-09-26 21:30] Heiditje commented on #130
Seems to be running now! Great! Thank you!!

[2017-09-26 21:36] binarybottle commented on #130
You're welcome!  I changed the issue title to better reflect the problem, so that others can find the solution faster.  All the best in your use of Mindboggle!

[2017-09-26 21:36] #130 closed

[2017-09-27 14:58] Heiditje opened #131 "ants Cortical thickness does not complete"
Hi,
using the all in one command, I was able to get FreeSurfer cortical thickness, but ANTs did not complete. Any idea what might be the cause? I am not getting the error message:

Using antsBrainExtraction with the following arguments:
      image dimension         = 3
      anatomical image        = /home/jovyan/work/S_1OR6QC_T1.nii
      extraction template     = /opt/data/OASIS-30_Atropos_temp

[2017-09-27 15:05] satra commented on #131
@Heiditje - ants is memory hungry and can get killed if it tries to use too much RAM. if you are running through docker, please increase the amount of memory allocated to docker.

if on os x, this is done through the advanced settings under preferences from the docker/whale icon in your status bar.

@binarybottle - in antsCorticalThickness could we use `use_floatingpoint_precision=True` this will

[2017-09-27 18:50] binarybottle commented on #131
@satra -- thank you for the pull request.  Merged, along with the color script, and am now preparing a new, minor release (1.2.2)...

[2017-09-27 18:50] #131 closed

[2017-09-27 18:54] binarybottle commented on #126
@satra made the following change: antsCorticalThickness is set with use_floatingpoint_precision=True to make ants run much faster with much less memory requirements.  I am preparing a minor release with this change.  This should help in your case as well.

[2017-09-28 11:09] wuhanglian commented on #126
Sorry for the late reply. All works well now. It was indeed an issue with the RAM.

Thank you for your help!

[2017-09-28 11:39] NickFausto commented on #126
Sorry for the late reply. All works well now. It was indeed an issue with the RAM.

Thank you for your help!

[2017-09-28 11:42] #126 closed

[2017-09-28 11:52] binarybottle commented on #126
Glad to hear this resolved the issue!

[2017-09-28 12:15] binarybottle commented on #124
I forgot to mention that you could do the following:

  1. Apply the ANTs transforms generated by antsCorticalThickness.sh (or, equivalently, by mindboggle123) to nonlinearly register the joint fusion atlas used by Mindboggle to the T1 brain image.
  2. Mask the labeled T1 with a gray matter mask derived from any tissue class segmentation (e.g., generated by ANTs or FreeSurfer) for that T1 (not th

[2017-09-28 12:15] #124 closed

[2017-09-28 12:23] binarybottle commented on #122
Addendum:  By running antsCorticalThickness.sh, you will generate four transforms (I just mention one affine transform in (2) above).  See mindboggle/mindboggle/mindboggle for details:

    # ------------------------------------------------------------------------
    # For transforming volume labels --
    # Make list of ANTs MNI152-to-subject nonlinear transforms
    # to use Apply_ants_transfor

[2017-09-28 12:24] #122 closed

[2017-09-28 12:25] binarybottle commented on #94
@geowk and @knutj -- are you still having an issue using the installation script, or have you tried the docker container?

[2017-09-28 12:32] binarybottle commented on #77
@Shuo-Han -- Do you have any recommendations for how to view mindboggle-generated colormaps on brain cortical surfaces, other than with ROYGBIV?  Have you tried Paraview?

[2017-09-28 12:44] binarybottle commented on #84
I believe the only two inputs to the extract_fundi() function that need to be addressed to accomplish your task are `folds` and `depth_file`.

To generate gyral crowns instead of sulci, I believe you would simply change the following line in the extract_folds() function from:
  `indices_deep = [i for i,x in enumerate(depths) if x >= depth_threshold]`
to:
  `indices_deep = [i for i,x in enumerate(d

[2017-09-28 12:54] binarybottle commented on #108
Addendum:

I neglected to mention above that for area correction when computing **Mean depth across all labels** or **Mean depth across all sulci** you can use the corresponding values in the area column of the same vertices.csv file.

[2017-09-28 12:54] #108 closed

[2017-09-29 01:48] Shuo-Han commented on #77
Hi,
It works on [mipav](https://mipav.cit.nih.gov/). I usually use python (matplotlib) to plot the colors on top of brain.

[2017-09-29 03:57] binarybottle commented on #77
Thanks, @Shuo-Han!

I used to view brain cortical surfaces with Paraview and vtkviewer in Mindboggle, but since the mindboggle-generated colormaps work with roygbiv and mipav, I'm going to close this issue until someone brings it up.

[2017-09-29 03:57] #77 closed

[2017-10-04 17:20] araikes opened #133 "Mindboggle error during explode_scalars"
Hi,
I am running Mindboggle on some data that I have already processed through Freesurfer and ANTs. I'm running Mindboggle from within the Docker container. I've also set up a script file to loop through all of my participants.

I'm running the mindboggle command as follows (No moments or spectra for speed purposes):
mindboggle $FS/${subj} --ants $ANTS_DIR/${subj}/Segmentation/BrainSegmentation.ni

[2017-10-16 20:51] binarybottle commented on #133
@araikes -- I'm currently traveling and away from a computer.  What is the error you see when you run the command "nipypecli crash crash-20171004-170135-jovyan-Explode_Labels.a1-caf36b95-c72a-4412-91c4-eb0b3311db12.pklz"?

[2017-10-16 21:00] binarybottle commented on #133
For clarity, here is the error I received while looking at your crash file:

File: /home/jovyan/work/Desktop/crash-20171004-170135-jovyan-Explode_Labels.a1-caf36b95-c72a-4412-91c4-eb0b3311db12.pklz
Node: Mindboggle.Explode_Labels.a1
Working directory: /home/jovyan/work/BIDS/Chronic_mTBI/MindBoggled/working/sub-mTBI113/Mindboggle/_hemi_rh/Explode_Labels

Node inputs:
...

ignore_exception = False
i

[2017-10-16 21:12] binarybottle commented on #133
The following error suggests that the your relabeled right hemisphere surface file is not correct:

Would you please share the file?:

input_indices_vtk = /data/TBIMODEL/group_analysis/Adam/BIDS/Chronic_mTBI/MindBoggled/working/sub-mTBI113/Mindboggle/Surface_labels/_hemi_rh/Reindex_labels/relabeled_rh.aparc.vtk

[2017-10-19 18:38] mivanyo opened #134 "Importing the docker image into a singularity container"
I had been able to pull the docker image into a singularity last August. Now I have tried to do the same with the new Mindboggle release but it fails to import one of the gzipped tar files. How can this problem be fixed?  The  error message is shown below.

 singularity pull --name mindboggle.img docker://nipy/mindboggle
...
gzip: .../.singularity/docker/sha256:61172108f568b5ecb62997b5180da846b9ac

[2017-10-19 19:26] mivanyo commented on #134
By way of additional information; the singularity version is 2.3.1 and I've tried using both the pull and import sub-commands but both have failed with the identical error.

[2017-10-19 20:44] satra commented on #134
@mivanyo - this is an error typical with running out of storage space.

i can check with 2.3.1 later, but here is the output with 2.4

[code]

[2017-11-18 08:40] knutj opened #135 "The howto should be updated to also containing information about Ubuntu."
The howto should be updated to also containing information about Ubuntu.

[2017-11-18 22:01] knutj commented on #94
I going to USE docker but fedora docker is installer differently than Mac docker.

[2017-11-22 03:50] binarybottle commented on #94
Please tell us how your fedora docker experience goes!

[2017-11-22 03:51] binarybottle commented on #135
Do you mean how to use the installer script on Ubuntu rather than installing the Docker container, or how to install the Docker container on Ubuntu specifically?

[2017-12-01 07:30] fuzhenrong opened #136 "Trouble setting environment variables"
hi:
i am really confused about how to set the environment variables ,the website list below:
HOST=/Users/binarybottle # path on host to access input/output
DOCK=/home/jovyan/work # path to HOST from Docker container
IMAGE=$DOCK/example_mri_data/T1.nii.gz # input image on HOST
ID=arno # ID for brain image
my settings is:
HOST=/home/fuzhenrong
DOCK=/home/fuzhenrong/work
IMAGE=$DOCK/example_mri_data/

[2017-12-01 11:06] PeerHerholz commented on #136
Hey fuzhenrong,

two general things before I address your question:

1. As can be read on the [mindboggle website](http://mindboggle.readthedocs.io/en/latest/). Please ask mindboggle related questions on [neurostars.org](https://neurostars.org) using the tag `mindboggle`
2. Please post your error message along with as much information about your settings as possible, so that people here can evalua

[2017-12-01 16:53] binarybottle commented on #136
Thank you @PeerHerholz.  @fuzhenrong -- Please don't forget that you must set DOCK=/home/jovyan/work since that's the path to HOST from the Docker container, not from your computer.

[2017-12-05 12:33] fuzhenrong commented on #136
thank you very much! it's working!

[2017-12-05 14:24] binarybottle commented on #136
Good to hear!  I changed the title of this issue to make it easier for others to find, and am closing the issue now.

[2017-12-05 14:24] #136 closed

[2017-12-05 14:27] binarybottle commented on #135
Since I use Mindboggle on Ubuntu using the present instructions on the website, these instructions are based on my experience with Ubuntu.  The top of the README (http://mindboggle.readthedocs.io/en/latest/) includes "We have tested the software most extensively with Python 3.5.1 on Ubuntu Linux 14.04"

I will close this issue, but if I have misunderstood you, please feel free to reopen it!

[2017-12-05 14:27] #135 closed

[2017-12-05 14:35] binarybottle commented on #133
@araikes -- Were you able to figure out why your FreeSurfer inputs were not working?  If not, I am happy to look at the file that was causing the problem.

[2017-12-05 14:36] binarybottle commented on #134
@mivanyo -- Did @satra's suggestion to increase storage space fix the problem?

[2017-12-05 14:37] binarybottle commented on #94
@knutj -- Did the fedora docker installation work?

[2017-12-06 05:49] fuzhenrong commented on #136
OK！i will change it soon！

                  邮箱：fuzhenrong@buaa.edu.cn

签名由 网易邮箱大师 定制
            On 12/05/2017 22:24, Arno Klein wrote: Good to hear!  I changed the title of this issue to make it easier for others to find, and am closing the issue now.

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

{"api_version":"1.0","pu

[2017-12-07 15:12] fuzhenrong opened #137 "Naming the input image for mindboggle"
i have tried the one command process successful. but one problem confused me is that the input image must be T1?  i have try to change the input image name as T3, it is got errors! why? if i want to processing different images, what should i do!

[2017-12-07 15:28] binarybottle commented on #137
Mindboggle takes as input MRI data such as T1s that have been processed by FreeSurfer and ANTs, unless you are using the individual functions in the Python or C++ libraries.  You are welcome to use any name for a file that goes into FreeSurfer and use the appropriate subject name when using Mindboggle.

[2017-12-28 14:08] fuzhenrong opened #138 "mindboggle about the Laplace-Beltrami spectrum results"
dear all ;
              the mindboggle results about the Laplace-Beltrami spectrum has 9 values for each structure. i really do not know the meaning of it.  i assume is it  9 eigenvalues of the spectrum ?
thank you!
good luck!
fuzhenrong
beihang university

[2017-12-30 14:55] binarybottle commented on #138
The spectral coefficients are a function of the eigenvalues.
 See Martin Reuter's "Shape DNA" paper: https://pdfs.semanticscholar.org/1931/674a9a694bc460e986bfd0c005e51262a08b.pdf

[2017-12-30 14:55] #138 closed

[2017-12-31 14:46] knutj commented on #135
It would have been easier to understand if you had used docker that was installed with a packages from ubuntu. When I used host=/var/lib/docker
DOCK=/home/jovyan/work  # path to HOST from Docker container
IMAGE=$DOCK/example_mri_data/T1.nii.gz  # input image on HOST
ID=arno  # ID for brain image

I got this error
docker run --rm -ti -v $HOST:$DOCK nipy/mindboggle $IMAGE --id $ID
Create missing out

[2017-12-31 22:57] knutj commented on #94
I have som trouble with permission on that I do not have permission to work in docker image which is stored in /var/lib/docker=HOST.

[2018-01-02 11:41] knutj opened #139 "Permissions issue: When I set host and dock I am unable to run mindboggle"
I have set HOST=/var/lib/docker and DOCK=/home/jovyan/work  # path to HOST from Docker container
IMAGE=$DOCK/T1.nii.gz  # input image on HOST
ID=arno  # ID for brain image
After I have copied T1.nii.gz into the container. When I use this command it crash with permmision problmes

docker run --rm -ti -v $HOST:$DOCK nipy/mindboggle $IMAGE --id $ID

Buf if I use the command below I get mideboggle run

[2018-01-02 15:15] binarybottle commented on #139
Do you have permission to access /var/lib/docker?  That seems to be the most likely problem, given that this is the only thing that deviates from the example command and $IMAGE is accessible with the second command.

[2018-01-02 15:16] binarybottle commented on #137
@fuzhenrong -- was my response clear, or do you need further assistance?

[2018-01-02 17:25] knutj commented on #139
I found a way to resolve my problem. I now use HOST=~/work and DOCK=/freesurfer.
I did not have write permission to /var/lib/docker as this where I stored the container.
Please add resolved.

[2018-01-02 17:59] knutj commented on #139
please close.

[2018-01-02 20:08] binarybottle commented on #139
Glad you were able to resolve the issue with a simple permission change.  All the best!

[2018-01-02 20:08] #139 closed

[2018-01-02 20:12] binarybottle commented on #94
@knutj -- Did fixing your permissions as in issue #139 solve the problem here too?

[2018-01-03 10:04] fuzhenrong commented on #138
hi--- i am still not clear! my question is what is the Laplace-Beltrami spectrum results in the mindboggle mean, the part of table in the result, is has 9 results for each ROI, from lapiace-beltrami 2 to lapiace-beltrami 10. what these results mean? the distance?

[2018-01-03 15:06] binarybottle commented on #138
These are the Laplace-Beltrami spectral coefficients, skipping the first one.

[2018-01-03 15:15] satra commented on #138
see this for info: https://upload.wikimedia.org/wikipedia/commons/1/12/Rotating_spherical_harmonics.gif

so technically the coefficients of the harmonics from rows 2- 4.

@binarybottle - why are we computing spherical harmonics for regions? shouldn't the zernicke moments be better for the regions since they are topologically discs rather than spheres?

[2018-01-03 22:10] m-reuter commented on #138
These are not the spherical harmonics, they are the eigenvalues of the given shapes. For shapes with boundary a boundary condition is needed, and I think here we use the Neumann condition.For closed shapes, and for Neumann, the first eigenvalues is zero, that's why it is missing.It may make sense to normalize the eigenvalues with respect to size of the structure to only look at shape differences -

[2018-01-03 23:22] satra commented on #138
@m-reuter - thanks for the clarification and the info on normalization.

[2018-01-04 02:58] fuzhenrong commented on #138
@binarybottle  i am clear! thank you!

[2018-01-04 03:05] binarybottle commented on #138
Thanks, @m-reuter !

Currently, Mindboggle defaults to normalizing by both [area](https://github.com/nipy/mindboggle/blob/master/mindboggle/shapes/laplace_beltrami.py#L195) and [index](https://github.com/nipy/mindboggle/blob/master/mindboggle/shapes/laplace_beltrami.py#L242):

def area_normalize(points, faces, spectrum):
    """
    Normalize a spectrum using areas as suggested in Reuter et al. (2

[2018-01-05 03:09] donghm opened #140 "Error when processing Freesurfer Longitudinal stream results"
Hi mindboggle experts,
I am now processing longitudinal data with mindboggle. I’ve tried to set the FreeSurfer longitudinal results as the input to mindboggle, however, it failed since no 001.mgz in mri/orig directory. So I try to use FreeSurfer base results this time and a surface mismatch error occurs, any advice for dealing with longitudinal data?

Attached are the crash files.
Thanks very much

[2018-01-05 12:58] binarybottle commented on #140
@akeshavan -- How do you process FreeSurfer longitudinal data with Mindboggle?

[2018-01-05 15:08] donghm commented on #140
Thanks very much for your reply.

Fowllowing are the commands I used:
DOCK=/home/jovyan/work
ID=CCSSUB
FREESURFER_SUBJECT=$DOCK/FreeSurfer60_long/$ID
FREESURFER_OUT=$DOCK/output/MindBoggled_FS_output
ANTS_OUT=$DOCK/output/MindBoggled_ants_output
ANTS_SUBJECT=$ANTS_OUT/$ID
OUT=$DOCK/output/MindBoggled_output
TEMPLATE=/opt/data/OASIS-30_Atropos_template
IMAGE=${FREESURFER_SUBJECT}/mri/T1.mgz
antsCor

[2018-02-01 22:13] srfpala commented on #73
Running Windows 7 with Python 2.7.14 (v2.7.14:84471935ed, Sep 16 2017, 20:19:30) and
using Pyscripter as my IDE
Added this Environment Variable    VTK_BIN     D:\Program Files\VTK6.3.0\bin
But Pyscripter says No module named vtk
Are there instructions that I've missed that explain what needs to be done ?
Bob

[2018-02-04 14:34] PeerHerholz commented on #73
Hey @srfpala,

unfortunately, I don't have any experience working with python, etc. on windows.
Hence, only some general pointers (not dealing with any possible specific things related to windows):
- your setup might be not the best to use mindboggle, as it is [written/tested/runs on linux and in python 3](http://mindboggle.readthedocs.io/en/latest/#software), as far as I can tell, installing mind

[2018-02-07 04:09] ihnorton commented on #69
Dropping a couple breadcrumbs that might help if this is still an issue (came across while looking for something else, and have been dealing with rpaths lately).

1) `otool -l TravelDepthMain | grep -A2 LC_RPATH`: gives a list of base paths where the dynamic linker will look to resolve any `@rpath` dependency library (note: `lowercase('L')` there)
2) see the dylib dependencies with `otool -L Trave

[2018-02-07 13:50] satra commented on #69
thanks @ihnorton - these are quite helpful.

vtk 8.1 is now available as wheels across platforms via pip, so we should definitely update mindboggle and check that everything works with vtk 8.1.

[2018-02-07 13:51] satra commented on #69
also if this issue is resolved now with the pip installers, we should close it.

[2018-02-08 02:23] #137 closed

[2018-02-08 02:25] binarybottle commented on #94
@knutj -- Shall I close this issue, or are you still having trouble with permissions?

[2018-02-11 19:44] binarybottle commented on #134
@mivanyo -- Did you resolve this issue, or do you need further assistance?

[2018-02-11 19:50] binarybottle commented on #69
@ihnorton -- Thank you for your "breadcrumbs", and @satra -- Thank you for staying on top of this!  How should we proceed to close this issue?

[2018-02-11 19:53] binarybottle opened #141 "Running Mindboggle on multiple subjects on a cluster"
@mgxd wrote the following in an email to help others run Mindboggle on a cluster:

[2018-02-11 19:53] #141 closed

[2018-02-15 22:14] akeshavan commented on #140
Hi @donghm - does mindboggle work on the longitudinal run when you input only freesurfer, and you don't use ANTS?

[2018-02-15 22:19] akeshavan commented on #140
I wonder if its because there is a mismatch between the ants input (is that from a single timepoint?) and freesurfer long's base (which is the average of all the timepoints) . If it works with Freesurfer only, then this is why.

[2018-02-28 00:38] satra opened #142 "brief blueprint of concatenating data from mindboggle output"
@binarybottle - this is what i kind of meant - before i create a PR, i thought we could discuss if this makes sense.

[code]

using the code above one can do something like:

[code]

and the keys look like:
[code]

[2018-02-28 18:28] binarybottle commented on #142
I think this looks good and makes good sense, @satra!  I would make "process_participant" plural and revise the docstring.  Good idea not to include vertices.csv!  Are there really 11,190 shape measures?  That's a bunch!

[2018-02-28 18:28] #142 closed

[2018-02-28 21:36] binarybottle commented on #140
@donghm -- Has @akeshavan helped elucidate/resolve your error?  Please respond, as this will help others who run into a similar issue in the future.

[2018-02-28 21:38] binarybottle opened #143 "Convert circleci to version 2"
Circleci.com is phasing out their version 1, so we need to update our configuration file for continuous integration / testing.

https://circleci.com/docs/2.0/migrating-from-1-2/

https://circleci.com/docs/2.0/tutorials/

[2018-02-28 22:22] binarybottle commented on #143
I get the following error on circleci (https://circleci.com/gh/nipy/mindboggle/1027):

[2018-02-28 22:31] binarybottle commented on #143
I don't know how to deal with the dependencies related to conda, and I believe the syntax for the .circleci/requirements/dev.txt is all outmoded.

[2018-03-01 22:04] cochrand commented on #96
Following the instructions at http://mindboggle.readthedocs.io/en/latest/, I get the following error in Windows 10

Create missing output directory /home/jovyan/work/mindboggle123_output
Create missing working directory /home/jovyan/work/mindboggle123_output/working
Traceback (most recent call last):
  File "/opt/conda/bin/mindboggle123", line 147, in <module>
    reconall.inputs.T1_files = IMAGE

[2018-03-01 22:13] cochrand opened #144 "Error running mindboggle on Windows 10"
Following the instructions at http://mindboggle.readthedocs.io/en/latest/, when I first tried following instructions on using mindboggle and entered "docker run --rm -ti -v $HOST:$DOCK nipy/mindboggle $IMAGE --id $ID"

I got the following error:

the input device is not a TTY.  If you are using mintty, try prefixing the command with 'winpty'

Then after adding winpty,  "winpty docker run --rm -ti

[2018-03-01 22:29] PeerHerholz commented on #144
Hey @cochrand,

as far as I can tell, this looks like a problem related to how you set your paths and/or mounted them within the docker command. Could you maybe paste the complete setup, e.g. how you set the environment variables (HOST, DOCK, IMAGE, ID)?

Regarding the initial/first error I can't be of any help, as I only worked with docker on windows once. But maybe the windows parts of the [dock

[2018-03-01 22:35] PeerHerholz commented on #96
The above problem is referenced in it's own issue and can be followed [here](https://github.com/nipy/mindboggle/issues/144).

[2018-03-01 22:43] cochrand commented on #144
Thanks Peer, I had seen the previous thread, but it seemed that the errors I was getting were different and that was also using the "--entrypoint /bin/bash bids/mindboggle" command. It was also difficult for me to follow the responses and see how they applied to my case.

These are the commands I used to set up docker:

HOST=/Users/COchranD3/Documents/Mindboggle/
DOCK=/home/jovyan/work
IMAGE=$DOCK

[2018-03-01 22:57] PeerHerholz commented on #144
Thanks for providing the additional information.

Chances are, it's a path/how-docker-works-on-windows thingy.
Did you check the ["run a docker image on windows section" in the notebook mentioned in the last post](https://miykael.github.io/nipype_tutorial/notebooks/introduction_docker.html#Run-a-docker-image-on-Windows)? If not, just have a look, because even it's not related to the mindboggle doc

[2018-03-02 15:17] cochrand commented on #144
Thanks for the tutorial reference, that was definitely helpful and I was able to successfully do the exercise.

Unfortunately, still having the same error message. It seems the key error is the last line if I'm not mistaken: "the path 'C:/Program Files/Git/home/jovyan/work/example_mri_data/T1.nii.gz' does not exist."

Can't figure out why it's looking in Program Files/Git/

Just to see if I could

[2018-03-03 21:26] PeerHerholz commented on #144
Hm, okay. Are you using the [Docker QuickStart Terminal](https://docs.docker.com/toolbox/toolbox_install_windows/#step-3-verify-your-installation)?

Just to follow up on the possible mount problem, try the following:

`HOST=/c/Users/COchranD3/Documents/Mindboggle/`
`DOCK=/home/jovyan/work`

`docker run --rm -ti -v $HOST:$DOCK --entrypoint /bin/bash nipy/mindboggle`

Within the container, check if

[2018-03-05 14:10] cochrand commented on #144
I am using Docker CE for Windows - https://docs.docker.com/docker-for-windows/install/
The other looked like it was for older Windows versions. Should I try it instead?

Tried the command suggested. Got a similar error:

C:/Program Files/Docker/Docker/Resources/bin/docker.exe: Error response from daemon: OCI runtime create failed: container_linux.go:296: starting container process caused "exec: \"

[2018-03-05 16:32] cochrand commented on #144
OK, after much searching I found an article I don't completely understand:

[https://github.com/moby/moby/issues/13741#issuecomment-128893740]

but after changing command line to
docker run --rm -ti -v $HOST:$DOCK --entrypoint //bin/bash nipy/mindboggle

with the double slash, I no longer get the error. Doing this takes me into the container at directory: jovyan@eb5dea7c0a26:~/work$

but there is

[2018-03-05 22:36] PeerHerholz commented on #144
Oh, okay. Thanks for pointing to this thread and solution!

If you set your environment variables like this:
`HOST=/c/Users/COchranD3/Documents/Mindboggle/`
`DOCK=/home/jovyan/work`

running `ls` in `jovyan@eb5dea7c0a26:~/work$` should list everything that is in `/c/Users/COchranD3/Documents/Mindboggle/`.
Based on your [post some days ago](https://github.com/nipy/mindboggle/issues/144#issuecomment

[2018-03-05 23:18] cochrand commented on #144
I figured out (sort of) what is happening. Something about the Git Bash shell I am using to run Docker is causing some screwy things to happen with the volume mapping. Instead of using /c/Users/COchranD3/Documents/Mindboggle/, it created a new path - C:/Program Files/Git/Users/COchranD3/Documents/Mindboggle/, and even if I put the example_mri_data in this folder, there is still something wrong wit

[2018-03-07 00:14] PeerHerholz commented on #144
Ah okay, that's what I meant a [few posts ago, asking about and referring to the Docker QuickStart Terminal](https://github.com/nipy/mindboggle/issues/144#issuecomment-370181115). Indeed the shell / terminal one's using can / will make a huge difference.
Would be interesting to check if everything works if you're using the Docker QuickStart Terminal.  
Sorry, that my comments weren't that helpful.

[2018-03-08 18:19] binarybottle commented on #144
Thank you, @PeerHerholz and @cochrand for resolving this issue!

[2018-03-08 18:21] binarybottle commented on #142
Any reason why no pull request?

[2018-03-08 18:40] binarybottle opened #145 "mindboggle123 volume results change each time because of stochastic element in ANTs segmentation algorithm"
@binarybottle to Nick Tustison: "A collaborator has found that running antsCorticalThickness.sh twice on the same subject produces different results, and he believes that it is due to different results generated from the N4 bias correction.  He's running it again, but does this sound right to you?"

@ntustison: "There’s a stochastic element to the segmentation algorithm, Atropos, which is intertwi

[2018-03-08 18:42] binarybottle commented on #145
The mindboggle123 script (https://github.com/nipy/mindboggle/blob/master/mindboggle/mindboggle123#L158) runs antsCorticalThickness.sh with the following flags, but no -u 0:

# ----------------------------------------------------------------------------
# Use antsCorticalThickness.sh to generate segmentations of structural data:
# antsCorticalThickness.sh -d 3 -a $IMAGE \
# -e $TEMPLATE/T_template0

[2018-03-08 18:53] binarybottle commented on #145
I am adding a "-u 0" to antsCorticalThickness.sh in mindboggle123 to resolve this issue, so that every time you run Mindboggle you get the same volumetric shape measures.

[2018-03-08 18:55] #145 closed

[2018-03-08 22:17] binarybottle commented on #145
I created a new release just to make it official:  https://github.com/nipy/mindboggle/releases/tag/v1.2.3_ants_same_output

[2018-03-09 20:36] satra commented on #142
@binarybottle - over the weekend.

[2018-03-13 22:46] binarybottle commented on #133
@araikes -- Just touching base about this issue.  Were you able to resolve it, and if not, could you please share the relabeled_rh.aparc.vtk file?  If I don't hear back, I'll assume that this issue has been resolved or was a problem related to the FreeSurfer run, given that read_vtk() couldn't find any points in the right surface mesh...

[2018-03-13 22:52] binarybottle commented on #94
@geowk -- Did you ever successfully resolve your issue with the installer script, did you instead use the docker image, or did you move on?  Your experience could be helpful for others in the community.

[2018-03-19 11:35] satra opened #148 "extract global measures in addition to shape-specific measures"
in the mindboggle output none of the global measures/stats evaluated by the underlying tools are extracted. while it's possible to go back and extract them separately, it would nice to have them in the mindboggled output.

[2018-03-19 13:01] binarybottle commented on #148
I agree.  Which global measures would you like to include in the mindboggled output?

By the way, this issue is related to issue #108.

[2018-03-20 01:15] satra commented on #148
every measure that's in the header of aseg.stats + corpus callosum + ventricular stats. i don't think the latter two are present in the current output.

[code]

[2018-03-25 05:08] binarybottle opened #149 "thickinthehead results incorrect for voxel dimensions other than 1mm^3"
Colleagues at the Nathan Kline Institute ran Mindboggle on T1s from three different scanners: CBIC, SI, and RU.  They found that for every labeled region in every subject, RU's thickinthehead values were approximately twice as high as their CBIC and SI counterparts.

The thickinthehead measure is computed as follows for each labeled cortical region:

    volume = (number of voxels) x (product of v

[2018-03-25 05:24] binarybottle opened #150 "thickinthehead fails on large images ***plus discussion about ANTs thickness measures***"
After fixing a bug in issue #149, the thickinthehead function fails when running on large image volumes.  Inside this functon, Mindboggle calls the ANTs ResampleImageBySpacing command to resample segmented and labeled images to twice their resolution for extracting more precise inner and outer cortical edges.  If an image starts at, for example::

    dimensions: 320 x 320 x 224
    voxel sizes: 0

[2018-03-25 14:32] satra commented on #150
does it fail because it runs out of memory? would be good to know: @ntustison any thoughts here?

[2018-03-25 16:03] binarybottle commented on #150
I think it's a memory issue, because the process is Killed for two different images when they get to about 500MB.  Do you think the best way to resolve this issue is to warn, raise an error, downsample to a size that works (256 mm^3 with 1mm^3 voxel size), or break up the volume somehow into pieces (like explode_scalars but for volumes)?

[2018-03-25 16:24] satra commented on #150
@binarybottle - unless you have surfaces or lines that you are mapping on to voxels, taking two volumes and simply upsampling them will not necessarily get your more precision. what's perhaps more useful is if you have partial volume info to take into account. so i think you can perhaps do all operations at native volume resolution instead of upsampling.

freesurfer has mri_segstats. perhaps ants

[2018-03-25 21:42] ntustison commented on #150
``LabelGeometryMeasures``.

I'm somewhat surprised that your problem is due to a morphological operation.  Can you post the data so I can run that particular command on the input data?

[2018-03-26 03:50] binarybottle opened #151 "Add ANTs LabelGeometryMeasures for volume stats per label"
As suggested by @satra and @ntustison in issue @150, we could add volume stats per label computed by LabelGeometryMeasures in ANTs.

@ntustison -- Why would I be getting the following error from the T1 and labeled version of the same?:

[2018-03-26 03:50] ntustison commented on #150
@binarybottle Your thickinthehead measurement sounds a lot like what we put together in ``ImageMath`` in discussions with you (called [``LabelThickness``])(https://github.com/ANTsX/ANTs/blob/master/Examples/ImageMath_Templates.hxx#L10204-L10320).  If that's the case, I thought we also discussed why that isn't the best approach for calculating digital surface areas.  Don't you remember these [plots

[2018-03-26 03:56] ntustison commented on #151
The first element of the origins are different hence "They don't occupy the same physical space."  This is an ITK requirement and somewhere during your processing the origins ended up changing due to, I'm guessing, floating point precision.  We end up using ``CopyImageHeaderInformation`` during ``antsCorticalThickness.sh`` quite a bit to avoid this error popping up.

[2018-03-27 02:40] binarybottle commented on #151
Thanks, @ntustison!  It's been a while since I've used CopyImageHeaderInformation.  What am I doing wrong in the following?:

[code]

[2018-03-27 02:40] binarybottle commented on #151
Thanks, @ntustison!  It's been a while since I've used CopyImageHeaderInformation.  What am I doing wrong in the following?:

[code]

[2018-03-27 03:52] binarybottle commented on #150
Wow -- I completely forgot about our LabelThickness discussion back in 2013!  I just dredged up our extensive email exchange with Brian Avants when I first wrote thickinthehead and compared its results to FreeSurfer and antsCT (9/2013), when you and Brian created LabelThickness as a version of thickinthehead in ANTs (10/2013), and your Christmas gift two months later of LabelThickness2, which I th

[2018-03-27 04:20] ntustison commented on #150
Yep, all of that material is still in the KellyKapowski GitHub repo.

That's not ``LabelThickness2``.  That code snippet is part of the function above it ``LabelThickness``.  [This](https://github.com/ANTsX/ANTs/blob/master/Examples/ImageMath_Templates.hxx#L10322-L10407) is ``LabelThickness2`` which uses [this](http://insight-journal.org/browse/publication/852) digitally-based surface area estimat

[2018-03-27 13:19] binarybottle commented on #151
Thank you.  The output volume looks fine, but why are the label numbers in the csv file all over the place?:

[2018-03-27 13:25] ntustison commented on #151
I have no idea.    You should check the content of your images.

[2018-03-27 13:51] binarybottle commented on #150
Thank you for clarifying!  Now it's in two repos for good measure!

I ran the following and get thickness measures of around 1-2mm per region:
`ImageMath 3 thickness_prior.nii.gz LabelThickness2 cbic_labels.nii.gz`

So the code in LabelThickness2, unlike LabelThickness, estimates surface based on the Crofton formula?: https://github.com/midas-journal/midas-journal-852/blob/master/perf3D.cxx#L221-L

[2018-03-27 14:11] ntustison commented on #150
Calculation is generic in that it is performed simply based on the labeled objects in your image.

[2018-03-27 14:31] ntustison commented on #151
Yes.  I don't ever use ``LabelThickness2`` but rather use ``LabelGeometryMeasures`` to keep all that info.

[2018-03-27 14:33] binarybottle commented on #150
So if I have an image volume in which the whole brain has non-zero values and the outside of the brain has zero-value voxels, will LabelThickness2 compute thickness for a given labeled region based on the surface area of the region in contact with zero-value voxels only?

[2018-03-27 14:39] ntustison commented on #150
That's not quite accurate.  For computing surface area of a given object (with a single object being defined by a single label), both ``LabelThickness2`` and ``LabelGeometryMeasures`` calculate surface areas by defining "inside" vs. "outside" as "label" vs. "not label" (not as non-zero vs. zero).  For example, your DKT labeling protocol, will give you surface areas for each ROI.

[2018-03-27 14:42] binarybottle commented on #151
Good to know!  Thank you, Nick!  In that case I have GOT to include LabelGeometryMeasures output with output from the mindboggle123 pipeline, once I figure out how to get sensible label values!

[2018-03-27 14:48] ntustison commented on #151
I noticed you didn't link this [plot](https://github.com/ntustison/KapowskiChronicles/blob/master/analytics2/lmMeanError.pdf).  Did you ever see it?  One of the metrics for our 2014 cortical thickness paper was age prediction.  In the paper we only show mean squared error of the FreeSurfer vs. ANTs prediction results for 1000 training/testing data permutations.  The plot linked to above was also m

[2018-03-27 14:52] binarybottle commented on #150
I see. So if I understand correctly, I have two issues with computing inside vs. outside for a given cortical region:

(1) If LabelThickness2 includes surfaces abutting other cortical regions in its estimate of cortical label surface area, then it will overestimate surface area and underestimate thickness.

(2) If LabelThickness2 includes both pial/non-brain and gray/white surfaces, then it makes

[2018-03-27 15:01] binarybottle commented on #151
I definitely don't remember seeing this plot!  Thank you for sharing.

I assume that these predictions were made on region-based thickness, not locally (vertex-wise or voxel-wise), correct?  If so, how did you generate a single thickness measure per region for ANTs, given that antsCorticalThickness.sh generates an image volume with a different value per voxel?

[2018-03-27 15:31] ntustison commented on #150
Both statements are correct.  For (1), though, I would say that your measurement already begins with incredibly simplistic assumptions (i.e., thickness = volume / surface area) and since those measurements are being applied to the cortex, you're probably already over/underestimating your measurements anyway (not to mention the averaging over the entire region).   What you're losing in the precise

[2018-03-27 15:32] ntustison commented on #151
joint label fusion + DKT labels

[2018-03-27 15:37] binarybottle commented on #151
So that's how you established the labeled regions, but how did you compute a single thickness measure per region from Direct/KellySlater/KellyKapowski?  Did you simply take the average across all voxels in the region?

[2018-03-27 15:38] ntustison commented on #151
Yes.

[2018-03-27 16:18] binarybottle commented on #150
(1) I completely agree that thickinthead makes simplistic assumptions, and I know that most of the surface is spread over the folds and not along the borders between adjacent cortical regions, but including these borders will result in a worse estimate of surface area for smaller regions with proportionately larger borders, and I don't feel comfortable leaving these borders in.

(2) I also agree t

[2018-03-27 16:31] binarybottle commented on #151
If according to the plot you shared above this average thickness value per region is a better predictor of age, gender, etc. than the LabelThickness2 (= LabelGeometryMeasures vol/surf ratio), then why isn't this measure included in the LabelGeometryMeasures output table?

[2018-03-27 16:49] ntustison commented on #151
Good software engineering decisions consider more than single-use cases.  All the existing measurements precisely map between their values and common everyday usage in terms of language.  That's not the case with ``LabelThickness?`` which is more a surrogate measure for actual thickness (albeit a really good one).  That could mislead the naive user.  For the more knowledgeable user, those surrogat

[2018-03-27 17:07] binarybottle commented on #151
Perhaps I wasn't clear.  I was asking why the average KellyKapowski measure per region isn't included in the LabelGeometryMeasures output table, not why the LabelGeometryMeasures vol/surf ratio isn't included as a column in the output table.  The voxel-wise KellyKapowski measures are not in the table, only in the volume image, so there's no way to derive the average KellyKapowski value per region

[2018-03-27 17:17] ntustison commented on #151
Thanks for the clarification.  So the same general motivation "good software engineering decisions" applies.  ``LabelGeometryMeasures`` is a simple program which mainly takes a single input and provides as output, almost instantaneously, a set of measurements.  Adding KK output capabilities would significantly change (i.e., complicate) that.

[2018-03-27 17:48] binarybottle commented on #151
Makes perfect sense not to complicate the LabelGeometryMeasures function.

Since mindboggle123 runs antsCorticalThickness.sh, should I include in mindboggle123 output tables average KellyKapowski measures, LabelGeometryMeasures vol/surf measures, or both?

[2018-03-27 18:05] ntustison commented on #151
It's been a long time since I've looked at mindboggle so I don't really have an opinion.

[2018-03-27 18:18] binarybottle commented on #151
That's cool.  Since people use mindboggle output for prediction, I'll give them both, the whole table, and the kitchen sink, to boot!

Thank you very much for clarifying the relationships between LabelGeometryMeasures, LabelThickness2, and KellyKapowski!

[2018-03-27 18:37] binarybottle commented on #151
One more question, @ntustison -- what's the easiest way to get the average KellyKapowski values?  Do you already compute it when running antsCT and store it somewhere, or should I run?:

`ImageMath  3 output.csv ROIStatistics roinames.txt LabelImage.nii.gz ValueImage.nii.gz`

[2018-03-27 18:53] ntustison commented on #151
You can use that.  I don't use it but I would imagine ``roinames.txt`` is simply a text file where each row is the label name for that specific row.  You'd have to ask Brian.

_Be sure to mask out the non-zero thickness values as your KK thickness map won't necessarily line up with the joint label fusion output._

[2018-03-27 20:54] binarybottle commented on #149
Rescaling the voxel dimensions as above resolves this issue for image volumes of smaller dimensions, but because thickinthehead fails for large images (ANTs ImageMath processes keep getting Killed), we will continue to work on this in issue #150...

[2018-03-27 22:10] binarybottle commented on #148
After running recon-all I see the following in a subject's stats/ folder:

FreeSurfer generates a lot of interesting information, and it's not obvious to me which of the above files would be good to include.  If someone runs mindboggle123 (or recon-all as a preprocessing step to mindboggle) they will generate all of the above and have access to them.  I don't think that copying these tables into M

[2018-03-27 22:17] satra commented on #148
run asegstats2table returns a list of specific subcortical and whole brain stats for a subject. i would suggest including those only.

[2018-03-27 22:26] binarybottle commented on #148
Why do I have a syntax error?:

[code]

And why not aparcstats2table as well?...

[2018-03-27 22:38] satra commented on #148
needs python2, not updated yet to use python 3 ( there is a version in their dev repo which would likely run on python3, but the script itself forces a python2 interpreter).

because in general you do extract those in the freesurfer table. i'm mostly thinking of things like ventricle volume, etiv, brain vol, which are not present in mindboggle output, but can be useful for normalizing, predicting,

[2018-03-27 22:40] satra commented on #148
given the python situation it would be best to perhaps just parse the aseg.stats directly using pandas.

[2018-03-27 22:46] binarybottle commented on #150
Back to the main program for a minute...

I am considering resampling the segmented image so that it has isometric 1mm^3 voxels, which would be consistent with the original intended input for Mindboggle's thickinthehead algorithm (see https://github.com/nipy/mindboggle/issues/149).  I don't trust that a surface estimate will be reliable across different voxel dimensions, but there's this hopeful a

[2018-03-27 22:53] binarybottle commented on #148
I won't be able to get to a pandas parsing for some time, unfortunately...

[2018-03-27 23:00] satra commented on #150
@binarybottle - these days people are acquiring anything from 0.5 to 1mm _in vivo_. wouldn't resampling to 1 reduce the clarity these scans provide? why not leave every file at native resolution for calculation?

in general, other approaches may be useful in the volumetric context as well: https://riojournal.com/article/12346/

[2018-03-28 03:29] #149 closed

[2018-03-29 06:22] binarybottle commented on #149
I have updated the thickinthehead function's docstring to document a revision to the algorithm:

The revision performs similarly for 1mm^3 voxels (except for differences due to not resampling), but gives smaller values for the smaller voxel sizes:

1001 thickinthehead thickness = 2.95mm
1002 thickinthehead thickness = 2.48mm
1003 thickinthehead thickness = 2.42mm
1005 thickinthehead thickness = 1.

[2018-03-29 06:27] binarybottle commented on #150
Thank you, @satra.  While the effects of erosion and dilation are benefitted by upsampling, I have removed upsampling while revising the algorithm (see issue #149).  While I'm not satisfied with the revision, it is at least less susceptible to artifacts due to voxel dimensions, so I'll test it out before deciding whether to overhaul or remove it entirely.  It also doesn't run into occasional memor

[2018-03-29 06:27] #150 closed

[2018-03-30 18:51] rmehta1987 commented on #10
@binarybottle Sorry to raise this again, but how did you determine there were  free vertices in the mesh?  Currently I use matlab's delaunyTriagnulation to create a mesh from a point cloud.  I'm trying to remove singularity errors, so I'm not sure if it's because of free vertices or of the scaling of the matrix.

[2018-04-02 16:06] binarybottle commented on #10
I will defer to @forrestbao or @m-reuter...

[2018-04-02 21:20] forrestbao commented on #10
Hi @rmehta1987 , a free vertex is a point not part of any polygon on the mesh. Based on this definition, there can be various ways to find out free vertexes. One approach is to create a data structure (e.g., a set in Python) that contains the indexes (or other IDs) of all vertexes **on the mesh** by scanning all polygons on the mesh. Then check whether the indexes of all points belong to the data

[2018-04-25 09:10] iamjoostjanssen opened #152 "summary statistics of shape measures normalized by area?"
Hi,

Using defaults we calculate for subject 'Arno' ("mindboggle_input_example") mindboggle output.

Our objective is to compare output-table values from mindboggle with values we calculated _outside_ mindboggle but using the mindboggle input.

Outside mindboggle, for subject Arno, we calculate mean geodesic depth of the left fundus of the superior frontal sulcus by taking the average of the value

[2018-04-26 15:58] binarybottle commented on #152
When Mindboggle's [write_shape_stats](https://github.com/nipy/mindboggle/blob/master/mindboggle/mio/tables.py#L14) creates tables of summary statistics (median, mad, mean, sd, etc.) of the vertex measures (curvature, depths, etc.),  the [stats_per_label](https://github.com/nipy/mindboggle/blob/master/mindboggle/guts/compute.py#L512) function  normalizes by area.  This ensures that the shape of fla

[2018-04-26 16:00] binarybottle commented on #152
I have changed the title of this issue so that it is clear to people who search for this in the future...

[2018-04-26 16:00] #152 closed

[2018-06-17 07:52] BingyuLiu commented on #143
I faced similar issue！

[2018-07-18 16:04] mgxd opened #155 "[request] push latest image to dockerhub"
with updated nipype (1.1.1)

[2018-08-23 11:05] binarybottle commented on #155
Will the pip install of nipype in environment.yml (circleci v1) make use of nipype 1.1.1?

[2018-08-25 23:59] satra commented on #155
it will install whatever the latest release is, since version is not explicitly provided. also, once PR #156 is merged we should be able to use the Dockerfile to automatically create releases on docker hub.

[2018-08-26 01:37] binarybottle commented on #155
Great, thank you!  I like to include as much documentation as possible.  The Docker.mindboggle.[base, complete] files included the following instructions -- what portion shall I retain for a new file install/README?:

# Dockerfile.mindboggle.base

# Dockerfile.mindboggle.complete

[2018-08-26 15:26] satra commented on #155
@binarybottle - now that the dockerfile is being generated by the neurodocker.sh script, perhaps instructions can go there. the shell script itself should be quite straightforward to follow.

[2018-08-26 16:17] binarybottle commented on #151
@satra -- Shall I close this issue now that you've added nipype's LabelGeometry (= ants LabelGeometryMeasures)?

[2018-08-26 16:18] satra commented on #151
@binarybottle - indeed - closed by #156

[2018-08-26 16:18] #151 closed

[2018-08-26 16:18] binarybottle commented on #148
@satra -- you didn't tackle whole-brain measures when you introduced LabelGeometry, did you?

[2018-08-26 16:19] binarybottle commented on #143
Thank you, @kaczmarj !

[2018-08-26 16:19] #143 closed

[2018-08-26 16:20] satra commented on #148
no - i tackled the pieces necessary to create this table. we are working on a nidmification of the outputs from freesurfer and ants. once that's ready i'll add that in to the code.

[2018-08-26 16:22] binarybottle commented on #120
Thank you, @satra !

--ants version=b43df4bfc8 method=source cmake_opts='-DBUILD_SHARED_LIBS=ON' make_opts='-j 4'
https://github.com/nipy/mindboggle/blob/master/install/neurodocker.sh#L54

[2018-08-26 16:22] #120 closed

[2018-08-26 16:23] binarybottle commented on #69
@satra -- Shall we close this issue, given that we've moved on to VTK 8?

[2018-08-26 16:31] binarybottle commented on #155
Documented and done:
https://hub.docker.com/r/nipy/mindboggle/

[2018-08-26 16:31] #155 closed

[2018-08-26 16:35] satra commented on #69
yes - i think this can be closed for now.

[2018-08-26 16:35] #69 closed

[2018-09-17 20:53] binarybottle commented on #134
@mivanyo -- Perhaps the recently resolved issue #159 will help you create a Singularity container?

[2018-10-03 14:07] sunhuaiqiang opened #160 "mindboggle: command not found"
I just pulled the latest image of mindboggle by
docker pull nipy/mindboggle
and successfully log in the image by
docker run --rm -ti -v $PWD:/home/jovyan/work --entrypoint /bin/bash nipy/mindboggle
but when type "mingboggle"
it returns "mindboggle: command not found"

[2018-10-03 15:32] mgxd commented on #160
@sunhuaiqiang you'll have to change your docker run command to use a different entrypoint

`docker run ... --entrypoint=/neurodocker/startup.sh ...`

[2018-10-03 15:37] binarybottle commented on #160
someone answered online, I guess I need to update the docs to say no doctor (neurodocker)! I should have asked you...

On Wed, Oct 3, 2018, 11:33 Mathias Goncalves <notifications@github.com<mailto:notifications@github.com>> wrote:

@sunhuaiqiang<https://github.com/sunhuaiqiang> you'll have to change your docker run command to use a different entrypoint

docker run ... --entrypoint=/neurodocker/sta

[2018-10-03 19:42] #160 closed

[2018-10-03 19:43] satra commented on #160
or you can skip the `--entrypoint` flag altogether i believe.

[2018-10-03 19:48] binarybottle commented on #160
Even better!  I'll remove the flag from the online documentation...

[2018-10-09 12:54] cgutierrez19 opened #162 "cannot execute binary file: Exec format error"
Hello, I am encountering a simple error in the dockerized version of mindboggle. This is the first time I have this error, and pulled the docker version yesterday. Have you guys had this error before? Using the example image:

HOST=/data
DOCK=/home/jovyan/work
IMAGE=$DOCK/Mri_Data/T1.nii.gz
ID=T1w
docker run --rm -ti -v $HOST:$DOCK nipy/mindboggle $IMAGE --id $ID
INFO: /root/matlab/startup.m does

[2018-10-09 13:09] satra commented on #162
@cgutierrez19 - the command now expects mindboggle123 as such:

`docker run --rm -ti -v $HOST:$DOCK nipy/mindboggle mindboggle123 $IMAGE --id $ID`

let us know if that works.

[2018-10-09 13:44] cgutierrez19 commented on #162
Thank you Satra, it's working now.

[2018-10-09 19:00] #162 closed

[2018-11-19 13:33] binarybottle commented on #134
@mivanyo -- I will assume that this issue was due to running out of storage space and will consider it resolved.

[2018-11-19 13:33] #134 closed

[2018-11-19 13:34] #133 closed

[2018-11-19 13:41] binarybottle commented on #94
@satra -- Do you think that I should keep this installer script as is (unchanged for 2 years), document it as "deprecated" and point people to neurodocker.sh, or simply remove it to reduce confusion?

[2018-11-19 13:52] satra commented on #94
@binarybottle - i think at this point we could just rely on `neurodocker.sh`.

[2018-11-19 14:16] #94 closed

[2019-03-13 09:29] Valinnor-W opened #167 "How to reconstruct the shape form Zernike moments extracted from the original shape"
Nice work，It really help. I have extracted the Zernike moments from my labeled data using your code.now I want to  reconstruction my data,what should I do ? thank you !

[2019-03-13 14:58] binarybottle commented on #167
Zernike moments are computed per region, not per vertex, so you would need to assign a different scalar value (corresponding to the moments) to each region's vertices.

You can assign these values to Mindboggle's shapes/vertex.csv tabular output, and you have a Zernike value for each vertex, or you can set color values to a colormap corresponding to the moments -- see Mindboggle's plot functions:

[2019-03-13 14:58] #167 closed

[2019-03-14 16:55] SHJDwu opened #168 "mindboggle docker installation problem"
Hi mindboggle experts,
I'm attempting a docker install of Mindboggle on  Ubuntu 14.  I’ve followed the recommendations here (https://mindboggle.readthedocs.io/en/latest/). Firstly, I installed docker following this web page(https://docs.docker.com/install/linux/docker-ce/ubuntu/). After docker installation, I used the following commandline

docker pull nipy/mindboggle

then, the status showed "Dow

[2019-03-14 18:41] binarybottle commented on #168
I don't know if there's a problem here.  The next steps in the online documentation suggest setting environment variables so that you can access files from within the docker container, and then the command(s) for running mindlogger within the container.

[2019-04-19 18:24] NPann commented on #168
This 2 environment variables are used to map the docker volume between your host machine and the docker container. HOST pointing to a folder on your host machine, DOCK pointing to a folder in the docker container so that when your run
`docker run --rm -ti -v $HOST:/home/jovyan/work -p 8888:8888 nipy/mindboggle`
you can access what is in the folder defined HOST from the docker container at the DOCK

[2019-04-19 22:59] binarybottle commented on #168
Thank you!  We forgot to update this doc after switching to neurodocker.  The command mindboggle123 has to be specified after the docker image name.  I am traveling now.  Would you mind making a pull request?

Cheers,
@rno

Arno Klein, PhD
MATTER Lab Director
https://matter.childmind.org
Joseph Healey Scholar
Senior Research Scientist
Child Mind Institute
101 E 56 St, NY
347-577-2091

____________

[2019-06-06 17:08] g-a-t opened #169 "Trouble setting environment variables"
Hi,

Installed Docker, trying to run the single command after setting environment variables. My variables:

HOST=/Users/gat/Desktop/
DOCK=/home/jovyan/work
IMAGE=$DOCK/Users/gat/Desktop/Mindboggle/001.nii.gz
ID=001

When I run the command
docker run --rm -ti -v $HOST:$DOCK nipy/mindboggle $IMAGE --id $ID

I get the following error:
/neurodocker/startup.sh: line 5: /home/jovyan/work/Users/gat/Deskt

[2019-06-06 17:33] gabriann commented on #169
Additionally, when trying to access the jupyter notebook from within the container, I get the following error:

[I 17:32:01.775 NotebookApp] Writing notebook server cookie secret to /root/.local/share/jupyter/runtime/notebook_cookie_secret
Traceback (most recent call last):
  File "/opt/miniconda-latest/envs/mb/bin/jupyter-notebook", line 11, in <module>
    sys.exit(main())
  File "/opt/miniconda

[2019-06-07 05:54] PeerHerholz commented on #169
Hi @g-a-t,

coolio that you're planning to use mindboggle!
Such questions are great for [neurostars.org](www.neurostars.org) (make sure to include the `mindboggle` tag) , as more folks are able to find and benefit from it, especially in the long run.

Regarding your first question: you're almost there. I assume you're kinda familiar with docker? If not, let me know and I'll rephrase my answer to i

[2019-06-08 06:11] PeerHerholz commented on #169
Follow up: I just saw the other issue where @NPann pointed provided a solution to the `OSError: [Errno 99] Cannot assign requested address` problem. @binarybottle updated the instructions accordingly, with the new command being: `jupyter notebook /opt/mindboggle/docs/mindboggle_tutorial.ipynb --ip=0.0.0.0 --allow-root`.

[2019-06-08 06:19] PeerHerholz commented on #168
Hi @binarybottle & @NPann, maybe including
`--run 'mkdir -p ~/.jupyter
&& echo c.NotebookApp.ip = \"0.0.0.0\" > ~/.jupyter/jupyter_notebook_config.py' \
`
in the [neurodocker.sh](https://github.com/nipy/mindboggle/blob/master/install/neurodocker.sh) file might help and will allow the classic call without the need to specify the IP/allowing root!? At least it did for some of the docker images I set

[2019-06-08 13:43] binarybottle commented on #168
Thank you, @PeerHerholz !
I have added the line to neurodocker.sh and pushed to the repo.

@PeerHerholz and @NPann -- Before I update the docker container on dockerhub, could you please help me update the documentation as per "The doc seems is a bit outdated." comment above?

[2019-06-08 13:45] binarybottle commented on #169
@PeerHerholz -- I followed your suggestion in issue #168 by adding a line to the neurodocker.sh file.

[2019-06-08 22:49] binarybottle opened #170 "ERROR: FreeSurfer license file /opt/freesurfer-6.0.0-min/license.txt not found."
After entering the mindboggle docker container, I get the following error when I try to run recon-all:

ERROR: FreeSurfer license file /opt/freesurfer-6.0.0-min/license.txt not found.

[2019-06-09 12:04] PeerHerholz commented on #168
Sure thing! Did you have anything particular in mind? I'll build the image locally and test a bit around.

[2019-06-09 13:37] binarybottle commented on #168
I'm just pushing a new version (1.3.1) to docker hub.  I'll give each command a try and give you feedback in a bit...

[2019-06-09 16:27] binarybottle commented on #169
Thank you for the clear directions, @PeerHerholz!   @g-a-t -- did this help?

I am also able to run the jupyter notebook with the new command.  I'll focus on issue #168 now...

[2019-06-09 16:29] binarybottle commented on #170
I added the following line to the neurodocker.sh file to retrieve a license file (for 1,000 people) from the Open Science Framework:

`  --run 'curl -sSL https://osf.io/download/n3ud2/?revision=1 -o /opt/freesurfer-6.0.0-min/license.txt' \
`

I created a new docker container following the instructions I wrote at the top of neurodocker.sh, and FreeSurfer works again.

[2019-06-09 16:29] #170 closed

[2019-06-09 16:32] binarybottle commented on #168
I tried adding the following line to neurodocker.sh:

`  --run 'mkdir -p ~/.jupyter && echo c.NotebookApp.ip = \"0.0.0.0\" > ~/.jupyter/jupyter_notebook_config.py' \
`
but for the current docker image, I still needed "--ip=0.0.0.0 --allow-root" to open up a jupyter notebook.

[2019-06-09 16:37] binarybottle commented on #168
Thank you for asking!  I was referring to @NPann's comment:

This is set in the kaczmarj/neurodocker image that mindboggle's neurodocker.sh builds on.  For a mindboggle user, you just set $DOCK as an environment variable, so I'm not sure what if anything I would need to add to the documentation.

[2019-06-09 16:51] binarybottle opened #171 "Newest VTK 8.1 version breaks the C++ code"
The neurodocker.sh file does a conda install of vtk without setting a version, and conda installs vtk 8.1, which appears to break the C++ surface shape measurement code due to a missing shared library file, resulting in the following error:

I tried out `conda install vtk=8.2` in the mindboggle docker container and this fixed the issue, so I have updated the neurodocker.sh file accordingly and wil

[2019-06-09 20:40] binarybottle opened #172 "Zernike moments ImportError: cannot import name 'factorial'"
Calculating Zernike moments now gives the error:

I am replacing "scipy.misc" with "scipy.special" for scipy.misc.factorial and scipy.misc.comb...

[2019-06-09 20:48] binarybottle commented on #172
Importing scipy.special fixed the issue.

[2019-06-09 20:48] #172 closed

[2019-06-10 00:53] binarybottle opened #173 "ROYGBIV viewer not loading data"
`roygbiv $OUT/$ID` isn't loading mindboggle output data.

command line:

browser (http://0.0.0.0:5000/):

<img width="399" alt="Screen Shot 2019-06-09 at 8 50 05 PM" src="https://user-images.githubusercontent.com/236532/59166518-94886500-8af8-11e9-8014-d3674661b470.png">

[2019-06-10 00:55] binarybottle commented on #171
Installing vtk 8.2 resolved this issue.

[2019-06-10 00:55] #171 closed

[2019-06-10 01:18] binarybottle opened #174 "Can't simultaneously set both arguments: --roygbiv and --no_points"
The argument --roygbiv requires the vertex table generated by not invoking --no_points.

I have turned off --no_points if --roygbiv is used.

[2019-06-10 01:19] #174 closed

[2019-06-10 05:38] binarybottle opened #175 "UnicodeEncodeError: 'ascii' codec can't encode character '\u2019'"
Running:

`mindboggle $FREESURFER_SUBJECT --out $OUT --no_volumes --no_moments --no_spectra --no_sulci
`

results in UnicodeEncodeError in multiple places within nipype:

This is despite the fact that within the docker container, UTF-8 is set by default:

and seems resistant to setting `ENV PYTHONIOENCODING=utf-8`

or running (https://stackoverflow.com/questions/43356982/docker-python-set-utf-8-lo

[2019-06-10 05:39] binarybottle commented on #175
I tried to add encoding="uint-8" everywhere that mindboggle writes out a file, to no avail...

[2019-06-10 12:11] binarybottle opened #176 "'normed' kwarg was deprecated in Matplotlib 2.1"
When running plots.py:

https://github.com/taborlab/FlowCal/issues/287

[2019-06-10 12:12] binarybottle commented on #176
Fixed by replacing "normed" with "normed_area"

[2019-06-10 12:12] #176 closed