[2019-06-10 12:20] binarybottle opened #177 "nbpapaya not displaying in jupyter notebook tutorial"
<img width="900" alt="Screen Shot 2019-06-10 at 8 19 16 AM" src="https://user-images.githubusercontent.com/236532/59194916-94b84d00-8b58-11e9-8372-2978f4476e70.png">

[2019-06-10 12:23] PeerHerholz commented on #170
Hi @binarybottle & @satra, sorry for reopening this, but I was about to suggest that it might be worth to adapt [fMRIPREP's FS license approach](https://fmriprep.readthedocs.io/en/stable/installation.html#the-freesurfer-license). Shouldn't be too inconvenient and would additionally help the FS folks tracking things. How are you feeling about this?

[2019-06-10 12:34] binarybottle commented on #170
That's a nice approach!  My only concern is that it is an extra burden on users to not only get a license file, but to store it in the write path accessible by the docker container.  People seem to have enough trouble figuring out how to access files they wish to process from the docker container that I can easily see this leading to unnecessary confusion.

[2019-06-10 12:43] binarybottle opened #178 "docker run command results in "Permission denied" error"
`docker run --rm -ti -v $HOST:$DOCK nipy/mindboggle $IMAGE --id $ID
`

[2019-06-10 13:24] binarybottle commented on #177
TO DO -- use nilearn's plot_surf:

https://nilearn.github.io/modules/generated/nilearn.plotting.plot_surf.html#nilearn.plotting.plot_surf

[2019-06-10 18:22] g-a-t opened #179 "Error re: DATA argument"
Have successfully run Freesurfer and ANTs via Mindboggle in the Docker container on Mac OS 10.14.5 (Mojave). Outputs look good.

However, I get an issue when trying to run Mindboggle on this preprocessed data. Same error occurs when trying any of the example commands listed at https://github.com/nipy/mindboggle. I believe my environment variables are correct (i.e. they point to my Freesurfer and A

[2019-06-10 18:25] binarybottle opened #180 "non-default curvature files improperly named"
Revised code gives proper names to non-default (gaussian, max, min) curvature output files in surface_shaps.py:

[code]

[2019-06-10 18:25] #180 closed

[2019-06-10 18:39] binarybottle commented on #179
You don't have the correct path to $FREESURFER_SUBJECT --

Example: /home/jovyan/work/mindboggle_input_example/freesurfer/subjects/arno

Note:  I am busy preparing a new docker container tonight...

[2019-06-10 18:39] #179 closed

[2019-06-10 22:52] binarybottle commented on #177
I tried nilearn's plot_surf:

[code]

but got the following error:

[2019-06-11 11:38] binarybottle commented on #175
I added "encoding='utf-8'" to five write commands in two nipype files within mindboggle's docker image that generate reports for mindboggle:

- /opt/miniconda-latest/envs/mb/lib/python3.6/site-packages/nipype/pipeline/engine/utils.py
- /opt/miniconda-latest/envs/mb/lib/python3.6/site-packages/nipype/utils/filemanip.py

Example (line 688 of filemanip.py):

`with open(filename, 'w') as fp:` to `with

[2019-06-11 11:47] #175 closed

[2019-06-11 12:58] binarybottle commented on #173
My mistake!  My browser window was narrow, so the surface showed up way below on the right side of the controls.

[2019-06-11 12:58] #173 closed

[2019-06-11 14:01] kalemaria opened #181 "Unreadable Notebook - NotJSONError"
I reloaded the tutorial as currently described [here] (https://mindboggle.readthedocs.io/en/latest/#tutorial):

`docker run --rm -ti -v $HOST:/home/jovyan/work -p 8888:8888 nipy/mindboggle jupyter notebook /opt/mindboggle/docs/mindboggle_tutorial.ipynb --ip=0.0.0.0 --allow-root`

But when I click on “mindboggle_tutorial.ipynb” and it opens in the next tab, the following error comes:

`Unreadable N

[2019-06-11 14:25] binarybottle commented on #181
A typo!  Let me fix that right away!...

[2019-06-11 15:13] binarybottle commented on #181
Fixed!  (Missed one '"'!)

Please either `docker pull nipy/mindboggle` again.

So sorry for the inconvenience!

[2019-06-11 15:13] #181 closed

[2019-06-11 16:18] kalemaria commented on #181
Cool, the error is gone, thanks!

[2019-06-11 17:22] binarybottle commented on #181
My pleasure!  Thank you again for the alert!

[2019-06-13 14:40] kalemaria opened #182 "Minimal, maximal and Gaussian curvatures are the same and wrong"
I have applied MainCurvature using options -m 0 and -n 2, e.g. as shown in the command line example:
`CurvatureMain -m 0 -n 2 -i lh.min_curv.vtk -x lh.max_curv.vtk -g lh.gaussian_curv.vtk -d lh.min_dir.vtk lh.pial.vtk lh.mean_curv.vtk`
But I got same values for minimal, maximal and Gaussian curvatures, which also have the opposite sign than the mean curvatures at the folds. The sign of the mean cu

[2019-06-13 14:43] kalemaria commented on #182
Mean curvature (OK):
![lh pial mindboggle_n2_mean_curv](https://user-images.githubusercontent.com/4126499/59442306-41652980-8dfa-11e9-974b-17130e5e3422.png)
The other curvatures have exactly the same values:
Minimal curvature:
![lh pial mindboggle_n2_min_curv](https://user-images.githubusercontent.com/4126499/59442239-1ed31080-8dfa-11e9-8358-eaeda0edfcd0.png)
Maximal curvature:
![lh pial mindboggl

[2019-06-13 15:45] kalemaria commented on #182
I have tried -n 0.7, which seems to be the default of the function and is finally recommended [here](https://github.com/nipy/mindboggle/issues/11), or was it meant just for the method -m 2?.
Then most of the mean curvature values become exactly 0 and the other three, which are again the same for each point, -1. This is probably the source of the 0 peak mentioned in the [issue #11](https://github.c

[2019-06-13 17:16] binarybottle commented on #182
@kalemaria -- Thank you very much for looking into the curvature measures!  As you saw from issue #11 we chose -m 2 as the default after much deliberation, despite wanting to use Gaussian, max, and min curvatures as well for feature extraction.  I'm afraid I won't be able to respond satisfactorily to your questions about these curvature measures generated with argument -m 0, because we didn't end

[2019-06-13 21:12] kalemaria commented on #182
Dear @binarybottle, thanks for your quick reply! Yes, I read issue #11 just today, before that I assumed that method 0 is the default (from the PLOS Comp. Biol. paper and the documentation it seemed like it's the best). Ok, I will try tomorrow -m 2, unfortunately it does not calculate the principle curvatures, which I think are more useful, because one can derive all other curvature measured from

[2019-06-14 07:04] joachimgiard commented on #182
Dear @kalemaria . I just read the code and there was indeed bug in the export function (curvatures should be correct, but Gaussian curvaure was exported in the 3 cases). I just committed a patch in master. I didn't try it since I don't have the correct environement to develop anymore. I'm not sure about the scales but it seems that the second series of graphs problem may be due to a too small neig

[2019-06-14 09:34] kalemaria commented on #182
Thanks, @joachimgiard! Just two lines. :-) I could not test it either, because I'm using Docker and don't know how to compile it there. @binarybottle, could you please try to compile it and update the container? Many thanks for your friendly support again!

[2019-06-14 18:50] binarybottle commented on #182
Thank you so much, @joachimgiard!
I just pushed an updated container to docker hub.
Please docker pull nipy/mindboggle, @kalemaria.

[2019-06-19 06:29] joachimgiard commented on #182
@kalemaria Could you test the new version?

[2019-06-19 11:45] kalemaria commented on #182
@joachimgiard and @binarybottle Yes, it worked, now there is a different output for each curvature. Thank you both for fixing it!

[2019-06-20 08:37] kalemaria commented on #182
@joachimgiard and @binarybottle Yes, it worked, now there is a different output for each curvature. Thank you both for fixing it!

[2019-06-20 08:37] #182 closed

[2019-06-20 18:26] hahaai commented on #178
Hi Arno,

I had the same issue today. After searched online, I found that Satra provided a different way to run the mind boggle and it works.

docker run --rm -ti -v $HOST:$DOCK nipy/mindboggle mindboggle123 $IMAGE --id $ID

https://github.com/nipy/mindboggle/issues/162

Thanks.

Best,
Lei

[2019-06-20 18:47] binarybottle commented on #178
OF COURSE!  Thank you, Lei!  Closing this issue!

[2019-06-20 18:47] #178 closed

[2019-06-20 18:59] binarybottle commented on #168
I am going to close this issue now that we have an updated docker container, updated instructions, and a working command to launch the jupyter notebook (from above):

`jupyter notebook /opt/mindboggle/docs/mindboggle_tutorial.ipynb --ip=0.0.0.0 --allow-root`

[2019-06-20 18:59] #168 closed

[2019-06-20 19:03] binarybottle commented on #169
Issue #168 has been resolved with the updated docker container, updated instructions, and a working command to launch the jupyter notebook:
`jupyter notebook /opt/mindboggle/docs/mindboggle_tutorial.ipynb --ip=0.0.0.0 --allow-root`

Thanks again, @PeerHerholz!  @g-a-t -- Please feel free to open this issue back up if you run into any trouble setting environment variables.

[2019-06-20 19:03] #169 closed

[2019-08-16 02:30] PeerHerholz commented on #177
That might be a `matplotlib` thingy. I had the same problem recently and solved it by downgrading `matplotlib` to `3.0.3` I think.

[2019-08-16 03:00] PeerHerholz commented on #148
re pandas parsing: @ltirrell already did a great job [here](https://github.com/corticometrics/fs2dicom/blob/master/fs2dicom/sr.py). If that's okay for you/sufficient/what you're looking for, I would give it a try, that is packing that functionality in one or a few nodes.

[2019-09-24 18:40] satra opened #185 "release version different from internal version"
@binarybottle - your release versions (see github releases for mindboggle) are different from internal versions. so etelemetry is getting misleading info from the source code and github.

[code]

where as internally it says: 1.3.6/7 now

[2019-09-24 18:49] binarybottle commented on #185
Okay -- just added a github v1.3.7 release:

https://github.com/nipy/mindboggle/releases/tag/v1.3.7

Does that take care of things?

[2019-09-24 20:26] satra commented on #185
that should help. there is an error that is cropping up in doctests because nipype is printing out a message. this could be avoided by importing nipype earlier.  but i have to think if this is indeed a change we want to make in how nipype reports the version change.

[2019-09-27 17:05] dhorkin opened #186 "header orientation direction data incorrect for 14/101 subjects"
@BEL-CO is using Mindboggle data to test our tissue segmentation algorithm. We discovered that 14 of the MRIs in the Mindboggle101 catalog have incorrect orientation direction data in the image headers. When opened in a viewer, you can see that the axial slices are incorrectly shown in the coronal view.

Specifically, these are the datasets where we observed the issue:

1. Extra-18_volumes
   1. H

[2019-10-04 11:02] PeerHerholz commented on #177
pinging @binarybottle to ask about current status: should I try to implement a corresponding fix?

[2019-10-04 13:23] satra commented on #177
@PeerHerholz - that would be great. perhaps a quick look to see if niwidgets can be used may also be helpful.

[2019-10-04 14:50] PeerHerholz commented on #177
@satra, on it! I'll try both (nilearn-matplotlib and niwidgets) [here](https://github.com/PeerHerholz/mindboggle/tree/surf_plots).

[2019-10-07 22:24] jling-NM opened #188 ""Shape_tables.a1 failed to run on host" error running on mindboggle_input_example"
Downloaded docker container 10/4/2019.
Downloaded mindboggle_input_example.zip and expanded to home directory.

Ran these commands:
CLI:

DOCKER CLI:
root@95c8ebfc8045:/# DOCK=/home/jovyan/work
EXAMPLE=$DOCK/mindboggle_input_example
FREESURFER_SUBJECT=$EXAMPLE/freesurfer/subjects/arno
ANTS_SUBJECT=$EXAMPLE/ants/subjects/arno
OUT=$DOCK/mindboggled
mindboggle $FREESURFER_SUBJECT --out $OUT --roygbiv

[2019-10-08 13:35] stnava opened #189 "Basal Forebrain labels"
hi

I am trying to "find" the basal forebrain labels that are alluded to here:

https://mindboggle.readthedocs.io/en/latest/labels.html

what I mean by "find" is see the volumetric labels overlaid on the original MRI data, ie the mindboggle_101_volumes from the 2019 release.

I am having two issues:   (1) finding the right label number in these data;  (2) finding a labeled image that has that numb

[2019-10-08 17:47] jling-NM commented on #188
After reviewing issue #175 and the June 11th announcement. i believe issue #175 may have returned or I'm not getting a recent image from docker hub.

[2019-10-09 13:31] stnava commented on #189
Found!

[2019-10-09 13:31] #189 closed

[2019-10-10 22:21] jling-NM commented on #188
I went to a different docker host, downloaded everything again and it works.

[2019-10-10 22:21] #188 closed

[2019-10-14 06:12] locta66 commented on #188
I have the same problem, even if I change my docker host and pull again. Which docker host do you use?

[2019-10-14 07:27] locta66 opened #190 "running example Error: Node Shape_tables.a1 failed to run on host xxx && UnicodeEncodeError"
running  `sudo docker run --rm -ti -v $HOST:$DOCK nipy/mindboggle mindboggle123 $IMAGE --id $ID`

error info：

    crash2txt(crashfile, dict(node=node, traceback=traceback))
  File "/opt/miniconda-latest/envs/mb/lib/python3.6/site-packages/nipype/utils/filemanip.py", line 753, in crash2txt
    fp.write('Node inputs:\n{}\n'.format(node.inputs))
UnicodeEncodeError: 'ascii' codec can't encode charact

[2019-10-14 18:00] jling-NM commented on #190
Also having possible regression of #175.

Command list:
docker pull nipy/mindboggle
Running nipype version 1.2.3 (latest: 1.2.3)
Running mindboggle version 1.3.7 (latest: 1.3.7)

HOST=/na/homes/jling
DOCK=/home/jovyan/work
ID=arno
docker run --rm -ti -v $HOST:$DOCK -p 5000:5000 nipy/mindboggle

DOCK=/home/jovyan/work
ID=arno
EXAMPLE=$DOCK/mindboggle_input_example
FREESURFER_SUBJECT=$EXAMPLE/freesu

[2019-10-15 15:11] locta66 commented on #190
@jling-NM  using the commands you provided, I encountered similar errors,  while the first error is occurred by **Node Shape_tables.a1 failed to run on host 1760134c2830.** , then it goes to save crash file and encountered a Unicode encode error.
It is strange for a software reporting error on example data, there must be something wrong! Do previous versions work well?

         [Node] Finished "M

[2019-10-15 20:33] jling-NM commented on #190
@locta66
I have not tried that. Interesting, however, that your error appears different than mine. Of course the UnicodeEncodeError that comes later is similar.

[2019-10-16 13:19] PeerHerholz commented on #177
quick update re nilearn: there will be a fix in the next release of [nilearn](https://github.com/nilearn/nilearn/pull/2070) and [nistats](https://github.com/nistats/nistats/issues/358) as mentioned by this [neurostars post](https://neurostars.org/t/plot-surface-error-it-is-not-currently-possible-to-manually-set-the-aspect-on-3d-axes/4852). As the problem is not related to nilearn but matplotlib (s

[2019-10-16 14:27] PeerHerholz opened #191 "tutorial on mybinder"
I was wondering if we should create a mybinder instance for the [tutorial](https://github.com/nipy/mindboggle/blob/master/docs/mindboggle_tutorial.ipynb). As far as I can tell, we would only need to include the [mindboggle_input_example](https://osf.io/3xfb8/) in the `Docker` image which should be fairly straightforward.

[2019-10-16 14:30] PeerHerholz opened #192 "add/provide Singularity image"
Should we add/provide a Singularity image in addition to the Docker image? I mean, converting is rather straightforward using e.g. `docker2singularity` or just `singularity pull` but as `neurodocker` supports it, it could be added to [neurodocker.sh](https://github.com/nipy/mindboggle/blob/master/install/neurodocker.sh).

[2019-10-16 14:47] PeerHerholz commented on #177
Downgrading `matplotlib` to `3.0.3` solves it and both, the static (`plot_surf`) and interactive plot (`view_surf`) are working:

![Screen Shot 2019-10-16 at 10 41 20 AM](https://user-images.githubusercontent.com/20129524/66930241-4df4cb00-f002-11e9-9468-4973c179c68d.png)
![Screen Shot 2019-10-16 at 10 44 53 AM](https://user-images.githubusercontent.com/20129524/66930251-50572500-f002-11e9-83be-69

[2019-10-16 21:22] PeerHerholz commented on #177
Re `niwidgets`: not sure about it, that is if what I did makes sense. I had to put the extracted values (e.g. depths) into a `.gii` as `niwidgets` requires that. To do so, I converted the `FreeSurfer surface` to `.gii`, loaded it using `nibabel`, exchanged the values in the first dimension with the depth values and saved it. When trying to plot it as an overlay in `niwidgets` nothing is visible, b

[2019-10-21 20:20] binarybottle commented on #185
When do you suggest I import nipype, or should I wait for your change in nipype?

[2019-10-21 20:22] binarybottle commented on #186
Thank you very much for alerting me to this!  I don't believe this should affect Mindboggle software, but I will look into this for the Mindboggle-101 dataset.

[2019-10-21 20:25] binarybottle commented on #191
What a great idea!  I had not heard of mybinder until now.  I take it that would make it much easier to maintain the tutorial, correct?  Are there any other advantages?

[2019-10-21 20:29] binarybottle commented on #192
Please feel free to add it to neurodocker.sh, as that would be great to include!

[2019-10-21 21:00] binarybottle commented on #190
@locta66 and @jling-NM -- Thank you very much for alerting me to the errors you are receiving!  I have reinstalled the newest version of Mindboggle and am running the same commands that both of you tried to see if I can replicate the error.  I will get back to you with an update soon...

[2019-10-21 21:01] binarybottle commented on #190
Indeed, I received the UnicodeEncodeError as well -- how strange!  Let me look into this...

[2019-10-22 02:17] binarybottle commented on #190
I am finding that I get an error when extracting sulci and when writing to the output shape tables.

*Error when extracting sulci*:
`mindboggle $FREESURFER_SUBJECT --out $OUT --no_shapes`

*Error when writing to shape tables*:
`mindboggle $FREESURFER_SUBJECT --out $OUT --no_sulci`

@satra -- I am having trouble locating the underlying bug in Mindboggle.  Usually such a UnicodeEncodeError is the re

[2019-10-22 05:45] locta66 commented on #190
Thank you for your attention!
I try to use 'try except' to wrap all the code where occured UnicodeEncodeError and just print out the
error message. It can now output all the tables and I can see some Error information now.
mindboggle $FREESURFER_SUBJECT --out $OUT > error_info.txt

By the way, could you provide a docker image as a temporary solution via dropbox or google? We really need the tools.

[2019-10-22 16:06] binarybottle commented on #190
@locta66 -- Thank you!  If you could point me to the specific lines of code that you pinpointed are causing this error, I would be more than happy to fix and push to docker hub!

[2019-10-22 18:46] PeerHerholz commented on #192
Sure thing, I'm on it. Will add it [here](https://github.com/PeerHerholz/mindboggle/tree/add-singularity).

[2019-10-22 18:50] PeerHerholz commented on #191
I'm not entirely sure if it would make maintaining the tutorial easier, but I guess it could as it could be run on a binder instance, removing the necessity to run it in a `docker`/`singularity` image. It might also be easier for new users as they could try it online without a local installation. Also introducing `mindboggle` within workshops would be more interactive by providing quick examples f

[2019-10-23 13:30] binarybottle commented on #185
@satra --

Why would I get a doctest error when the command in question is returning something (area_file)?

.2.3)

[2019-10-23 19:26] binarybottle commented on #190
@locta66 and @jling-NM -- All of my doctests seem to be running fine, except where there was a change in nipype.  The circleci tests began to break at the same time that nipype switched from 1.2.2 to 1.2.3.  I am rebuilding the docker image now using nipype 1.2.2 to test whether this is the culprit...

[2019-10-24 16:26] binarybottle commented on #190
Unfortunately, rebuilding with an earlier version of nipype didn't fix the issue.

[2019-11-01 07:20] locta66 commented on #190
Thank you! @binarybottle
I  could only print out all the information to a TXT file.  For that I am not familiar with mindboggle and the error message, I can not locate the error lines. I wonder if the file would contain any useful information.
https://drive.google.com/open?id=1eWki7-loP2qphh6zTgVwqzQOVBVVyD5j

[2019-11-03 17:52] binarybottle commented on #190
@satra -- I'm confused.  When I run the following command in the mindboggle docker container:

`mindboggle` $FREESURFER_SUBJECT --out $OUT --no_shapes

mindboggle successfully saves a sulcus file but generates the following error related to the sulcus node:

Can you help me figure out what might be going wrong?

[2019-11-04 20:52] PeerHerholz commented on #191
To get the tutorials running we would need to tackle #177 first. Is everyone ok with the proposed (potentially temporary) fixes there?

[2019-11-04 20:56] binarybottle commented on #177
Wow, nice workaround, @PeerHerholz!

[2019-11-04 20:59] binarybottle commented on #191
I think it's worth a go -- thank you, @PeerHerholz!  I think the advantages you listed would be a boon.

In the meantime, I'm currently struggling to find the source of the error in issue #190...

[2019-11-04 21:51] satra commented on #190
that unicode character is a tick mark. is there something in the codebase that uses the tick?

also this may be a function of LC settings as well.

you can also set the config option stop on first error to be true. that way you will likely know which node is crashing. then you can run that node specifically.

[2019-11-04 22:06] binarybottle commented on #190
I will search for a tick!

"LC settings"?

[2019-11-04 22:10] satra commented on #190
@djarecka - could you please take a quick look at this?  there should be no reason why we can't create a text file with unicode characters. we should allow that when writing the crashfile.

@binarybottle - this is the tick you are looking for: https://www.fileformat.info/info/unicode/char/2019/index.htm

[2019-11-05 00:56] binarybottle commented on #190
Found the offending back ticks!:

[code]

[2019-11-05 01:02] binarybottle commented on #192
Thank you, @PeerHerholz!

[2019-11-05 01:02] #192 closed

[2019-11-05 01:30] binarybottle commented on #190
Found two more:
features/fundi.py:35:    concentric rings toward the fold???s edge, selecting maximal values within
features/fundi.py:40:    can have spurious branching at the fold???s edge).

[2019-11-05 02:45] djarecka commented on #190
@satra - can take a look tomorrow

[2019-11-05 03:41] binarybottle commented on #190
@locta66 and @jling-NM -- Removing the unicode character in the docstrings of three files appears to have fixed this issue.  I have pushed a new nipy/mindboggle version to hub.docker.com after testing the docker container.

[2019-11-05 03:41] #190 closed

[2019-11-05 03:45] binarybottle commented on #185
@satra -- I moved nipype installation to earlier in the conda install line of neurodocker.sh, but circleci tests are still failing:

[2019-11-05 14:09] PeerHerholz commented on #177
@binarybottle should we go with the `nilearn` version first, till I figure out the `niwidgets` part completely?

[2019-11-05 14:51] binarybottle commented on #177
Sounds good!

Cheers,
@rno

Arno Klein, PhD
MATTER Lab Director
Joseph Healey Scholar
Senior Research Scientist
Child Mind Institute
101 E 56 St, NY, NY
matter.childmind.org
347-577-2091

________________________________
From: Peer Herholz <notifications@github.com>
Sent: Tuesday, November 5, 2019 9:45:26 AM
To: nipy/mindboggle <mindboggle@noreply.github.com>
Cc: Arno Klein <Arno.Klein@childmind.o

[2019-11-05 15:25] satra commented on #177
@PeerHerholz - while nilearn can plot surfaces, i'm not sure it can plot the shape features. hence it may limit what you can do.

in addition to niwidgets, you may want to take a look at vtk.js, which i know has been used in jupyter notebooks.

[2019-11-05 16:21] PeerHerholz commented on #177
@satra, yes. That's related to the examples and question I posted [a bit further up](https://github.com/nipy/mindboggle/issues/177#issuecomment-542738299). The example is based on depth values and the plotting seems to work (higher depth values further inside the cortex). The point I raised back then was how to tweak the plot to make it clearer and more interpretable. Was this your point? That alt

[2019-11-07 01:35] satra commented on #185
this is because the first time nipype is imported in a terminal interaction setting, it will try to check if you are running the latest version. this results in a stdout which you are seeing. one way to avoid the issue is to add another dummy line after that doctest.

we will have to figure out how best to change nipype behavior, but for now we are keeping this.

[2019-11-08 01:29] binarybottle commented on #185
By "dummy line after that doctest", do you mean an empty line ">>> " after the line:
`area_file = area(command, surface_file, verbose)`
or after the last line of the docstring?

[2019-11-11 20:59] Pulkit-Khandelwal opened #194 "visualization of eigenfunctions in laplace-beltrami operator"
Hi,

I got the spectrum in the laplace-beltrami operator. I was wondering how can I visualize the eigenfunctions (and export as a vtk file, for example the way the mean curvature was exported) as given in the notebook?

[2019-11-11 21:10] binarybottle commented on #194
We don't have a function currently set up to visualize this information, but the shape tables contain the Laplace-Beltrami coefficient per region, so you could create separate 3-D plots for each coefficient.

[2019-11-12 19:31] jling-NM opened #195 "mindboggle looking for /mri/orig/001.mgz when /mri/T1.mgz is more appropriate for longitudinal FreeSurfer data?"
mindboggle input by default is looking for `MRImgh.inputs.template = '%s/mri/orig/001.mgz`' which by definition doesn't exist for data processed by the FreeSurfer longitudinal pipeline(v5.3).

Unless there is some reason to use the original, uncorrected T1 it seems better to use `MRImgh.inputs.template = '%s/mri/T1.mgz'`

`/mri/T1.mgz` is also the input to the `antsCorticalThickness.sh` command li

[2019-12-02 21:21] cecs1 opened #196 "MIndboggle (latest) crashing on processing freesurfer 6 data"
Hello,
I'm trying to process some data through mindboggle on data that was ran successfully through Freesurfer 6. It doesn't matter which scan I use, the same error occurs.

I'm getting errors below (there are many after this of similar nature) - they appear to relate to the Surface_to_vtk routine.

Any advice appreciated.
Thanks,
Chris

191202-20:16:59,146 nipype.workflow INFO:
	 Workflow Mindbog

[2019-12-03 14:25] PeerHerholz commented on #196
Hi @cecs1,

thank you very much for posting this problem.

Before we go any further: are you using `Mindboggle` within a container (`docker`/`singularity`) or through the bare-metal installation?
That function wasn't changed in a while I think, hence I'm wondering where this is coming from...

Could you maybe also post an example of how you run `freesurfer` and `mindboggle`?

Best, Peer

[2019-12-03 21:40] cecs1 commented on #196
Thanks Peer.

I run the docker container version

docker run --rm -ti -v $HOST:$DOCK -p 5000:5000 nipy/mindboggle

Then, I set variables:

export HOST=/home/csteward
export DOCK=/home/jovyan/work
export ID=0315
export FREESURFER_OUT=$DOCK/freesurfer_subjects
export FREESURFER_SUBJECT=$FREESURFER_OUT/$ID
export OUT=$DOCK/mindboggled

Then  I run Mindboggle on the freesurfer 6 output (which was run

[2019-12-04 21:02] PeerHerholz commented on #196
Hi @cecs1,

thank you very much for the additional information.

Hm, interesting. I never saw that/heard of it before. How about you @binarybottle, @satra?

@cecs1 did you already try an older version of the `mindboggle container` ?
Regarding `freesurfer`: `mindboggle` installs it through [neurodocker](https://github.com/kaczmarj/neurodocker) which grabs a `min` version as you can see e.g., [here]

[2019-12-05 04:22] binarybottle commented on #196
I am afraid I haven't run into this problem before.
Based on the error, I would have guessed that there is an issue with how nibabel is dealing with the FS surface data, but it doesn't make sense to me that the FS data would be different when FS is run inside vs. outside the container.

[2019-12-05 14:27] PeerHerholz commented on #196
The inside vs. outside container FS data thingy indeed seems weird...

@cecs1 could you maybe try the following for both, the `recon-all` output from `freesurfer` within and outside a container:

`import nibabel as nb`
`surf = nb.freesurfer.read_geometry(surface_file)`

where `surface_file` is a `freesurfer` surface file.

[2019-12-05 16:07] kaczmarj commented on #196
@PeerHerholz you can inspect the contents of https://dl.dropbox.com/s/nnzcfttc41qvt31/recon-all-freesurfer6-3.min.tgz. it was made using the instructions in https://github.com/freesurfer/freesurfer/issues/70#issuecomment-316361886. the binaries are exactly the same as in freesurfer version 6.0.0, there are just fewer of them (the package was trimmed to only include things necessary for recon-all).

[2019-12-11 20:35] PeerHerholz commented on #196
Thx @kaczmarj for the information and pointers! @cecs1 do you perhaps have any updates?

[2020-02-25 17:57] ryanhammonds commented on #53
I am also seeing all 0s for the frontmarginal sulcus row in sulcus_shapes.csv for all subjects.

I am using version 1.3.8 in a singularity image. Freesurfer v6.0.0 was previously ran outside the container, while ants and mindboggle were ran from within the container. This happened in independent datasets.

[2020-03-26 19:03] xiaoninh opened #197 "Mindboggle runtime error"
Hi,
I am trying to do a test run using the one line command with the T1 image from the example input data. After almost 30 hours of running, I got an runtime error as followed:

Traceback (most recent call last):
  File "/opt/miniconda-latest/envs/mb/bin/mindboggle123", line 408, in <module>
    mbFlow.run(plugin=args.plugin)
  File "/opt/miniconda-latest/envs/mb/lib/python3.6/site-packages/nipype

[2020-03-27 00:47] PeerHerholz commented on #197
Issue is discussed in this [neurostars thread](https://neurostars.org/t/mindboggle-runtime-error-related-to-freesurfer-license/6507).

[2020-04-26 09:25] DMAlessandro opened #198 "Mindboggle as node of nipype pipeline"
Hello everyone,

I've been using your docker container quite successfully on single subjects one at the time, but now I wanted to move everything to a nipype pipeline.
It may be a stupid question but I would like to integrate the mindboggle script as a node inside a custom pipeline.
I have tried to wrap up the Freesurfer and Mindboggle commandline commands (provided by the docker container) inside

[2020-04-26 15:02] satra commented on #198
@9Alex6 - `mindboggle` and `mindboggle123` are both nipype workflows. so you should be able to connect them into any external workflow. by importing them. look at how mindboggle is itself imported into `mindboggle123`

[2020-04-27 17:04] jling-NM opened #199 "Shape table moments - how are they calculated?"
I am trying to verify statistical moments in mindboggle output “sulcus_shapes.csv”.

To do so, select a single structure from the file and focus on area and travel depth columns here:
|name|ID|area|travel depth: median|travel depth: mean|
|collateral sulcus|**23**|**2349.66863596863**|**5.9590169098**|6.48712380995582|
Note area and median values.

Now, open file “vertices.csv” at same location. S

[2020-04-27 17:45] PeerHerholz commented on #199
Ahoi hoi @jling-NM,

thank you very much for your post.
Mindboggle's method to generate the summary tables can be found here:
https://github.com/nipy/mindboggle/blob/master/mindboggle/mio/tables.py .

As for your example: could you maybe provide further details like the function you are using for computing these values (please have in mind that a lot of parts can make a difference: the precise fun

[2020-04-28 09:48] DMAlessandro commented on #198
Hello again,
Thank you for the support, but seems like that wrapping up mindboggle commandline from inside a nipype pipeline works well already.
Apparently, the real error that stops the entire process at Freesurfer level, is due to a missing reconbatchjobs, that would orchestrate the whole Freesurfer recon-all -all process.
As an example, here is part of the log file from freesurfer run inside Mi

[2020-04-28 19:07] jling-NM commented on #199
Thank you. These table values appear to be area-weighted when I look at https://github.com/nipy/mindboggle/blob/master/mindboggle/mio/tables.py

[2020-04-28 19:07] #199 closed, assigned to nobody

[2020-06-05 12:36] DMAlessandro commented on #198
As an update on this:
I managed to find the error. Apparently it is a problem related to Freesurfer installation, deep into nipy/nipype docker image.
In both nipype and Mindboggle docker images it seems like "reconbacthjobs" is missing. This command is necessary when running recon-all with different parameters and let it work straight to the end.

If you agree, we can close this issue, since it is

[2020-06-05 12:46] DMAlessandro opened #200 "New UnicodeEncodeError in pipeline (--thickinthehead)"
Hello,

I'm using the docker container of the latest release and while it seems to work on the examples, while testing mindboggle on my data I get UnicodeEncodeError. I saw in other issues you then solved it with another version to the Dockerfile,here are the errors that I get. On different subjects I get different errors when using Mindboggle with Freesurfer, ANTs, and specifying --thickinthehead

[2020-06-05 13:32] binarybottle commented on #198
Thank you very much for the clarification and follow-up, @9Alex6 !  I will close this issue, but welcome any further comments!

[2020-06-05 13:32] #198 closed, assigned to nobody

[2020-06-05 13:50] binarybottle commented on #200
Thank you for raising this issue, @9Alex6 !

I would warn you that I am concerned about the limitations of the thickinthehead algorithm:
  - https://github.com/nipy/mindboggle/issues/149
  - https://github.com/nipy/mindboggle/issues/150

I no longer list/link thickinthehead in the primary documentation for mindboggle (https://mindboggle.readthedocs.io/en/latest/) because of the above concerns, but

[2020-06-05 13:50] #200 closed, assigned to nobody

[2020-12-01 01:29] tanjia123456 opened #201 "how to install mindboggle package?"
Hello, I have install the nipype package using 'pip install nipype', but 'pip install mindboggle' can't install it. Do you know how to solve it?

[2020-12-01 01:30] tanjia123456 commented on #201
By the way, is there any ways to convert the vtk to annot?

[2020-12-01 04:35] binarybottle commented on #201
Please follow the instructions in the documentation:
https://mindboggle.readthedocs.io/en/latest/#installation

[2020-12-01 04:35] #201 closed, assigned to nobody

[2020-12-01 04:36] #197 closed, assigned to nobody

[2020-12-01 06:11] tanjia123456 commented on #201
But I find no way to convert vtl to .annot file, only find .annot to vtk file. This package support vtk to annot function?

[2020-12-01 06:43] tanjia123456 commented on #201
Sorry. I have find solution. Thanks

[2020-12-04 06:10] tanjia123456 opened #202 "Data error"
Hello,  I have download the mindboggle datasets in https://osf.io/wzqmg/. But I found seven data have problem.
I want to template the lh.area lh.labels.DKT25.manual.annot to fsaverage5 space using mri_surf2surf
1、OASIS-20-1: when I template the lh.labels.DKT25.manual.annot to Fsaverage5, It occurs can't allocate memory
2、HLN-12-1： the lh.area lh.volume lh.jac_white doesn't match the surface(148208

[2020-12-11 19:35] binarybottle commented on #202
Thank you for alerting us!  I will speak with the team that originally edited these labels.

[2020-12-12 13:41] tanjia123456 commented on #202
Hello, if you have edited these labels, please tell me. What's more, the maximum tag value is 35 in DKT31 file, but there are no 1, 4, 32, 33 tags, so why use these tags? Why not just let the largest label be 31? Hope you can answer.

[2020-12-21 07:32] tanjia123456 opened #203 "where to download the source data ?"
Hello, where to download the source data？I want to use recon -all to process the mindboggle datasets.

[2020-12-21 07:48] tanjia123456 commented on #203
such as Twins-2-1.nii file

[2020-12-21 13:25] binarybottle commented on #203
https://osf.io/yhkde/
  - Mindboggle101_individuals
    - Mindboggle101_release3
      - Mindboggle101_volumes
        - Extra-18_volumes

[2020-12-21 13:25] #203 closed, assigned to nobody

[2020-12-21 13:39] tanjia123456 commented on #203
Hello, sorry to bother you again, I have download the files.
t1weighted_brain.nii.gz
t1weighted_brain.MNI152.nii.gz
t1weighted.nii.gz
t1weighted.MNI152.nii.gz
labels.DKT31.manual+aseg.nii.gz
labels.DKT31.manual+aseg.MNI152.nii.gz
labels.DKT31.manual.nii.gz
labels.DKT31.manual.MNI152.nii.gz

If I want to get the file such as yours freesurfer_output, which file should I use ? such as the Mindboggle1

[2020-12-21 13:52] binarybottle commented on #203
Are you having trouble seeing the folders within MindLogger101_individuals?

https://osf.io/wzqmg/

[2020-12-21 14:12] tanjia123456 commented on #203
I'm not familiar with it. I don't know which file you use. what'm more, if I use the wrong file will waste 8 hours！------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;&quot;Arno&amp;nbsp;Klein&quot;<notifications@github.com&gt;
发送时间:&nbsp;2020年12月21日(星期一) 晚上9:52
收件人:&nbsp;&quot;nipy/mindboggle&quot;<mindboggle@noreply.github.com&gt;;
抄送:&nbsp;&quot;tanjia123456&quot;<1248742467@qq.com&g

[2020-12-22 03:20] tanjia123456 opened #204 "runing error"
Hello, The first four commands can be run, but the last four will report errors. Do you know where the error is？
recon-all -i t1weighted_brain.MNI152.nii.gz -s bert1 -all
recon-all -i t1weighted_brain.nii.gz -s bert2 -all
recon-all -i t1weighted.nii.gz -s bert3 -all
recon-all -i t1weighted.MNI152.nii.gz -s bert4 -all

recon-all -i labels.DKT31.manual.nii.gz -s bert5 -all
recon-all -i labels.DKT31.

[2020-12-22 06:17] binarybottle commented on #204
Have you tried to run the mindboggle command from the command line?

[2020-12-22 06:22] tanjia123456 commented on #204
No, I just need to process 6 subjects. What does it mean to run the mindbogle command from the command line？

[2020-12-22 06:23] binarybottle commented on #204
Please read the documentation on the mindboggle.info software site.

[2020-12-22 12:26] tanjia123456 commented on #204
I have read it, but i haven't found it. could you please tell me? I just want to get lh.labels.DKT31.manual.annot file

[2020-12-22 23:21] binarybottle commented on #204
Wait, I am confused.  Please tell me exactly what you want to do here.  Do you want to convert manually labeled Mindboggle-101 surface labels to FreeSurfer .annot files, since you specify "manual" files in the commands above, or do you want to use the mindboggle software to automatically label your own brain images?

[2020-12-23 01:11] tanjia123456 commented on #204
Yes, I want to convert manually labeled Mindboggle-101 surface labels to FreeSurfer .annot files. I found out that the MMRR-3T7T-1 subjects lacked the lh.labels.DKT31.manual.annot file, so I wanted to use labels.DKT31.manual.nii.gz or other files to get the above file.

[2020-12-23 01:15] tanjia123456 commented on #204
I was going to convert lh.labels.DKT31.manual.vtk to lh.labels.DKT31.manual.annot, but I don’t know how to convert it.

[2020-12-23 04:56] binarybottle commented on #204
I know how to convert .annot files to .vtk files, and FS .label to .annot files, but I don't know how to convert .vtk to .annot files.  I tried to find out 8 years ago but didn't receive a response:
https://www.mail-archive.com/freesurfer@nmr.mgh.harvard.edu/msg24431.html

[2020-12-23 05:17] tanjia123456 commented on #204
I see your questions in freesurfer maillist，So how do you make your lh.manalDTK31.annot file？maybe this will be a solution. ------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;&quot;Arno&amp;nbsp;Klein&quot;<notifications@github.com&gt;
发送时间:&nbsp;2020年12月23日(星期三) 中午12:56
收件人:&nbsp;&quot;nipy/mindboggle&quot;<mindboggle@noreply.github.com&gt;;
抄送:&nbsp;&quot;tanjia123456&quot;<124874246

[2020-12-23 05:37] binarybottle commented on #204
I hired the company Neuromorphometrics to manually edit FreeSurfer surface labels.

[2020-12-23 05:50] tanjia123456 commented on #204
Then I want to know, how long do you plan to add the missing label files in the data set? I am also doing cortex segmentation, thank you very much for the public data set.

[2020-12-24 05:10] binarybottle commented on #204
I'm sorry, but I don't understand your question.  Please clarify.

[2020-12-24 06:12] tanjia123456 commented on #204
I found the freesurfer_output/MMRR-3T7T-1 missing the lh.manalDTK31.annot file, I don’t know how long you can make up.

[2021-01-12 07:24] tanjia123456 opened #205 "OASIS-TRT-20-1 appears can't allocate memory in mindboggle dataset"
Hello, when I use mri_surf2surf conmand in OASIS-TRT-20-1 file
`mri_surf2surf --srcsubject OASIS-TRT-20-1 --trgsubject fsaverage5 --hemi lh --sval-annot /home/tj/application/freesurfer/subjects/OASIS-TRT-20-1/label/lh.labels.DKT31.manual.annot  --tval  /home/tj/application/freesurfer/subjects/min_template/OASIS-TRT-20-1-target/lh.labels.DKT31.manual.annot` it appears can't allocate memory error.

[2021-03-16 07:57] tanjia123456 opened #206 "datasets update"
Hello, I'm sorry to have come to disturb you again
The six files (twins-2, mmrr-3t7t, hln-12-2, oasis-20-1) mentioned to you in mindboggle dataset have been damaged. Would you mind sending me the intact files? My email address: 1248742467@qq.com

[2021-03-19 01:20] butellyn opened #207 "Importing mindboggle"
I have a super simple question. I have built a docker image for which I would like to install this library. I am able to install nipy (`RUN pip install --user nipy==0.4.2`), but when I import it in a docker shell, I get the following error:
`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'nipy'`

And `mindboggle` itself does not appear

[2021-03-22 18:57] shnizzedy commented on #207
#### "No module named 'nipy'"

`Traceback (most recent call last): File "<stdin>", line 1, in <module> ModuleNotFoundError: No module named 'nipy'`

pip is installing in a different environment than the one in which you're trying to import it.

Depending on the rest of your Dockerfile and how you're entering your container there are different ways of matching environments, but the basic idea is yo

[2021-03-22 19:39] shnizzedy opened #208 "📌 Pin versions of dependencies"
- [x] ANTs=[b43df4bfc8](https://github.com/nipy/mindboggle/blob/bc10812979d42e94b8a01ad8f98b4ceae33169e5/install/neurodocker.sh#L108)
- [x] FreeSurfer=[6.0.0-min](https://github.com/nipy/mindboggle/blob/bc10812979d42e94b8a01ad8f98b4ceae33169e5/install/neurodocker.sh#L109)

https://github.com/nipy/mindboggle/blob/bc10812979d42e94b8a01ad8f98b4ceae33169e5/install/neurodocker.sh#L59-L61

- [x] graphvi

[2021-04-01 21:35] sgiavasis commented on #206
Hi @tanjia123456,

I can try to help you with this issue, but I may need some more info from you before I contact the team that originally curated/labelled the dataset.

I assume this is a continuation of this thread: https://github.com/nipy/mindboggle/issues/202

- How did you perform the mapping of `lh.labels.DKT25.manual.annot` to the `fsaverage5` template space? I'd like to try to reproduce th

[2021-04-01 21:47] #208 closed, assigned to nobody

[2021-04-02 01:39] tanjia123456 commented on #206
Hello,
For the first question, I used the mri_surf2surf command to register, specifically:&nbsp;
mri_surf2surf --srcsubject OASIS-TRT-20--1 --trgsubject fsaverage5 --hemi lh --sval-annot /home/tj/application/freesurfer/subjects/OASIS-TRT-20-1/label/lh.labels.DKT31.manual.annot&nbsp; --tval&nbsp; &nbsp;/home/tj/application/freesurfer/subjects/min_template/OASIS-TRT-20-1-target/lh.labels.DKT31.manua

[2021-05-19 16:31] rsiugzda opened #211 "in singularity cannot execute binary file: Exec format error"
I am trying to run singularity on cluster:

singularity run
-B /imaging/pilots/sub-01/:/home/jovyan/work
-B /imaging/soft/freesurfer/6.0.0/x86_64/license.txt:/config/license.txt
-e mindboggle.simg
/home/jovyan/work/anat/T1w.nii.gz

the error is:
/neurodocker/startup.sh: line 5: /home/jovyan/work/anat/T1.nii.gz: cannot execute binary file: Exec format error

I saw the similar problem on docker. Any

[2021-05-20 08:14] rsiugzda commented on #211
solved with:

mindboggle123 /home/jovyan/work/anat/T1w.nii.gz

[2021-05-20 13:59] shnizzedy commented on #211
I'm glad you were able to spot the issue (missing the command). We've seen some issues with Mindboggle on clusters over the past year or so, so please let us know if you have success or more difficulties.

Thanks!

[2021-05-20 13:59] #211 closed, assigned to nobody

[2021-05-20 21:11] rsiugzda commented on #211
sure 😉

________________________________
From: Jon Clucas ***@***.***>
Sent: 20 May 2021 15:59:43
To: nipy/mindboggle
Cc: Roma Siugzdaite; Author
Subject: Re: [nipy/mindboggle] in singularity cannot execute binary file: Exec format error (#211)

I'm glad you were able to spot the issue (missing the command). We've seen some issues with Mindboggle on clusters over the past year or so, so please let

[2021-11-30 05:31] tanjia123456 opened #212 "Which file should be selected as the result of freesurfer automatic segmentation?"
Hello, I want to compare the result of freesurfer automatic segmentation with the result of my proposed method. I plan to use Lh.label.dkt31.annot as the ground truth, so which file should BE selected as the result of freesurfer automatic segmentation? In addition, have you done any comparison, have you done any literature?

[2022-06-08 06:22] #194 closed

[2022-08-03 02:53] MarioXu opened #213 "running error"
Dear Sir
The error is below  when I am running a test, how to fixed it ?  Thanks a lot !

sudo docker run --env-file /home/xubin/.env --rm -ti -v $HOST:$DOCK nipy/mindboggle mindboggle123 $IMAGE --id $ID
[sudo] password for xubin:
INFO: /root/matlab/startup.m does not exist ... creating
Running mindboggle version 1.3.8 (latest: 1.3.8)
220803-02:44:13,303 nipype.utils INFO:
	 Running nipype version

[2022-08-03 10:55] PeerHerholz commented on #213
Hi @MarioXu,

thank you very much for opening this issue.

Could you maybe provide further information re your setup and how you tried to run `mindboggle`, ie. what `OS` are you using and what do `HOST` and `DOCK` refer to? The error itself suggests that the `path` inside/outside the container is not correctly specified/mapped.

Cheers, Peer

[2022-08-11 13:40] br-cpvc opened #214 "Some Mindboggle-101 dataset v3 labels.DKT31.manual+aseg.MNI152.nii.gz files contain labels 1000, 2000, 1001, 2001, 1032, 2032, 1033, and 2033"
Dear Mindboggle project maintainers.

I am currently trying to use the Mindboggle-101 dataset v3 'labels.DKT31.manual+aseg.MNI152.nii.gz' volume label files from https://osf.io/9ahyp/ as the basis for a multi-atlas segmentation.

During this work I have discovered that some of the Mindboggle-101 'labels.DKT31.manual+aseg.MNI152.nii.gz' files contain labels that I belive should not be included, as

[2022-08-23 23:30] hypersad commented on #167
excuse me still not get it
which function are you referring to plotting the heatmap

[2022-09-06 20:55] amygutierrez commented on #214
Hello,
Thank you for bringing this to our attention! I will be looking over this issue and will get back with any feedback.